<ion-slides [options]="slidesOptions" class="ion-margin-top" *ngIf="multiImagen; else uno">
  <ion-slide *ngIf="lstImagene[0] !== undefined">
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/tinBitoo/Web/PROVEEDOR/Proveedor500.png"
        [srcset]="lstImagene[0]" />
    </ion-card>
  </ion-slide>
  <ion-slide *ngIf="lstImagene[1] !== undefined">
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/tinBitoo/Web/PROVEEDOR/Proveedor500.png"
        [srcset]="lstImagene[1]" />
    </ion-card>
  </ion-slide>
  <ion-slide *ngIf="lstImagene[2] !== undefined">
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/tinBitoo/Web/PROVEEDOR/Proveedor500.png"
        [srcset]="lstImagene[2]" />
    </ion-card>
  </ion-slide>
  <ion-slide *ngIf="lstImagene[3] !== undefined">
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/tinBitoo/Web/PROVEEDOR/Proveedor500.png"
        [srcset]="lstImagene[3]" />
    </ion-card>
  </ion-slide>
</ion-slides>
<ng-template #uno>
  <div>
    <img src="https://ecoevents.blob.core.windows.net/comprandoando/tinBitoo/Web/PROVEEDOR/Proveedor500.png" [srcset]="lstImagen" style="border-radius: 20px;"/>
  </div>  
</ng-template>
