img{
    height: 100px;
    
}

hr {
    height: 3px !important;
    width: 50% !important;
    background: #FF1DBD !important;
    display: block !important;
    margin-top: none;
  }

  .sinMargin {
    margin: 0;
    color: black;
}

.promocion {
    font-size: 16px;
    font-weight: bold;
}


.modalPromocion {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contenedorPromocion {
  position: relative;
}

.imagePromocion {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 100%;
}

.contenedorPromocion:hover .imagePromocion {
  opacity: 0.3;
}

.contenedorPromocion:hover .modalPromocion {
  opacity: 1;
}

.botonPromocion {
  padding: 10px;
  background: #FF1DBD;
  color: white;
  border-radius: 20px
}

.modal-overlayPromocion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
    font-weight: bold;
    color:  #FF1DBD;
    font-size: 18px;
}

.rosa {
    color: #FF1DBD;
}hr {
    height: 3px !important;
    width: 50% !important;
    background: #FF1DBD !important;
    display: block !important;
    margin-top: none;
  }

  .sinMargin {
    margin: 0;
    color: black;
}

.promocion {
    font-size: 16px;
    font-weight: bold;
}

label {
    font-weight: bold;
    color:  #FF1DBD;
    font-size: 18px;
}

.rosa {
    color: #FF1DBD;
}

.spinner-color {
    --color: #FF1DBD;
  }
  
  .spinner {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .message {
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF1DBD;
  }
  .negritas {
    color: black;
    font-weight: bolder;
}
  a {
    text-decoration: none;
    color: white;
}
.lista {
  display: flex;
  justify-content: space-between;
  }
  
  .list {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  border-radius: 10px;
  }
  
  ul {
  display: flex;
  justify-content: space-between;
  }
  
  ul li {
  list-style: none;
  }
