<ion-header translucent>
  <ion-toolbar class="tolbar">
    <ion-title>{{anuncio_promo}}</ion-title>
    <ion-buttons slot="end" (click)="cerrar()">
      <ion-button>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card class="ion-text-center ion-margin">
    <img [src]="promocionTO.url_imagen_banner" />

    <ion-card-content *ngIf="!loader">
      <br>
      <ion-label class="message">
        cargando
      </ion-label>
      <div class="spinner">
        <ion-spinner class="spinner-color"></ion-spinner>
      </div>
      <br>
    </ion-card-content>

    <div *ngIf="promocionTO.id_tipo_promocion===2 && loader ">
      <ion-row>
        <ion-col class="ion-text-center" (click)="masInformacion(promocionTO)">
          <h1 class="sinMargin rosa">{{ promocionTO.nombre_comercial }}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h2 class="sinMargin">{{ descripcion }} </h2>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col class="ion-text-center">

          <h2 class="sinMargin">Promoción</h2>
          <br>
          <h2 class="sinMargin promocion">{{promocionTO.promocion}}</h2>

        </ion-col>
      </ion-row>

      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col size="6">
            <label *ngIf="promocionTO.porcentaje !== null">{{ promocionTO.porcentaje}} %</label>
            <span *ngIf="promocionTO.porcentaje !== null" class="promocion"> de descuento</span>
          </ion-col>
          <ion-col *ngIf="idPersona!=null" size="6">
            <ion-button (click)="crearModal()" class="bg-naranja" size="small" mode="ios" expand="full">
              Solicitar Cupón
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <ion-button (click)="compartir(promocionTO)" shape="round" fill="outline" size="small" color="danger">
            <ion-icon name="share-social-outline" slot="start"></ion-icon>
            Compartir
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h2 class="promocion" style="color: grey;">{{ promocionTO.terminos }}</h2>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col class="ion-text-center">
          <h2 class="sinMargin rosa" *ngFor="let org of promocionTO.organizaciones">{{org.nombre}}</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center" *ngFor="let dia of promocionTO.dias">
          <h2 class="promocion">Quedan <span style="color: #FF1DBD;">{{ promocionTO.restanDias }} días</span>
          </h2>
          <h2 class="promocion">Aplica:
            <span style="color: #FF1DBD;"> {{formatoDias(dia.dias)}} de {{dia.hora_inicio}} a {{dia.hora_fin}} </span>
          </h2>
        </ion-col>
      </ion-row>

      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <label>CONTACTA AL PROVEEDOR</label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <p class="promocion">
              Dirección: {{ promocionTO.calle }} {{ promocionTO.numero_ext }} {{ promocionTO.colonia }}, {{ promocionTO.nombre_localidad !== undefined ? promocionTO.nombre_localidad + ', ': '' }}{{ promocionTO.nombre_municipio }}, {{promocionTO.nombre_estado }}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center" *ngIf="blnPermisoUbicacion">
             <h2 class="promocion">A {{ distanciaNegocio}} Km cerca de tí.</h2>
             <ion-badge color="danger"><a href="https://www.google.com/maps/dir/?api=1&origin={{miLat}},{{miLng}}&destination={{promocionTO.latitud}},{{promocionTO.longitud}}"
              target="_blank">Ir al lugar</a></ion-badge>
          </ion-col>
          <ion-col size="12" class="ion-text-center" *ngIf="!blnPermisoUbicacion">
            <h2 class="aDefault promocion" matTooltip="Bitoo no puede obtener tu ubicación. Por favor activa los permisos de ubicación del navegador para poder determinar la distancia a la que se encuentra el negocio">
                Distancia desconocida
            </h2>
         </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <h2>Enviale un whats: <a href="https://api.whatsapp.com/send?phone=+52{{celular}}" target="_blank" style="background-color: #1c7430" class="text-white">
              {{celular}}
            </a></h2>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


    <div *ngIf="loader && promocionTO.id_tipo_promocion===2">

      <div *ngIf="!existeSesion || existeAfl ">
        <ion-label>
          <h1>
           <!-- <strong>{{ promocionTO.promocion }}</strong>-->
          </h1>
        </ion-label>
        <hr>
        <div *ngIf="promocionTO.organizaciones!=null">
          <h6>Esta promoción aplica solo para :</h6>

         <ion-label *ngFor="let org of promocionTO.organizaciones"> <b *ngIf="promoAfil === true">{{org.nombre}} / </b> </ion-label>
          <ion-label *ngIf="promoPublico === true"> <b >Público en general </b> </ion-label>
          <h6 *ngIf="!existeSesion">Regístrate o inicia sesión para disfrutrar de estos beneficios. </h6>
          <h6 *ngIf="existeAfl && existeSesion && !promoPublico">Regístra tu afiliación a la que perteneces para disfrutrar de estos beneficios.</h6>

        </div>
      </div>
    </div>


    <div *ngIf="loader && promocionTO.id_tipo_promocion===1">
      <ion-row (click)="masInformacion(promocionTO)">
        <ion-col class="ion-text-center" >
          <h1 class="sinMargin rosa">{{ promocionTO.nombre_comercial }}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h2 class="sinMargin">{{ promocionTO.descripcion }} </h2>
        </ion-col>
      </ion-row>
      <hr>
        <ion-row>
          <ion-col class="ion-text-center">
            <div>
              <h2 class="sinMargin">Anuncio</h2>
            </div>
          </ion-col>
        </ion-row>
      <div>
        <ion-row>
          <ion-col class="ion-text-center">
            <h2 class="sinMargin promocion">{{ promocionTO.promocion }} </h2>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col class="ion-text-center">
            <h2 class="promocion" style="color: grey;">{{ promocionTO.terminos }} </h2>
          </ion-col>
        </ion-row>
      </div>      
       <!-- ----- VISUALIZACION Y REPRODUCCION DE VIDEO EN ANUNCIO DE NEGOCIO VIP --- -->
      <div *ngIf="promocionTO.url_video !== null && promocionTO.id_tipo_promocion===1 && promocionTO.vip === 1">
      <video controls autoplay *ngIf="promocionTO.url_video != ''" width="100%" height="300">
      <source type="video/mp4" src="{{promocionTO.url_video}}">
      </video>
      </div>
      <!-- ----- ------------- --- -->  
      <ion-row>
        <ion-col size="12">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="ion-text-center">
                    <label>CONTACTA AL PROVEEDOR</label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-text-center">
                    <p class="promocion">
                      Dirección: {{ promocionTO.calle }} {{ promocionTO.numero_ext }} {{ promocionTO.colonia }}, {{ promocionTO.nombre_localidad !== undefined ? promocionTO.nombre_localidad + ', ': '' }}{{ promocionTO.nombre_municipio }}, {{promocionTO.nombre_estado }}
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-text-center" *ngIf="blnPermisoUbicacion">
                     <h2 class="promocion">A {{ distanciaNegocio }} Km cerca de tí.</h2>
                     <ion-badge color="danger"><a href="https://www.google.com/maps/dir/?api=1&origin={{miLat}},{{miLng}}&destination={{promocionTO.latitud}},{{promocionTO.longitud}}"
                      target="_blank">Ir al lugar</a></ion-badge>
                  </ion-col>
                  <ion-col size="12" class="ion-text-center" *ngIf="!blnPermisoUbicacion">
                    <h2 class="aDefault promocion" matTooltip="Bitoo no puede obtener tu ubicación. Por favor activa los permisos de ubicación del navegador para poder determinar la distancia a la que se encuentra el negocio">
                        Distancia desconocida
                    </h2>
                 </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-text-center">
                    <h2>Enviale un whats: <a href="https://api.whatsapp.com/send?phone=+52{{promocionTO.celular}}" target="_blank" style="background-color: #1c7430" class="text-white">
                      {{promocionTO.celular}}
                    </a></h2>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col size=12>
                    <div (click)="motrarContacto = !motrarContacto;" class="list">
                      <ul>
                        <li>{{ promocionTO.estatus.tipo === 1 ? 'Abierto' : 'Cerrado'}}</li>
                        <li class="lista">
                          <div>
                            {{ promocionTO.estatus.mensaje }}
                          </div>
                          <div style="margin: 0px 5px" *ngIf="!motrarContacto" >
                              <ion-icon name="arrow-up-outline"></ion-icon>
                          </div>
                          <div style="margin: 0px 5px" *ngIf="motrarContacto">
                            <ion-icon name="arrow-down-outline"></ion-icon>
                          </div>
                        </li>
                      </ul>
                      <div style="margin: 0px 5px" *ngIf="!motrarContacto && promocionTO.estatus!==undefined">
                        <ion-list>
                          <ion-item *ngFor="let dia of promocionTO.diasArray">
                            <ion-grid>
                              <ion-row class="lista">
                                <ion-col><p [ngClass]="{'negritas':dia.id === hoy}">{{ dia.dia }}</p></ion-col>
                                <ion-col *ngIf="dia.horarios.length > 0">
                                  <span *ngFor="let h of dia.horarios; index as i ">
                                    <p class="negritas">{{h.texto}}{{i}}</p>
                                  </span>
                                </ion-col>
                                <ion-col *ngIf="dia.horarios.length === 0">
                                  <ion-badge color="danger">Cerrado</ion-badge>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-item>
                        </ion-list>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </ion-col>
      </ion-row>
      <!--ion-label> Descripción de promo/anuncio redundante ya esta arriba
        <h1>
          <strong>{{ promocionTO.promocion }}</strong>
        </h1>
      </ion-label-->
      <hr>
    
    
    
      <ion-label><strong>{{
          "Del " + promocionTO.fecha_inicio + " al " + promocionTO.fecha_fin
          }}</strong></ion-label>
                  
    </div>
  </ion-card>
</ion-content>
        
