<ion-header translucent>
  <ion-toolbar class="tolbar">
    <ion-title mode="ios" *ngIf="promocionTO.id_tipo_promocion===2">Promoción</ion-title>
    <ion-title mode="ios" *ngIf="promocionTO.id_tipo_promocion===1">Anuncio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()" class="customExit">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-modal-info-promocion></app-modal-info-promocion>
</ion-content>
