<ion-header>
  <ion-toolbar class="tol-bar">
    <ion-title>Promocion</ion-title>
    <ion-buttons slot="end">
      <ion-button class="blanco" (click)="dismissModal()">
        <ion-icon class="blanco" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="promoContainer">
    <!-- <div style="background-image: url({{promocion.url_imagen}});" class="imgPromo">
      <ion-button>Ver mas</ion-button>
    </div> -->
    <div class="imgPromo">
      <img src="{{promocion.url_imagen}}" alt="Descripción de la imagen">
      <button (click)="verMas()">Ver más</button>
    </div>
    <div class="colorText titulo"><span>{{promocion.nombre_comercial}}</span></div>
    <div class="descripcion">
      {{promocion.descripcion}}
    </div>
    <div class="lineaRosa"></div>
    <div class="colorText tipoPromo">{{promocion.tipo_promocion}}</div>
    <div class="colorText nombrePromo">{{promocion.promocion}}</div>
    <div class="colorText cuponPromo">
      <div class="colorText porcentaje">
        <span>{{promocion.porcentaje}}%</span> de descuento
      </div>
      <div class="colorText downloadCupon" *ngIf="idPersona!=null">
        <ion-button (click)="crearModal()" class="bg-naranja" size="small" mode="ios" expand="full">
          Solicitar Cupón
        </ion-button>
      </div>
    </div>
    <div class="colorText compartirPromo">
      <ion-button (click)="compartir(promocion)" shape="round" fill="outline" size="small" color="danger">
        <ion-icon name="share-social-outline" slot="start"></ion-icon>
        Compartir
      </ion-button>
      <!-- <ion-icon name="share-social-outline" slot="start"></ion-icon>
      Compartir -->
    </div>
    <div class="colorText termCondiciones">{{promocion.terminos}}</div>

    <div class="convenioPromo"><span>{{promocion.organizaciones[0].nombre}}</span></div>

    <div class="diasPromo">
      Quedan <span>{{diasRestantes}} días</span>, Aplica:
      <span>{{diAplica}} de {{listaDias[0].hora_inicio}} a {{listaDias[0].hora_fin}}</span>
    </div>

    <div class="Proveedor">
      contacta al proveedor
    </div>
    <div class="direccion">
      Dirección: {{ promocion.calle }} {{ promocion.numero_ext }} {{ promocion.colonia }}, {{ promocion.nombre_localidad
      !== undefined ? promocion.nombre_localidad + ', ': '' }}{{ promocion.nombre_municipio }},
      {{promocion.nombre_estado }}
    </div>

    <div class="direccionMapa">
      <div class="lugar" *ngIf="blnPermisoUbicacion">
        <h2 class="promocion">A {{ promocion.distanciaNegocio}} Km cerca de tí.</h2>
        <ion-badge color="danger"><a
            href="https://www.google.com/maps/dir/?api=1&origin={{miLat}},{{miLng}}&destination={{promocion.latitud}},{{promocion.longitud}}"
            target="_blank">Ir al lugar</a></ion-badge>
      </div>
      <div class="distancia" *ngIf="!blnPermisoUbicacion">
        <h2 class="aDefault promocion"
          matTooltip="TinBitoo no puede obtener tu ubicación. Por favor activa los permisos de ubicación del navegador para poder determinar la distancia a la que se encuentra el negocio">
          Distancia desconocida
        </h2>
      </div>
    </div>

    <div class="whatsapp">
      <h2>Enviale un whats: <a class="whatsappNumber"
          href="https://api.whatsapp.com/send?phone=+52{{promocion.celular}}" target="_blank">
          {{promocion.celular}}
        </a></h2>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size=12>
          <div (click)="motrarContacto = !motrarContacto;" class="list">
            <ul>
              <!-- <li>{{ promocion.estatus.tipo === 1 ? 'Abierto' : 'Cerrado'}}</li> -->
              <li class="lista">
                <div>
                  <!-- {{ promocion.estatus.mensaje }} -->
                </div>
                <div style="margin: 0px 5px" *ngIf="!motrarContacto">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                </div>
                <div style="margin: 0px 5px" *ngIf="motrarContacto">
                  <ion-icon name="arrow-down-outline"></ion-icon>
                </div>
              </li>
            </ul>
            <div style="margin: 0px 5px" *ngIf="!motrarContacto && promocion.estatus!==undefined">
              <ion-list>
                <ion-item *ngFor="let dia of promocion.diasArray">
                  <ion-grid>
                    <ion-row class="lista">
                      <ion-col>
                        <p [ngClass]="{'negritas':dia.id === hoy}">{{ dia.dia }}</p>
                      </ion-col>
                      <ion-col *ngIf="dia.horarios.length > 0">
                        <span *ngFor="let h of dia.horarios ">
                          <p class="negritas">{{h.texto}}</p>
                        </span>
                      </ion-col>
                      <ion-col *ngIf="dia.horarios.length === 0">
                        <ion-badge color="danger">Cerrado</ion-badge>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>