<ion-header>
  <ion-toolbar class="tol-bar">
    <ion-title *ngIf="promocion.id_tipo_promocion===2">Promoción</ion-title>
    <ion-title *ngIf="promocion.id_tipo_promocion===1">Anuncio</ion-title>
    <ion-buttons slot="end">
      <ion-button  class="customExit" (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-modal-promociones-info></app-modal-promociones-info>
</ion-content>
