<ion-header>
  <ion-toolbar  class="tolbar">
    <ion-buttons slot="start">
      <ion-button (click)="regresar()" class="blanco">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="negocioTO.id_negocio === null || negocioTO.id_negocio === undefined" class="">Agregar </span>
      <span *ngIf="negocioTO.id_negocio !== null && negocioTO.id_negocio !== undefined" class="">Modificar </span>
      Negocio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-bottom: 15%;">
    <div class="ion-text-center ion-margin-top">
      <img *ngIf="negocioTO.url_logo !== '' && negocioTO.url_logo !== null "  class="rounded-circle" [src]="negocioTO.url_logo"   alt="">
      <img *ngIf="negocioTO.url_logo === '' || negocioTO.url_logo === null || negocioTO.url_logo === undefined " class="imagen" alt="" >
    </div>
    <div  class="ion-text-center ion-margin-top">
      <ion-label>{{negocioTO.nombre_comercial}}</ion-label>
    </div>
    <ion-card-content>
<ion-list>
  <ion-item [disabled]="false==btload" (click)="inforNegocio(negocioTO)">
    <ion-icon style="margin: 3px;"  name="clipboard-outline"></ion-icon>
    <ion-label >Información del negocio</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item *ngIf="this.negocioTO.id_tipo_negocio == 1 || this.negocioTO.id_tipo_negocio == 3" (click)="productosServicios(negocioTO,1)">
<ion-icon  style="margin: 3px;" name="pricetags-outline"></ion-icon>
    <ion-label >Productos</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item *ngIf="this.negocioTO.id_tipo_negocio == 2 || this.negocioTO.id_tipo_negocio == 3" (click)="productosServicios(negocioTO,2)">
    <ion-icon  style="margin: 3px;" name="hammer-outline"></ion-icon>
    <ion-label >Servicios</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item (click)="irBrokers()">
    <ion-icon  style="margin: 3px;" name="card-outline"></ion-icon>
    <ion-label >Bokers</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-grid>
    <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
            <ion-button *ngIf="(negocioTO.id_negocio !== null && negocioTO.id_negocio !== undefined) && (!negocioTO.activo)" size="small"  color="success" type="button" (click)="activarConfirmado()">
              Activar
            </ion-button>
            <ion-button *ngIf="(negocioTO.id_negocio !== null && negocioTO.id_negocio !== undefined) && (negocioTO.activo)" size="small"  color="danger" type="button" (click)="presentAlertADesactivar()">
              Desactivar
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
