<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Datos Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <div class="ion-text-end">
      <ion-badge slot="end" color="primary">{{pedido.tipo}}</ion-badge>
      <small class="d-block"><strong>{{pedido.fc_pedido}}</strong></small>
    </div> -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <div *ngIf="pedido.id_estatus_pedido === 4">
            <ion-badge [style]="{'background': pedido.color}">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              Pedido entregado
            </ion-badge>
          </div>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <ion-badge color="primary">{{pedido.tipo}}</ion-badge>
          <small class="d-block"><strong>{{pedido.fc_pedido}}</strong></small>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <ion-img [src]="pedido.persona.imagen"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <div>
              <p style=" margin: 0 0 0px !important;">{{pedido.persona.nombre}}</p>
              <div *ngIf="pedido.id_estatus_pedido < 5">
                <small class="d-block">Telefono: {{pedido.persona.telefono}}</small>
                <small class="d-block">Celular: {{pedido.persona.celular}}</small>
                <small class="d-block">Correo: {{pedido.persona.correo}}</small>
                <small *ngIf="pedido.id_tipo_pedido === 1" class="d-block">Numero de mesa: {{pedido.mesa}}</small>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div id="mapId" style="height:200px" [ngStyle]="{display: mapView}"></div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <h3>Artículos:</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngFor="let producto of pedido.productos">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar>
              <ion-img [src]="producto.logo_producto"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col>
            <p>{{producto.nombre_producto}}</p>
            <small>Cantidad: {{producto.cantidad}}</small>
            <strong><span class="d-block">$ {{producto.costo}}</span></strong>
          </ion-col>
          <ion-col>
            <div class="ion-text-center">
              <small *ngIf="producto.observaciones === null || producto.observaciones === ''">
                Sin observaciones
              </small>
              <small
                *ngIf="producto.observaciones !== null && producto.observaciones !== ''">{{producto.observaciones}}</small>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total : ${{total}}  <span *ngIf="domicilioEnvio">{{domicilioEnvioMessage}}</span></ion-label>
    </ion-item>
    <div *ngIf="!blnCancelar">
      <ion-button expand="full" *ngIf="pedido.id_estatus_pedido === 2 && pedido.id_tipo_pedido === 2"
        href="https://api.whatsapp.com/send?phone=+52{{numeroSolicitud}}" target="_blank" color="primary">
        <ion-icon name="logo-whatsapp"></ion-icon> Solicitar repartidor
      </ion-button>
      <ion-button expand="full" *ngIf="pedido.id_estatus_pedido < 4" (click)="cancelar()" [disabled]="loaderBtn"
        color="light">Cancelar</ion-button>
      <ion-button expand="full" *ngIf="pedido.id_estatus_pedido === 1" (click)="perpararPedido(pedido)" color="danger"
        [disabled]="loaderBtn">
        Preparar
      </ion-button>

      <ion-button expand="full" *ngIf="pedido.id_estatus_pedido === 2 && pedido.id_tipo_pedido === 2"
        (click)="enviarPedido(pedido)" [disabled]="loaderBtn" color="danger"> Enviar
      </ion-button>

      <ion-button expand="full" *ngIf="pedido.id_estatus_pedido === 2 && pedido.id_tipo_pedido !== 2"
        (click)="enviarPedido(pedido)" [disabled]="loaderBtn" color="danger"> Preparando
      </ion-button>

      <ion-button expand="full" *ngIf="pedido.id_estatus_pedido === 3" (click)="entregarPedido(pedido)"
        [disabled]="loaderBtn" color="danger"> Entregado
      </ion-button>
      <!-- <div class="ion-text-center" *ngIf="pedido.id_estatus_pedido === 4">
        <ion-icon name="checkmark-circle-outline" [style]="{'color': pedido.color}"></ion-icon><span> Pedido entregado</span>
      </div> -->
      <div class="ion-text-center" *ngIf="pedido.id_estatus_pedido === 5 || pedido.id_estatus_pedido === 6">
        <ion-icon name="ban-outline" style="color: darkred"></ion-icon><span> {{pedido.estatus}}</span>
        <small class="d-block">{{pedido.motivo}}</small>
      </div>
    </div>
    <div *ngIf="blnCancelar">
      <ion-item>
        <ion-label position="floating">Motivo de la cancelación</ion-label>
        <ion-textarea type="text" [(ngModel)]="motivo"></ion-textarea>
        <ion-icon *ngIf="motivo" (click)="motivo=''" name="close-outline"></ion-icon>
      </ion-item>
      <div align="end">
        <ion-button expand="full" *ngIf="pedido.id_estatus_pedido < 4" (click)="setBlnCancelar(false)" color="light">
          Regresar
        </ion-button>
        <ion-button expand="full" [disabled]="!motivo || loaderBtn" (click)="cancelarPedido(pedido)" color="danger">
          Cancelar pedido
        </ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>
