<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-button>
        <ion-icon name="arrow-back-sharp" #boton ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="position: fixed;">
  <ion-card>
    <div class="ion-text-end">
      <span class="badge badge-primary text-white">{{pedido.tipo}}</span>
      <small class="d-block">Fecha del pedido: <strong>{{pedido.fc_pedido}}</strong></small>
    </div>
    <ion-item >
      <ion-row>
        <ion-col>
          <ion-avatar>
            <ion-img [src]="pedido.persona.imagen"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <div>
            <p style=" margin: 0 0 0px !important;">{{pedido.persona.nombre}}</p>
            <div *ngIf="pedido.id_estatus_pedido < 5">
              <small class="d-block">Telefono: {{pedido.persona.telefono}}</small>
              <small class="d-block">Celular: {{pedido.persona.celular}}</small>
              <small class="d-block">Correo: {{pedido.persona.correo}}</small>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
    <div id="mapId" style="height:200px"></div>
    <ion-row>
      <ion-col  class="ion-align-self-center"><h3>Artículos:</h3></ion-col>
    </ion-row>
    <ion-item *ngFor="let producto of pedido.productos">
      <ion-row >
        <ion-col>
          <ion-avatar>
            <ion-img [src]="producto.logo_producto"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-label>
            <p style="    margin: 0 0 0px !important;">{{producto.nombre_producto}}</p>
            <small>Cantidad: {{producto.cantidad}}</small>
            <strong><span class="d-block">$ {{producto.costo}}</span></strong>
          </ion-label>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <small *ngIf="producto.observaciones === null || producto.observaciones === ''">
            Sin observaciones
          </small>
          <small
            *ngIf="producto.observaciones !== null && producto.observaciones !== ''">{{producto.observaciones}}</small>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <div align="end" *ngIf="!blnCancelar">
        <a *ngIf="pedido.id_estatus_pedido === 2 && pedido.id_tipo_pedido === 2" href="https://api.whatsapp.com/send?phone=+52{{numeroSolicitud}}" target="_blank"
                
                color="primary">
          <ion-icon name="logo-whatsapp"></ion-icon> Solicitar repartidor
        </a><br>
        <ion-button expand="full" *ngIf="pedido.id_estatus_pedido < 4" (click)="cancelar()" [disabled]="loaderBtn" color="light">Cancelar</ion-button>
        <ion-button expand="full" *ngIf="pedido.id_estatus_pedido === 1" (click)="perpararPedido(pedido)" color="danger" [disabled]="loaderBtn">
          Preparar
        </ion-button>
        
        <ion-button expand="full" *ngIf="pedido.id_estatus_pedido === 2" (click)="enviarPedido(pedido)"
                [disabled]="loaderBtn"
                color="danger"> Enviar
        </ion-button>
        <ion-button expand="full" *ngIf="pedido.id_estatus_pedido === 3" (click)="entregarPedido(pedido)"
                [disabled]="loaderBtn"
                color="danger"> Entregado
        </ion-button>
        <div class="w-100 text-center" *ngIf="pedido.id_estatus_pedido === 4">
          <ion-icon name="checkmark-circle-outline" [style]="{'color': pedido.color}"></ion-icon><span> Pedido entregado</span>
        </div>
        <div class="w-100 text-center" *ngIf="pedido.id_estatus_pedido === 5 || pedido.id_estatus_pedido === 6">
          <em class="fa fa-ban" style="color: darkred"></em><span> {{pedido.estatus}}</span>
          <small class="d-block">{{pedido.motivo}}</small>
        </div>
      </div>
      <div *ngIf="blnCancelar">
        <ion-item>
          <ion-label position="floating">Motivo de la cancelación</ion-label>
          <ion-textarea type="text" [(ngModel)]="motivo"></ion-textarea>
          <ion-icon *ngIf="motivo" (click)="motivo=''" name="close-outline"></ion-icon>
        </ion-item>
        <div align="end">
          <ion-button expand="full" *ngIf="pedido.id_estatus_pedido < 4" (click)="regresar()" color="light">Regresar
          </ion-button>
          <ion-button expand="full" [disabled]="!motivo || loaderBtn" (click)="cancelarPedido(pedido)" color="danger"> Cancelar pedido
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
