<app-spinner [loader]="loader" [message]="msj"></app-spinner>
<ion-content *ngIf="!loader" [scrollEvents]="true" (ionScroll)="cordenada = $event.detail.scrollTop">
  <app-boton-top [content]="content" [cordenada]="cordenada" [platform]="isIOS"></app-boton-top>
  <ion-grid style="background-color: white;" *ngIf="tamanoLista === 0" >
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-badge color="warning">Aún no tienes negocios favoritos</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list>
    <ion-item *ngFor="let negocio of listaNegocios" class="item  in-list ion-focusable hydrated item-label">
      <ion-avatar #datos (click)="abrirNegocio(negocio.url_negocio)" slot="start"><img
              src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png"
              [srcset]="negocio.url_logo"></ion-avatar>
      <ion-label class="hydrated" #datos (click)="abrirNegocio(negocio.url_negocio)">
        <h3>{{negocio.nombre_comercial}}</h3>

        <ion-badge color="primary">{{(negocio.nombre != null)?negocio.nombre:'Sin categoría'}}</ion-badge>

        <p>{{(negocio.descripcion != null)?negocio.descripcion:'Sin descripción'}}</p>

      </ion-label>

      <ion-chip class="ion-margin-start  ion-activatable hydrated" (click)="darDislike(negocio)"  *ngIf="motrarContacto">
        <ion-icon class="text-rosa heartLike hydrated" role="img" name="heart" aria-label="dollar">
        </ion-icon>
        <ion-label class="hydrated">{{ negocio.likes }}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

</ion-content>
