.item-container {
  margin-top: 15px;
  width: 100%;
}

.contenedorP{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.contenedorS{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagen-redonda {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}
.imagen-redonda img {
  width: 100%;
  height: 100%;
}

.buttonCantidad{
  font-size: 8px;
  --background: #F9F9F9;
  color: black;
}
