<ion-header>
  <ion-toolbar class="tolbar">
      <ion-title>Negocios</ion-title>
      <ion-buttons slot="end" (click)="cerrarModal()">
          <ion-button>
              <ion-icon name="close-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="mapId">
  <ion-card>
    <div id="mapId" style="height: 100%; width: 100vw;"></div>
  </ion-card>
<!--<ion-grid>
  <ion-row>
    <ion-col>
      <div id="mapId" style="height:200px;"></div>
    </ion-col>
  </ion-row>
</ion-grid>-->
</ion-content>
