<div *ngIf="(lstPromociones !== undefined && lstPromociones !== null && lstPromociones.length > 0) || (lstAvisos !== undefined && lstAvisos !== null && lstAvisos.length > 0) ">
    <ion-slides  [options]="slideOptsOne" #mySlider>
        <ion-slide *ngFor="let promocion of lstPromociones">
          <img loading="eager" src="{{(promocion.url_imagen_banner)==='' || (promocion.url_imagen_banner)==null?promocionDefault:promocion.url_imagen_banner}}" class="d-block img-fluid" alt="Cargando imagen..."onerror="this.onerror=null;this.src=promocionDefault;" (click)="accionPromocion(promocion)">
        </ion-slide>
        <ion-slide *ngFor="let aviso of lstAvisos">
          <img loading="eager" src="{{(aviso.imagen)==='' || (aviso.imagen)==null?promocionDefault:aviso.imagen}}" class="d-block img-fluid" width="100%" height="100%" onerror="this.onerror=null;this.src=promocionDefault;" (click)="presentAlert()">
      </ion-slide>
    </ion-slides>
    <!--  <ion-button (click)="swipeNext()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="swipePrev()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>-->
  </div>

