<form #formVariable="ngForm" (ngSubmit)="guardar(formVariable)" style="background-color: white;">

	<ion-list>
		<ion-item>
			<ion-label position="floating">
				Promocion:
			</ion-label>
			<ion-input placeholder="Escriba el titulo principal de su promoción" name="promocion"  [(ngModel)]="actualTo.promocion" required></ion-input>
		</ion-item>
	</ion-list>
	
	<div>
		<app-input-tags [tags]="this.actualTo.tags" (_enviarTags)="agregarTags($event)"></app-input-tags>
	</div>

	<ion-list>

		<ion-item>
			<ion-label position="floating">
				Términos y condiciones:
			</ion-label>
			<ion-input placeholder="Terminos y condiciones bajo las cuales se aplica la promoción" name="terminos" [(ngModel)]="actualTo.terminos" required></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>
				Relacione su negocio:
			</ion-label>
			<ion-select [value]="actualTo.id_negocio" name="negocio" [(ngModel)]="actualTo.id_negocio" required>
				<div *ngFor="let row of lstNegocios" (change)="decripcionSelect()" required>
					<ion-select-option [value]="row.id_negocio">{{row.nombre_comercial}}</ion-select-option>
				</div>
			</ion-select>
		</ion-item>

	</ion-list>

	<!--? Input de la imagen -->
	<div>
		<div style="display: flex; justify-content: center;">
			<label>Imagen para la tarjeta de promoción:</label>
		</div>
	</div>
	<div *ngIf="btnCambiarImagen">
		<div>
			<div>
				<p style="color: gray;">Puedes subir tu imagen de tu promoción o crearla con nuestro editor. Recuerda que las medidas son 200 x 200 pixeles.</p>
			</div>
		</div>
	</div>
	<div>
		<div>
			<label *ngIf="blnImgCuadrada" style="display: flex; justify-content: center; align-items: center;">
				<div class="punteado" style="display: flex; justify-content: center; align-items: center;">
					<div>
						<label for="cuadrado">
							<ion-icon name="image-outline"></ion-icon>
						</label>
					</div>
				</div>
			</label>
			<div *ngIf="!blnImgCuadrada">
				<div style="display: flex; justify-content: center; align-items: center;">
					<div class="contenido">
						<img style="width: 200px;" class="image" *ngIf="actualTo.imagen !== '' && actualTo.imagen !== undefined" src="{{actualTo.imagen.archivo_64}}" alt="Falla al cargar imagen" width="200" height="200">
               			 <img style="width: 200px;" class="image" *ngIf="actualTo.url_imagen !== '' && actualTo.imagen === undefined" src="{{actualTo.url_imagen}}" alt="Falla al cargar imagen" width="200" height="200">
					</div>
				</div>
			</div>
		</div>
		<input #inputTarjeta id="cuadrado" type="file" (change)="subir_imagen_cuadrada($event)"  accept="image/*" name="img_promo" required>
	</div>
	<div *ngIf="!blnImgCuadrada">
		<div style="display: flex; justify-content: center; align-items: center;">
			<label for="cuadrado">
				<ion-icon name="image-outline" style="font-size: 30px"></ion-icon>
			</label>
		</div>
	</div>
	<!--? Input de la imagen -->

	<!--? Input banner -->
	<div style="margin-top: 10px;">
		<div style="display: flex; justify-content: center;">
			<label>
				Imagen banner de la promoción
			</label>
		</div>
	</div>
	<div *ngIf="btnCambiarImagen">
		<div>
			<div>
				<p style="color: grey; text-align: justify;">
					Aquí tu imagen más grande de tu promoción, si quieres puedes crearla con nuestro editor. Recuerda que las medidas son 1500 x 300 pixeles.
				</p>
			</div>
		</div>
	</div>
	<div>
		<div>
			<label *ngIf="blnImgRectangulo" style="display: flex; justify-content: center;align-items: center;">
				<div class="punteado2" style="display: flex; justify-content: center;align-items: center;">
					<div>
						<label for="rectangulo">
							<ion-icon name="image-outline"></ion-icon>
						</label>
					</div>
				</div>
			</label>
			<div *ngIf="!blnImgRectangulo">
				<div>
					<div class="contenido"  style="display: flex; justify-content: center;align-items: center;">
						 <img style="height: 300px;" class="image" *ngIf="actualTo.imagenBanner !== '' && actualTo.imagenBanner !== undefined" src="{{actualTo.imagenBanner.archivo_64}}" alt="Falla al cargar imagen" width="200">
                		 <img style="height: 300px;"class="image" *ngIf="actualTo.url_imagen_banner !== '' && actualTo.imagenBanner === undefined" src="{{actualTo.url_imagen_banner}}" alt="Falla al cargar imagen" width="200">
					</div>
				</div>
			</div>
			<input #inputBanner id="rectangulo" type="file" type="file" (change)="subir_imagen_rectangulo($event)" accept="image/*" name="img_promo" required>
		</div>
	</div>
	<div *ngIf="!blnImgRectangulo"  style="display: flex; justify-content: center;align-items: center;">
		<div>
			<label for="rectangulo">
				<ion-icon name="image-outline"></ion-icon>
			</label>
		</div>
	</div>
	<!--? Input banner -->
	<div style="display: flex; justify-content: center; align-items: center;">
		<ion-button color="danger" type="submit">Guardar</ion-button>
		<ion-button color="medium" (click)="cancelarEdicion()">Cancelar</ion-button>
	</div>
</form>