<ion-header translucent>
    <ion-toolbar class="tolbar">
        <ion-buttons slot="start">
            <ion-button (click)="buscar()">
                <ion-icon name="chevron-back-outline"></ion-icon>
                Buscar
            </ion-button>
        </ion-buttons>
        <ion-title>Filtros de busqueda</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-toolbar>
        <ion-segment [value]="ubicacion" [(ngModel)]="ubicacion" (ionChange)="setTipo(ubicacion)">
            <ion-segment-button  [disabled]="!blnUbicacion" value="ubicacion">Ubicación</ion-segment-button>
            <ion-segment-button  value="localidad">Localidad</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ion-list>
        <ion-chip (click)="borrarFiltros()" color="danger">
            <ion-icon name="trash-outline" color="danger"></ion-icon>
            <ion-label>Borrar Filtros</ion-label>
        </ion-chip>
    </ion-list>
    <div *ngIf="ubicacion === 'localidad'">
        <ion-item>
            <ion-label>Estados</ion-label>



            <ion-select placeholder="{{estadoAux}}" (ionChange)="selectEstado($event)" [(ngModel)]="estado">
                <ng-container *ngFor="let estado of lstCatEstados">
                    <ion-select-option [value]="estado.id_estado">{{estado.nombre}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Municipios</ion-label>
            <ion-select placeholder="Seleccionar" [disabled]="listCatMunicipio.length === 0"
                        (ionChange)="selectMunicipio()" [(ngModel)]="municipio">
                <ion-select-option *ngFor="let estado of listCatMunicipio"
                                   [value]="estado.id_municipio">{{estado.nombre}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Localidad</ion-label>
            <ion-select placeholder="Seleccionar" [disabled]="listCaLocalidad.length === 0"
                        (ionChange)="selectLocalidad()" [(ngModel)]="localidad">
                <ion-select-option *ngFor="let estado of listCaLocalidad"
                                   [value]="estado.id_localidad">{{estado.nombre}}</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
    <div *ngIf="ubicacion === 'ubicacion'">
        <ion-item>
            <div>
                <h2>Te encuentras en:</h2>
                <p>{{estasUbicacion}}</p>
                <h5>Radio de busqueda:</h5>
                <h5>Kilometros a la redonda: <ion-badge color="medium">{{kilometrosSlider}} Km</ion-badge></h5>
                <ion-range [value]="kilometrosSlider" (ionChange)="obtenerKilometrosRango($event)" min="1" max="10"
                step="1" snaps="true" color="danger" pin="true"></ion-range>
            </div>
        </ion-item>
    </div>

    <ion-item-divider>
        <ion-label>
            Tipo de negocios
        </ion-label>
    </ion-item-divider>
    <div *ngFor="let tipo of lstCatTipoNegocio">
        <ion-item>
            <ion-label>{{tipo.nombre}}</ion-label>
            <ion-checkbox value="{{tipo.id_tipo_negocio}}"  color="primary"
                    (ionChange)="selectTipoNegocio($event)"  slot="start"></ion-checkbox>
        </ion-item>
    </div>
    <ion-item-divider *ngIf="!isProductPage">
        <ion-label>
            Categorias
        </ion-label>
    </ion-item-divider>
    <ion-item *ngIf="!isProductPage">
        <ion-label>Categorias</ion-label>
        <ion-select placeholder="{{categoriaAux}}" [(ngModel)]="categoria" (ionChange)="selectCategoria()">
            <ng-container *ngFor="let giro of lstCatTipoProducto;">
                <ion-select-option [value]="giro.id_giro">{{giro.nombre}}</ion-select-option>
            </ng-container>
        </ion-select>
    </ion-item>
    <ion-item-divider>
        <ion-label>
            Subcategorias
        </ion-label>
    </ion-item-divider>
    <ion-item>
        <ion-label>SubCategoria</ion-label>
        <ion-select placeholder="{{subCategoriaAux}}" multiple [(ngModel)]="subCategoria" (ionChange)="selectSubCategoria()">
            <ng-container *ngFor="let sub of listaCategorias;">
                <ion-select-option [value]="sub.id_categoria">{{sub.nombre}}</ion-select-option>
            </ng-container>
        </ion-select>
    </ion-item>
    <ion-list>
        <ion-list-header>
            <ion-label>Entega a domicilio</ion-label>
        </ion-list-header>
        <ion-radio-group [value]="filtros.blnEntrega+''">
            <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio value="true" color="danger" slot="start" (click)="setIonradiogroupEntregaDomicilio(1)" ></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>No</ion-label>
                <ion-radio value="false" color="danger" slot="start" (click)="setIonradiogroupEntregaDomicilio(0)"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-list>
        <ion-list-header>
            <ion-label>Abierto/Cerrado</ion-label>
        </ion-list-header>
        <ion-radio-group [value]="filtros.abierto+''">
            <ion-item>
                <ion-label>Si</ion-label>
                <ion-radio value="true" color="danger" slot="start" (click)="setIonradiogroupAbiertoCerrado(1)" ></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>No</ion-label>
                <ion-radio value="false" color="danger" slot="start" (click)="setIonradiogroupAbiertoCerrado(0)"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>


</ion-content>
