.plan_suscripcion{
    width:90%; 
    height: fit-content;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color:rgb(0, 162, 255);
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}