<ion-header translucent>
    <ion-toolbar class="tolbar">
        <ion-title>Seleccione su plan</ion-title>
        <ion-buttons slot="end" (click)="cerrar()">
            <ion-button class="blanco">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" style="--background-color: #EAEAEA;">
    <div style="text-align: center;">
        <h2 style="font-family: Poppins ; font-weight: bold;"> Elige el plan que más se adapte a tus
            necesidades </h2>
          <strong style="background: linear-gradient(162deg, rgba(254,138,10,1) 0%, rgba(255,19,189,1) 63%);
          -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 15px;"> Aprovecha los grandes beneficios que ofrecemos para el crecimiento de tu Empresa y/o
            Negocio</strong>

        <div class="contenedorAll">
            <div class="perfil" *ngFor="let item of planes, let i = index" >
              <div class="perfilTitle" [style]="bgPerfiles[i].bg">
                <h1><strong>{{item.nombre}}</strong></h1>
                <div class="lineaTitle"></div>
              </div>
                      <!--<div class="precio">
                        <span class="dolar">$</span>
                        <span class="numero">99</span>
                        <span class="mes">/mes</span>
                      </div>-->
              <div class="caracteristicas">
                <p *ngFor="let itemAux of item.caracteristicas" style=" text-align: initial;">
                  <span style="height: 24px; border-radius: 50%; min-width: 24px; padding: 2px; margin: 0px 5px 0px 5px; display: flex;
                  align-items: center;
                  justify-content: center;" [style]="bgPerfiles[i].bg">
                    <ion-icon style="color: #fff;" name="checkmark-outline"></ion-icon> 
                  </span> 
                  {{itemAux.nombre}}</p>
              </div>
              <div class="seccionBoton">
                <button [style]="bgPerfiles[i].bg" (click)="seleccionarSucripcion(item.id_perfil_caracteristica,item.nombre)" > Elegir </button>
              </div>
            </div>
          </div>
    </div>

</ion-content>
