<ion-slides [options]="slidesOptions" class="ion-margin-top">
  <ion-slide>
    <ion-card>
      <img
        *ngIf="productoImagen.imagen[0] !== undefined"
        [srcset]="setImagen(productoImagen.imagen[0])"
      />
      <label>
        <ion-icon
          *ngIf="productoImagen.imagen[0] === undefined"
          name="image"
          role="img"
          class="md hydrated size-icon"
          aria-label="image"
        ></ion-icon>
      </label>
      <label>
        <em>
          <ion-icon name="cloud-upload" aria-label="cloud upload" class="md hydrated icons-stype" role="img"></ion-icon>
        </em>
      </label>
      <br>
      <label class="custom-file-input">
        <input
          type="file"
          #fileInput
          id="imagen-producto-uno"
          accept="image/*"
          (change)="subirImagenUno($event)"
          (click)="fileInput.value = null"
        />
      </label>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img
        *ngIf="productoImagen.imagen[1] !== undefined"
        [srcset]="setImagen(productoImagen.imagen[1])"
      />
      <label>
        <ion-icon
          *ngIf="productoImagen.imagen[1] === undefined"
          name="image"
          role="img"
          class="md hydrated size-icon"
          aria-label="image"
        ></ion-icon>
      </label>
      <label>
        <em>
          <ion-icon name="cloud-upload" aria-label="cloud upload" class="md hydrated icons-stype" role="img"></ion-icon>
        </em>
      </label>
      <br>
      <label class="custom-file-input">
        <input
          type="file"
          id="imagen-producto-dos"
          accept="image/*"
          (change)="subirImagenDos($event)"
          #fileInputDos
          (click)="fileInputDos.value = null"
        />
      </label>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img
        *ngIf="productoImagen.imagen[2] !== undefined"
        [srcset]="setImagen(productoImagen.imagen[2])"
      />
      <label>
        <ion-icon
          *ngIf="productoImagen.imagen[2] === undefined"
          name="image"
          role="img"
          class="md hydrated size-icon"
          aria-label="image"
        ></ion-icon>
      </label>
      <label>
        <em>
          <ion-icon name="cloud-upload" aria-label="cloud upload" class="md hydrated icons-stype" role="img"></ion-icon>
        </em>
      </label>
      <br>
      <label class="custom-file-input">
        <input
          type="file"
          id="imagen-producto-tres"
          accept="image/*"
          (change)="subirImagenTres($event)"
          #fileInputTres
          (click)="fileInputTres.value = null"
        />
      </label>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img
        *ngIf="productoImagen.imagen[3] !== undefined"
        [srcset]="setImagen(productoImagen.imagen[3])"
      />
      <label>
        <ion-icon
          *ngIf="productoImagen.imagen[3] === undefined"
          name="image"
          role="img"
          class="md hydrated size-icon"
          aria-label="image"
        ></ion-icon>
      </label>
      <label>
        <em>
          <ion-icon name="cloud-upload" aria-label="cloud upload" class="md hydrated icons-stype" role="img"></ion-icon>
        </em>
      </label>
      <br>
      <label class="custom-file-input">
        <input
          type="file"
          id="imagen-producto-cuatro"
          accept="image/*"
          (change)="subirImagenCuatro($event)"
          #fileInputCuatro
          (click)="fileInputCuatro.value = null"
        />
      </label>
    </ion-card>
  </ion-slide>
</ion-slides>
