<ion-header >
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Roles</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="agregarRol()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item class="bg-gris">
    <ion-buttons slot="end">
        <ion-button (click)="notify()">
          <span *ngIf="!this.isToggled">Filtros</span>
          <ion-icon *ngIf="!this.isToggled" name="search-outline"></ion-icon>
          <span  *ngIf="this.isToggled" >Cerrar</span> 
          <ion-icon *ngIf="this.isToggled" name="close-outline"></ion-icon>       
        </ion-button>
    </ion-buttons>
</ion-item>
<ion-card *ngIf="this.isToggled === true">
  <ion-card-header>
    <form  #form="ngForm" (ngSubmit)="logForm(form)">
    <ion-list>
      <ion-item>
        <ion-label>Id Rol:</ion-label>
        <ion-input type="number" #nombre="ngModel" (keyup)="setBlnFiltro()" (change)="setBlnFiltro()" name="id_rol" [(ngModel)]="selectTO.id_rol" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rol :</ion-label>
        <ion-input type="text" #variable="ngModel" (keyup)="setBlnFiltro()" (change)="setBlnFiltro()" name="rol" [(ngModel)]="selectTO.rol" ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" class="bg-rosa" expand="block" [disabled]="!blnBtnFiltro">Buscar</ion-button>
    <ion-button type="button" color="medium" expand="block" (click)="limpiarFiltro()" [disabled]="!blnBtnFiltro">Limpiar</ion-button>
  </form>
  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-list *ngFor="let roles of lstCatRol">
      <ion-item (click)="datosRol(roles)">     
        <ion-label>{{roles.id_rol}}&nbsp;&nbsp;{{roles.rol}}</ion-label>
        <ion-buttons slot="end">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-card-header>
</ion-card>
</ion-content>
