.image-center{ 
    margin:0 auto; 
}

.img-gris{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

.giro-color{
    color:  #a74eef;
    font-size: 10px;
}

.gridGiros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.loader-overlay {    
    width:100%;
    height:100%;
    position: fixed;
    display: flex;      
    opacity: 1;
    z-index: 500000;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 231, 231, 0.616);    
  }
.spinner-color {
    --color: #fa4f72;
  }
  .message {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fa4f72;
    text-align: center;
  }