<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title>Información del negocio</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="presentActionSheet()" class="blanco">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()" class="blanco">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <!--<ion-card>
    <ion-list lines="none">
      <ion-item>
        <div class="form-group">
          <div class="avatar-upload">
              <div class="avatar-edit">
                  <input type='file' hidden id="imageUpload" accept="image/*"  />
                  <label for="imageUpload">
                    <ion-icon name="camera-outline" style="position: relative; top: 7px;"></ion-icon>
                  </label>
              </div>
              <div class="avatar-preview">
                <div *ngIf="negocioTO.logo === null || negocioTO.logo === undefined" [ngStyle]="negocioTO.logo !== null ?
                  {'background-image': 'url('+negocioTO.url_logo+')'} : ''">
                  </div>
                  <div *ngIf="negocioTO.logo !== null && negocioTO.logo !== undefined" [ngStyle]="{
               'background-image': 'url('+negocioTO.logo.archivo_64+')'}">
                  </div>
              </div>
              <label for="imageUpload"></label>
          </div>
      </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo de Negocio <span>*</span></ion-label>
        <ion-select [(ngModel)]="negocioTO.id_tipo_negocio" (ionChange)="categoriaPrincipal()">
          <ion-select-option *ngFor="let item of listTipoNegocio" [value]="item.id_tipo_negocio">{{item.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Categoría <span>*</span></ion-label>
        <ion-select [(ngModel)]="negocioTO.id_categoria_negocio" >
          <ion-select-option *ngFor="let item of listCategorias" [value]="item.id_giro">{{item.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Subcategoría <span>*</span></ion-label>
        <ion-select  [(ngModel)]="negocioTO.id_giro" >
          <ion-select-option *ngFor="let sub of listaSubCategorias" [value]="sub.id_categoria">{{sub.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción del Negocio <span>*</span></ion-label>
        <ion-input [(ngModel)]="negocioTO.descripcion"></ion-input>
      </ion-item>
        <ion-item>
          <ion-label position="floating">Afiliado a</ion-label>
          <ion-select multiple >
            <ion-select-option value="item1">item</ion-select-option>
          <ion-select-option value="tem2">item 2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="urlnego" position="floating">Url del negocio <span>*</span></ion-label>
          <ion-input [(ngModel)]="negocioTO.url_negocio"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Ayudanos a que la busqueda de tu negocio sea mas efectiva</ion-label>
          <ion-input placeholder="Use coma (,) para crear un tag"></ion-input>
        </ion-item>
        <ion-item class="bg-gris">
          <ion-title class="cent">Horario de atención</ion-title>
        </ion-item>
        <ion-item class="bg-gris">
          <ion-label>Hora inicio</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
        </ion-item>
        <ion-item class="bg-gris">
          <ion-label>Hora cierre</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
        </ion-item>
        <ion-item class="bg-gris">
          <ion-label>Días de la semana</ion-label>
          <ion-select interface="action-sheet">
            <ion-select-option value="lunes">Lunes</ion-select-option>
            <ion-select-option value="martes">Martes</ion-select-option>
            <ion-select-option value="miercoles">Miercoles</ion-select-option>
            <ion-select-option value="jueves">Jueves</ion-select-option>
            <ion-select-option value="viernes">Viernes</ion-select-option>
            <ion-select-option value="sabado">Sabado</ion-select-option>
            <ion-select-option value="domingo">Domingo</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="bg-gris">
          <ion-button type="submit" class="bg-rosa">Agregar</ion-button>   
        </ion-item>
        <ion-item class="bg-gris">
          <ion-label>Día </ion-label>
          <ion-label>Horarios</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Consumo en sitio <span>*</span></ion-label>
          <ion-checkbox [(ngModel)]="negocioTO.consumo_sitio" color="primary" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label >Entregas en sitio <span>*</span></ion-label>
          <ion-checkbox [(ngModel)]="negocioTO.entrega_sitio" color="primary" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label >Entregas a Domicilio <span>*</span> </ion-label>
          <ion-checkbox [(ngModel)]="negocioTO.entrega_domicilio" color="primary" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label class="cent" >Los campos con * son obligatorios</ion-label>
        </ion-item>
    </ion-list>
    <ion-button *ngIf="negocioTOs.id_negocio === null || negocioTO.id_negocio === undefined && !valido" type="submit" class="bg-rosa">Guardar</ion-button>
    <ion-button *ngIf="valido" type="submit" class="bg-rosa">Actualizar</ion-button>
  </ion-card>


    <ion-button expand="block" (click)="datosContacto(negocioTO)" type="submit" class="bg-rosa">Siguiente</ion-button>
  -->
<ion-card style="margin-bottom: 15%;">
  <ion-card-content>
    <form>
    <div class="form-group" style="display: flex; justify-content: center; align-items: center;">
      <div class="avatar-upload">
          <div class="avatar-edit">
              <input type='file' hidden id="imageUpload" accept="image/*" (change)="subir_imagen_cuadrada($event)" />
              <label for="imageUpload">
                <ion-icon name="camera-outline" style="position: relative; top: 7px;"></ion-icon>
              </label>
          </div>
          <div class="avatar-preview">
            <div *ngIf="negocioTO.logo === null || negocioTO.logo === undefined" id="imageUpload" [ngStyle]="negocioTO.logo !== null ?
              {'background-image': 'url('+negocioTO.url_logo+')'} : ''">
              </div>
              <div *ngIf="negocioTO.logo !== null && negocioTO.logo !== undefined" [ngStyle]="{
           'background-image': 'url('+negocioTO.logo.archivo_64+')'}">
              </div>
          </div>
          <label for="imageUpload"></label>
      </div>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre del negocio: <span style="color: red">*</span></ion-label>
      <ion-input id="idNegocioNombre" name="idNegocioNombre" #nombreNegocio="ngModel"  [(ngModel)]="negocioTO.nombre_comercial"  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tipo de Negocio</ion-label>
      <ion-select ok-text="Ok" cancel-text="Cancelar" name="idtipoNegocio" required  #tipoNegocio="ngModel" [(ngModel)]="negocioTO.id_tipo_negocio" (ionChange)="categoriaPrincipal()">
        <ion-select-option *ngFor="let item of listTipoNegocio" [value]="item.id_tipo_negocio">{{item.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Subcategoría</ion-label>
      <ion-select ok-text="Ok" cancel-text="Cancelar" name="idtipoGiro" required  #tipoGiro="ngModel"  [(ngModel)]="negocioTO.id_giro" >
        <ion-select-option *ngFor="let sub of listaSubCategorias" [value]="sub.id_categoria">{{sub.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción del Negocio <span style="color: red">*</span></ion-label>
      <ion-input id="idNegocioDesc" name="idNegocioDesc" #descNegocio="ngModel" required [(ngModel)]="negocioTO.descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Afiliado a</ion-label>
      <ion-select >
        <ion-select-option value="item1">item</ion-select-option>
      <ion-select-option value="tem2">item 2</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
       <app-input-tags [tags]="negocioTO.tags" (_enviarTags)="agregarTags($event)"></app-input-tags>
      </ion-item>
    <ion-item>
      <ion-label class="urlnego" position="stacked">Url del negocio: <span style="color: red">*</span></ion-label>
      <ion-input id="idNegocioUrl" name="idNegocioUrl" #urlNegocio="ngModel" required [(ngModel)]="negocioTO.url_negocio"></ion-input>
    </ion-item>
    <span style="font-size: 11px; margin-left: 11px;">https://www.bitoo.com.mx/@</span>
    <ion-item>
      <ion-label position="stacked">Consumo en sitio<span style="color: red">*</span></ion-label>
      <ion-select ok-text="Ok" cancel-text="Cancelar" name="idConsumoNegocio" required  #consuNegocio="ngModel" [(ngModel)]="negocioTO.consumo_sitio" >
        <ion-select-option *ngFor="let ent of entregas" [value]="ent.id">{{ent.respuesta}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" >Entregas en sitio: <span style="color: red">*</span></ion-label>
      <ion-select ok-text="Ok" cancel-text="Cancelar" name="idConsumoNegocio" required  #consuNegocio="ngModel" [(ngModel)]="negocioTO.entrega_sitio">
        <ion-select-option *ngFor="let ent of entregas" [value]="ent.id">{{ent.respuesta}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Entregas a Domicilio: <span style="color: red">*</span></ion-label>
      <ion-select ok-text="Ok" cancel-text="Cancelar" name="idConsumoNegocio" required  #consuNegocio="ngModel" [(ngModel)]="negocioTO.entrega_domicilio">
        <ion-select-option *ngFor="let ent of entregas" [value]="ent.id">{{ent.respuesta}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div>
    <ion-item>
      <ion-label position="stacked" >Alcance de la Entrega</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <span style="font-size: 11px; margin-left: 11px;">Km</span>
    <ion-item>
      <ion-label position="stacked" >Tiempo de Entrega</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Costo de Entrega</ion-label>
      <ion-input placeholder="$"></ion-input>
      <span style="top: 32px; position: absolute; left: 242px;">.00</span>
    </ion-item>
  </div>
    <ion-item>
      <ion-label>Los campos con <span style="color: red">*</span>son obligatorios</ion-label>
    </ion-item>
  </ion-list>
  <ion-button  expand="block" type="submit" class="bg-rosa">Actualizar</ion-button>
  <ion-button  expand="block" type="submit" class="bg-rosa">Siguiente</ion-button>
</form>
  </ion-card-content>
</ion-card>
</ion-content>
