.size-title {
    font-size: 1.3em;
    position: relative;
    top: -8px;
    right: 17px;
}

.texto-mesa {
    color: red;
    bottom: 1em;
    left: 3em;
    position: relative;
}

.c1{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
