<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title>Mi bolsa
      <ion-icon name="bag-handle-outline"></ion-icon>
    </ion-title>
    <ion-buttons slot="end" (click)="cerrarModal()">
      <ion-button>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<app-spinner [loader]="loader" [message]="msj"></app-spinner>
<ion-content *ngIf="!loader">
  <ion-list *ngIf="tipoEnvio !== undefined">
      <ion-radio-group  [(ngModel)]="tipoEnvio" (ionChange)="cambiarTipo($event)" [value]="tipoEnvio">
        <ion-list-header>
          <ion-label>Tipo de entrega</ion-label>
        </ion-list-header>
    
        <ion-item *ngIf="_entregaDomicilio === 1">
          <ion-label>Envio a domicilio</ion-label>
          <ion-radio slot="end" [value]="2"></ion-radio>
        </ion-item>
    
        <ion-item *ngIf="_entregaSitio === 1">
          <ion-label>Recoger en sucursal</ion-label>
          <ion-radio slot="end" [value]="3"></ion-radio>
        </ion-item>
    
        <ion-item   *ngIf="_consumoSitio === 1">
          <ion-label>Consumo en sitio</ion-label>
          <ion-radio slot="end" [value]="1"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- <ion-radio-group *ngIf="_entregaDomicilio !== 1"  (ionChange)="cambiarTipo($event)" [value]="tipoEnvio">
     
      <ion-list-header>
        <ion-label>
          Tipo de entrega
        </ion-label>
      </ion-list-header>

      <ion-list *ngIf="_entregaDomicilio === 1">
        <ion-label> <strong >Envio a domicilio </strong> </ion-label>
        <ion-radio [value]="2"></ion-radio>
      </ion-list>

      <ion-item *ngIf="_entregaSitio === 1">
        <ion-label><strong>Recoger en sucursal</strong> </ion-label>
        <ion-radio [value]="3"></ion-radio>
      </ion-item>

      <ion-item *ngIf="_consumoSitio === 1">
        <ion-label> <strong>Consumo en sitio</strong></ion-label>
        <ion-radio [value]="1"></ion-radio>
      </ion-item>
    </ion-radio-group> -->

      <div *ngIf="tipoEnvio === 1">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <ion-label class="size-title"><strong>Numero de Mesa</strong></ion-label>
            <ion-icon class="ion-text-center" (click)="numeroMesaMenos()" style="margin: 6px; background: #bbbbbb;" name="remove-outline"></ion-icon>
            <span class="ion-text-center" style="position: relative; top: -9px;">{{numeroMesa}}</span>
            <ion-icon class="ion-text-center" (click)="numeroMesaMas()"  style="margin: 6px; background: #bbbbbb;" name="add-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <small *ngIf="rTantidad(numeroMesa)" class="texto-mesa">Se requiere el numero de mesa</small>
      </ion-grid>
    </div>
  <div *ngIf="tipoEnvio === 2">
    <ion-list>
  
      <ion-item>
        <ion-label position="stacked">Calle: <span style="color: red">*</span></ion-label>
        <ion-input id="calle" name="calle" type="text" [(ngModel)]="calle"   required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Número Exterior: <span style="color: red">*</span></ion-label>
        <ion-input id="numExt" name="numExt" type="text" [(ngModel)]="numeroExt" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Número Interior: </ion-label>
        <ion-input id="numInt" name="numInt" type="text" [(ngModel)]="numeroInt"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Estado <span style="color: red">*</span></ion-label>
        <ion-select placeholder="-- Selecciona un Estado --" ok-text="Ok" cancel-text="Cancelar" name="estado" required #compEstado="ngModel"
          [(ngModel)]="IdEstado" (ionChange)="get_list_cat_municipio($event)">
          <ng-container *ngFor="let e of list_cat_estado">
            <ion-select-option [value]="e">{{e.nombre}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <!-- <div *ngIf="compEstado.invalid" class="alert">
        <div> <small> Seleccione un Estado </small></div>
      </div> -->

      <ion-item>
        <ion-label position="stacked">Municipio <span style="color: red">*</span></ion-label>
        <ion-select placeholder="-- Selecciona un Municipio --" [disabled]="btnMuncipio" ok-text="Ok" cancel-text="Cancelar" name="municipio"
          required #compMunicipio="ngModel" [(ngModel)]="IdMunicipio" (ionChange)="get_list_cat_localidad($event,true)">
          <ng-container *ngFor="let mun of list_cat_municipio">
            <ion-select-option [value]="mun">
              {{mun.nombre}}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <!-- <div *ngIf="compMunicipio.invalid" class="alert">
        <div> <small>Seleccione un Municipio</small></div>
      </div> -->

      <ion-item>
        <ion-label position="stacked">Localidad <span style="color: red">*</span></ion-label>
        <ion-select placeholder="-- Seleccione una Localidad --" ok-text="Ok" cancel-text="Cancelar" name="localidad" required #compLocalidad="ngModel"
          [(ngModel)]="IdLocalidad">
          <ng-container *ngFor="let loc of list_cat_localidad">
            <ion-select-option [value]="loc.nombre">
              {{loc.nombre}}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <!-- <div *ngIf="compLocalidad.invalid" class="alert">
        <div> <small>Seleccione una Localidad</small></div>
      </div> -->
      <ion-item>
        <ion-label position="stacked">Colonia <span style="color: red">*</span></ion-label>
        <ion-input id="colonia" name="colonia" type="text" [(ngModel)]="colonia" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="stacked">Código postal <span style="color: red">*</span></ion-label>
        <ion-input id="codigo_postal" name="codigo_postal" type="text" [(ngModel)]="cp" required></ion-input>
      </ion-item>
  
      <ion-item>
        <small style="display: flex; align-items: center;">Los campos con <span style="color: red">*</span> son
          obligatorios</small>
      </ion-item>
    </ion-list>
  </div>
    <ion-item>
      <ion-label position="floating">Comentario:</ion-label>
      <ion-textarea type="text" [(ngModel)]="detalle"></ion-textarea>
      <ion-icon *ngIf="detalle" (click)="detalle=''" name="close-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item *ngIf="contienTipoDePagos()">
      <ion-label position="floating">Metodos de pago</ion-label>
      <ion-select (ionChange)="seleccionarTipoPago($event)">
        <ion-select-option *ngFor="let pago of pagos" [value]="pago.id_tipo_pago">{{pago.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  <!-- </ion-list> -->
  
  <ion-list>
    <div *ngIf="tipoEnvio === 2">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-button  size="small" class="bg-rosa " type="button" (click)="getCoordinates()">
            <ion-icon name="navigate-circle-outline"></ion-icon>
            Buscar dirección en el mapa
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div id="mapIdPedidoBolsa" style="height:200px"></div>
          </ion-col>
        </ion-row>
        <p class="ion-text-center">{{estasUbicacion}}</p>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <ion-button  size="small" class="bg-rosa " type="button" (click)="localizacionTiempo()">
              <ion-icon name="navigate-circle-outline"></ion-icon>
              Ubicación Actual
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
         
    <div class="ion-text-center" *ngIf="convenio===1">
      <p>
        Tiempo de entrega entre la ubicación del negocio & la dirección del usuario
       </p>
      <p>
        Distancia Km: {{distancia}}
       </p>
     
       <p>
        Tiempo Hrs/Min: {{tiempo}}
       </p>
       <p>
        Costo de envio :{{costoDeEnvio}}
       </p>
       <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-button  size="small" class="bg-rosa " type="button" (click)="activar()">
            <ion-icon name="navigate-circle-outline"></ion-icon>
            Confirmar Dirección
          </ion-button>
        </ion-col>
      </ion-row>

    </div>
      
       

    <h3 class="ion-text-center">Lista de artículos</h3>
    <ion-item *ngFor="let p of lista; let i = index">
     <ion-grid>
        <ion-row>
          <ion-col size="2">
            <img [srcset]="productoImagen(p.imagen)">
            <ion-label class="ion-text-center"  style="font-size: 10px; font-weight: 600;">{{p.nombre}}</ion-label>
            <ion-label class="ion-text-center" style="font-size: 10px; font-weight: 600;">{{ p.precio |currency}}</ion-label>
          </ion-col>
          <ion-col size="5">
            <div class="ion-text-center">{{p.descripcion}}</div>
          </ion-col>
          <ion-col size="3">
            <ion-label><strong>Cantidad</strong></ion-label>
            <ion-icon class="ion-text-center" (click)="aumentarDismuir(p.cantidad, i , 2)" style="margin: 4px; background: #bbbbbb;" name="remove-outline"></ion-icon>
            <span class="ion-text-center" style="position: relative; top: -7px;">{{p.cantidad}}</span>
            <ion-icon class="ion-text-center" (click)="aumentarDismuir(p.cantidad, i , 1)"  style="margin: 4px; background: #bbbbbb;" name="add-outline"></ion-icon>
          </ion-col>
          <ion-col size="2" class="ion-align-items-center">
            <ion-button class="ion-text-center" size="small" (click)="presentAlertConfirm(i)" color="medium" style="height: 18px; width: 33px; font-size: 12px;">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Sub total</h3>
        <h3>{{suma | currency}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="tipoEnvio === 2">
      <ion-label *ngIf="convenio===1">
        <h3>Costo de envio convenio</h3>
        <h3>{{costoEntrega | currency}}</h3>
      </ion-label>
      <ion-label *ngIf="blnCosto">
        <h3>Costo de envio xd</h3>
        <h3>{{costoEntrega | currency}}</h3>
      </ion-label>
      <ion-label *ngIf="blnCostoLetra">
        <h3>Costo de envio</h3>
        <h3>{{_costoEntrega}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Total a pagar</h3>
        <h3>{{sumaTotal | currency}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <div>
    <ion-button class="bg-rosa " (click)="realizarPedido()" *ngIf="tipoEnvio === 1" [disabled]="rTantidad(numeroMesa)" expand="block">Realizar Pedido</ion-button>
    <ion-button class="bg-rosa " (click)="realizarPedido()" *ngIf="tipoEnvio !== 1" expand="block">Realizar Pedido</ion-button>
    <ion-button color="medium" (click)="presentAlertCancelar()" expand="block">Cancelar Pedido</ion-button>
  </div>

</ion-content>
