.cent{
    text-align: center;
}

.boton {
    background: linear-gradient(90deg,#fa4f72,#a74eef);
    color: white;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}