<ion-header *ngIf="!blnActivaDatosVariable">
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Catalogo de Variables</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="agregarVariable()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!blnActivaDatosVariable">
  <ion-item class="bg-gris">
    <ion-buttons slot="end">
        <ion-button (click)="notify()">
          <span *ngIf="!this.isToggled">Filtros</span>
          <ion-icon *ngIf="!this.isToggled" name="search-outline"></ion-icon>
          <span  *ngIf="this.isToggled" >Cerrar</span> 
          <ion-icon *ngIf="this.isToggled" name="close-outline"></ion-icon>       
        </ion-button>
    </ion-buttons>
</ion-item>
  <form *ngIf="this.isToggled === true" #form="ngForm" (ngSubmit)="logForm(form)">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-label>Nombre :</ion-label>
          <ion-input type="text" #nombre="ngModel" (keyup)="setBlnFiltro()" (change)="setBlnFiltro()" name="nombre" [(ngModel)]="filtro.nombre" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Variable :</ion-label>
          <ion-input type="text" #variable="ngModel" (keyup)="setBlnFiltro()" (change)="setBlnFiltro()" name="variable" [(ngModel)]="filtro.variable" ></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Descripcion :</ion-label>
          <ion-input type="text" #descripcion="ngModel" (keyup)="setBlnFiltro()" (change)="setBlnFiltro()" name="descripcion" [(ngModel)]="filtro.descripcion" ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-button type="submit" class="bg-rosa" [disabled]="!blnBtnFiltro">Buscar</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div>    
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
    <ion-card>
<ion-card-header>
  <ion-list >
    <ion-item *ngFor="let variable of lstCatVariable" >
      <ion-label (click)="datosVariables(variable)">
        <h2>{{variable.nombre}}</h2>
      </ion-label>
      <ion-icon name="caret-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card-header>
</ion-card>
  
</ion-content>
<div *ngIf="blnActivaDatosVariable">  
  <app-datos-cat-variables [actualTO]="selectTO"></app-datos-cat-variables> 
  
</div>