<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start" (click)="regresar()">
      <ion-button>
        <ion-icon name="arrow-back-sharp" #boton ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Popover</ion-title>
    <ion-buttons slot="end" *ngIf="popoverTO.id_aviso !null">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formBasicos="ngForm" (ngSubmit)="actualizarDatos(formBasicos)">
    <div style="height: 100%;">
      <ion-item>
        <ion-label>Nombre: </ion-label>
        <ion-input #nombre="ngModel" required name="nombre" [(ngModel)]="popoverTO.nombre"></ion-input>
      </ion-item>
      <div *ngIf="nombre.touched  && nombre.invalid" class="alert alert-danger">
        <div *ngIf="nombre.errors.required">el nombre es requerido</div>
      </div>
      <ion-item>
        <ion-label>Descripción: </ion-label>
        <ion-input #descripcion="ngModel" required name="descripcion" [(ngModel)]="popoverTO.descripcion"></ion-input>
      </ion-item>
      <div *ngIf="descripcion.touched  && descripcion.invalid" class="alert alert-danger">
        <div *ngIf="descripcion.errors.required">el nombre es requerido</div>
      </div>
      <ion-item>
        <ion-label>Activo</ion-label>
        <ion-select #activo="ngModel" name="activo" [(ngModel)]="popoverTO.activo">
          <ion-select-option *ngFor="let a of activos" [value]="a.id">{{a.activo}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="activo.touched  && activo.invalid" class="alert alert-danger">
        <div *ngIf="activo.errors.required">el activo es requerido</div>
      </div>
      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select #tipo="ngModel" name="tipo" [(ngModel)]="popoverTO.tipo_aviso" >
          <ion-select-option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.tipo}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="tipo.touched  && tipo.invalid" class="alert alert-danger">
        <div *ngIf="tipo.errors.required">el tipo es requerido</div>
      </div>
    </div>
    
    <ion-button class="bg-rosa" type="submit" *ngIf="popoverTO.id_aviso === null || popoverTO.id_aviso  === undefined" [disabled]=" loader ||formBasicos.invalid">Guardar</ion-button>
    <ion-button class="bg-rosa" type="submit" *ngIf="valida ===true" [disabled]=" loader ||formBasicos.invalid">Actualizar</ion-button>
  </form>
  
</ion-content>
