<ion-menu side="start" menuId="menuUsuario" contentId="main-content">
  <ion-content>
    <ion-list id="inbox-list">
      <ion-list-header> <strong>Bituyú</strong></ion-list-header>
      <ion-menu-toggle auto-hide="true">
        <ion-note style="margin-left: 11px">{{usuario.correo}}</ion-note>
        <ion-item [routerLink]="['/tabs/home']" routerDirection="root" lines="none" detail="false">
          <ion-avatar slot="start">
            <img src="https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg" [srcset]="usuario.imagen" />
          </ion-avatar>
          <ion-label>{{usuario.nombre}} {{usuario.paterno}}
            {{usuario.materno}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list id="labels-list">
      <ion-menu-toggle auto-hide="false">
       <ion-item *ngIf="misNegocios" menuclose lines="none" [routerLink]="['/tabs/home/negocio']">
        <ion-icon slot="start" ios="briefcase-outline" md="briefcase"></ion-icon>
        Mis negocios
       </ion-item>
        <ion-item *ngIf="misSolicitudes" lines="none" [routerLink]="['/tabs/home/solicitudes']">
          <ion-icon slot="start" ios="document-text-outline" md="document-text-outline"></ion-icon>
          Mis requerimientos de compra
        </ion-item>
        <ion-item *ngIf="misPromociones" lines="none" [routerLink]="['/tabs/home/promociones']">
          <ion-icon slot="start" ios="pricetags-outline" md="pricetags-outline" name="pricetags-outline"></ion-icon>
          Anuncios y promociones
        </ion-item>
        <ion-item lines="none" [routerLink]="['/tabs/home/ser-proveedor']" *ngIf="quieroVender && !misNegocios">
          <ion-icon slot="start" ios="cart-outline" md="cart-outline" name="pricetags-outline" name="cart-outline">
          </ion-icon>
          Quiero vender
        </ion-item>
        <ion-item *ngIf="favoritos" lines="none" [routerLink]="['/tabs/mis-favoritos']">
          <ion-icon slot="start" ios="heart-outline" md="heart-outline"></ion-icon>
          Mis favoritos
        </ion-item>
        <!-- <ion-item
              *ngIf="estadisticas"
              lines="none"
              [routerLink]="['/tabs/home/estadisticas']"
            >
              <ion-icon
                slot="start"
                ios="bar-chart-outline"
                md="bar-chart-outline"
              ></ion-icon>
              Estadísticas
            </ion-item> -->
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
