@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.tag-container {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.tag-container .tag {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #f2f2f2;
}

.tag i {
    font-size: 16px;
    margin-left: 5px;
}

.container input {
    flex: 1;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 1px solid blue;
}