<ion-label style="color: #000;">Tags:</ion-label>
<div class="container">

  <div class="tags" *ngIf="tagActual[0] != ''">
    <ion-chip *ngFor="let tag of tagActual; let i = index">
      <ion-label>{{tag}}</ion-label>
      <ion-icon (click)="eliminarTag(i)" name="close-circle-outline"></ion-icon>
    </ion-chip>
  </div>
  <ion-input placeholder="{{placeHolder}}" style="min-width: 350px;" [(ngModel)]="nuevaTag" (keyup)="agregartag($event)"></ion-input>
  <br>
</div>
<div class="limitTag" *ngIf="limiteTags">
  Has alcanzo el límite de etiquetas permitidas.
</div>
<span>Ayúdenos a mejorar la búsqueda (Ingrese tags)</span>
