img {
    width: 100%;
}

.promocion {
    color: black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.spinner-color {
    --color: #FF1DBD;
}

.customTitulo{
    width: 170px;
    color: black;
    text-align: center;
    background: #F5F5F5;
    border-radius: 20px;
    margin-bottom: 5px;
}

.imagen-redonda {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}
.imagen-redonda img {
    width: 100%;
    height: 100%;
}
