<ion-card (click)="modal()" *ngIf="bdrLista === undefined || bdrLista === true">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrNdWOVG0us26NN-771ygyqcPWQ4T2KXQuiPJgSKyndpDiv5X_&usqp=CAU"
   [srcset]="promocion.url_imagen" alt="Falla al cargar imagen">
  <ion-card-content class="ion-no-padding ion-no-margin">
    <div *ngIf="promocion.id_tipo_promocion===1">
      <ion-grid>
        <div style="display: flex; justify-content: center">
          <div class="customTitulo">{{promocion.nombre_comercial}}</div>
        </div>
        <ion-row *ngIf="promocion.giro_negocio !== null" class="ion-justify-content-center">
          <ion-badge>{{ promocion.giro_negocio }}</ion-badge>
        </ion-row>
        <ion-row class="ion-justify-content-center promocion" style="font-size: medium;" >
          <strong>Anuncio</strong>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-badge *ngIf="promocion.abierto == 'ABIERTO'" color="success">{{ promocion.abierto }}</ion-badge>
          <ion-badge *ngIf="promocion.abierto == 'CERRADO'" color="danger">{{ promocion.abierto }}</ion-badge>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="promocion.id_tipo_promocion===2">
      <ion-grid>
        <div style="display: flex; justify-content: center">
          <div class="customTitulo">{{promocion.nombre_comercial}}</div>
        </div>
        <ion-row *ngIf="promocion.giro_negocio !== null" class="ion-justify-content-center">
          <ion-badge>{{ promocion.giro_negocio }}</ion-badge>
        </ion-row>
        <ion-row *ngIf="idPromo===promocion.id_promocion && !loader" class="ion-justify-content-center">
          <ion-spinner   name="dots" class="ion-justify-content-center spinner-color"></ion-spinner>
        </ion-row>
        <ion-row class="ion-justify-content-center promocion" style="font-size: medium;">
          <strong>Promoción</strong>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-badge *ngIf="promocion.abierto == 'ABIERTO'" color="success">{{ promocion.abierto }}</ion-badge>
          <ion-badge *ngIf="promocion.abierto == 'CERRADO'" color="danger">{{ promocion.abierto }}</ion-badge>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>

<div style="display: flex; justify-content: center; margin-bottom: 10px" *ngIf="bdrLista === false">
  <div style="width: 98%; border-radius: 40px; background: white" (click)="modal()">
    <ion-row style="margin: 0; padding: 0;">
      <ion-col size="2.5" style="display: flex; align-items: center; margin: 0; padding: 0;">
        <div class="imagen-redonda">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrNdWOVG0us26NN-771ygyqcPWQ4T2KXQuiPJgSKyndpDiv5X_&usqp=CAU"
               [srcset]="promocion.url_imagen" alt="Falla al cargar imagen">
        </div>
      </ion-col>
      <ion-col size="6.5" style="margin: 0; padding: 0;">
        <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-top: 5px;">
          <div class="customTitulo">{{promocion.nombre_comercial}}</div>
          <strong style="margin-top: 1px;">{{ promocion.giro_negocio }}</strong>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 3px;">
          <strong *ngIf="promocion.id_tipo_promocion===2">Promoción</strong>
          <strong *ngIf="promocion.id_tipo_promocion===1">Anuncio</strong>
        </div>
      </ion-col>
      <ion-col size="3" style="display: flex; align-items: flex-end; margin: 0; padding: 0;">
        <div style="margin-bottom: 2px; margin-left: 2px">
          <ion-badge *ngIf="promocion.abierto == 'ABIERTO'" color="success">{{ promocion.abierto }}</ion-badge>
          <ion-badge *ngIf="promocion.abierto == 'CERRADO'" color="danger">{{ promocion.abierto }}</ion-badge>
        </div>
      </ion-col>
    </ion-row>
  </div>
</div>
