<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start" >
      <ion-back-button  text="" (click)="regresar()"></ion-back-button>
    </ion-buttons>
    <ion-title>Publicar requerimiento de compra</ion-title>
  </ion-toolbar>
</ion-header>

<app-spinner [loader]="loader" [message]="mensaje"></app-spinner>
<ion-content *ngIf="!loader">
  <ion-card>
    <br>
    <ion-card-header>
    <div *ngIf="mensajePublicacion">
      <span>Lo sentimos!!! Su cuenta gratuita solo permite hacer {{publicacionesPermitidas}} publicaciones...</span>
    </div>
    <ion-list>
      <form #formBasicos="ngForm" (ngSubmit)="guardarPublicacion(formBasicos)">
        
        <ion-item id="open-modal-date-1-solicitud">
          <ion-label position="stacked">Fecha inicial:</ion-label>
          <ion-icon slot="end" name="calendar-outline"></ion-icon>
          <small>
            {{fechaini| date: 'dd/MM/yyyy'}}
          </small>
          <small *ngIf="!fechaini" style="color: red">Fecha inicio es requerido</small>
        </ion-item>
        <ion-modal trigger="open-modal-date-1-solicitud">
          <ng-template>
            <ion-content>
              <ion-datetime name="fechaInicio" #fechaInicio="ngModel" [(ngModel)]="fechaini" 
              required [max]="maxDate" presentation="date" [showDefaultButtons]="true" doneText="Ok" cancelText="Cancelar"></ion-datetime>        
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-item id="open-modal-date-2-solicitud">
          <ion-label position="stacked">Fecha final:</ion-label>
          <ion-icon slot="end" name="calendar-outline"></ion-icon>
          <small>
            {{fechafin| date: 'dd/MM/yyyy'}}
          </small>
          <small *ngIf="!fechafin" style="color: red">Fecha final es requerido</small>
          
        </ion-item>

        <ion-modal trigger="open-modal-date-2-solicitud">
          <ng-template>
            <ion-content>
              <ion-datetime name="fechaFinal" #fechaFinal="ngModel" [(ngModel)]="fechafin" required 
                (ionChange)="calcularRangoFechas()" [max]="maxDate" presentation="date" [showDefaultButtons]="true" 
                doneText="Ok" cancelText="Cancelar">
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
        
        <br>
        <div class="ion-text-center">
          <span>Selecciona un rango de fechas no mayor a {{diasPermitidos}} días para la publicación</span>
        </div>
        <div  class="ion-text-center" *ngIf="blnSelectFecha" style="color: red;">
          <span>Sólo puede seleccionar {{diasPermitidos}} días, verifique sus fechas</span>
        </div>
        <ion-button type="submit" class="bg-naranja" expand="block" [disabled]="formBasicos.invalid || blnSelectFecha">Publicar</ion-button>
      </form>
    </ion-list>
  </ion-card-header>
  </ion-card>
</ion-content>
