<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title *ngIf="segmentModel === 'informacion'"> Información Negocio </ion-title>
    <ion-title *ngIf="segmentModel === 'domicilio'"> Domicilio </ion-title>
    <ion-title *ngIf="segmentModel === 'contacto'"> Contacto </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!loader">
  <ion-toolbar>
    <ion-segment color="tertiary" value="informacion" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="informacion">
        <!--  <ion-label>Info. negocio</ion-label>-->
        <ion-icon [style]="colorInfo" name="storefront-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="contacto">
        <!--<ion-label>Contacto</ion-label>-->
        <ion-icon [style]="colorContacto" name="call-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="domicilio">
        <!--<ion-label>Domicilio</ion-label>-->
        <ion-icon [style]="colorDomicilio" name="location-outline"></ion-icon>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<app-spinner [loader]="loader" [message]="msj"></app-spinner>
<ion-content *ngIf="segmentModel === 'informacion' && !loader">
  <ion-card>
    <ion-card-content>
      <form #formNegocio="ngForm" (ngSubmit)="guardar(formNegocio)">
        <div class="form-group" style="display: flex; justify-content: center; align-items: center">

          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type="file" hidden id="imageUpload" accept="image/*" (change)="subir_imagen_cuadrada($event)" />
              <label for="imageUpload">
                <ion-icon name="camera-outline" style="position: relative; top: 7px"></ion-icon>
              </label>
            </div>
            <div class="avatar-preview">
              <div *ngIf="negocioTO.logo === null || negocioTO.logo === undefined" id="imageUpload" [ngStyle]="negocioTO.logo !== null ?
                {'background-image': 'url('+negocioTO.url_logo+')'} : ''"></div>
              <div *ngIf="negocioTO.logo !== null && negocioTO.logo !== undefined" [ngStyle]="{
             'background-image': 'url('+negocioTO.logo.archivo_64+')'}"></div>
            </div>
            <label for="imageUpload"></label>
          </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center">
          <ion-label> www.bitoo.com.mx/{{negocioTO.url_negocio}}</ion-label>
        </div>
        <div style="display: flex; justify-content: center; align-items: center"
          *ngIf="(negocioTO.id_negocio !== undefined && negocioTO.id_negocio !== null)">
          <ion-button size="small" *ngIf=" negocioTO.url_negocio !== null" (click)="solicitarCambioUrl()" color="primary">
            solicitar cambio de url
          </ion-button>
        </div>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nombre del negocio: <span style="color: red">*</span></ion-label>
            <ion-input id="idNegocioNombre" name="idNegocioNombre" #nombreNegocio="ngModel"
              [(ngModel)]="negocioTO.nombre_comercial" required (ngModelChange)="confirmarUrlNegocio($event)">
            </ion-input>
          </ion-item>
          <div *ngIf="nombreNegocio.touched  && nombreNegocio.invalid" class="alert">
            <div *ngIf="nombreNegocio.errors.required">
              el nombre es requerido
            </div>
          </div>
          <ion-item>
            <ion-label position="stacked">Tipo de Negocio <span style="color: red">*</span></ion-label>
            <ion-select placeholder="{{ tipoNegoAux }}" name="idtipoNegocio" required #tipoNegocio="ngModel"
              [(ngModel)]="negocioTO.id_tipo_negocio" ok-text="Ok" cancel-text="Cancelar"
              (ionChange)="categoriaPrincipal($event)">
              <ng-container *ngFor="let item of listTipoNegocio">
                <ion-select-option [value]="item.id_tipo_negocio">{{item.nombre}}</ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="tipoNegocio.invalid" class="alert">
            <div>Seleccione un tipo negocio</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Categoría <span style="color: red">*</span></ion-label>
            <ion-select placeholder="{{ tipoGiroAux }}" name="idtipoGiro" required #tipoGiro="ngModel" ok-text="Ok"
              cancel-text="Cancelar" [(ngModel)]="negocioTO.id_giro" (ionChange)="subcategorias($event)">
              <ng-container *ngFor="let item of listCategorias">
                <ion-select-option [value]="item.id_giro">{{item.nombre}}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="tipoGiro.invalid" class="alert">
            <div>Seleccione un tipo categoria</div>
          </div>
          <ion-item>
            <ion-label position="stacked">SubCategoría <span style="color: red">*</span></ion-label>
            <ion-select placeholder="{{ tipoSubAux }}" name="idtipoSubCategorias" required #tipoSubCategoria="ngModel"
              ok-text="Ok" cancel-text="Cancelar" [(ngModel)]="negocioTO.id_categoria_negocio">
              <ng-container *ngFor="let item of listaSubCategorias">
                <ion-select-option [value]="item.id_categoria">{{item.nombre}}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="tipoSubCategoria.invalid" class="alert">
            <div>Seleccione un tipo subcategoria</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Descripción del Negocio <span style="color: red">*</span>
            </ion-label>
            <ion-input id="idNegocioDesc" name="idNegocioDesc" #descNegocio="ngModel" required
              [(ngModel)]="negocioTO.descripcion"></ion-input>
          </ion-item>
          <div *ngIf="descNegocio.touched  && descNegocio.invalid" class="alert">
            <div *ngIf="descNegocio.errors.required">
              el descripcion es requerido
            </div>
          </div>
          <ion-item>
            <ion-label position="stacked">Afiliado a</ion-label>
            <ion-select ok-text="Ok" cancel-text="Cancelar" multiple id="idOrganiza" name="idOrganiza"
              #organizaciones="ngModel" [(ngModel)]="negocioTO.organizaciones" placeholder="{{ tipoOrgAux }}">
              <ion-select-option *ngFor="let org of lstOrganizaciones" [value]="org.id_organizacion">{{org.nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Se encuentra en la Plaza: </ion-label>
            <ion-select ok-text="Ok" cancel-text="Cancelar" multiple id="idPlaza" name="idPlaza" #plazas="ngModel"
              [(ngModel)]="negocioTO.plazas" placeholder="{{ tipoPlzAux }}">
              <ion-select-option *ngFor="let plz of lstPlazas" [value]="plz.id_organizacion">{{plz.nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-label>Ayudanos a que la busqueda de tu negocio sea mas
            efectiva</ion-label>
          <ion-item>
            <app-input-tags [tags]="negocioTO.tags" (_enviarTags)="agregarTags($event)"></app-input-tags>
          </ion-item>
          <ion-label>Horiario de antención <span style="color: red">*</span></ion-label>
          <ion-item>
            <ion-label stacked> Horario Inicial </ion-label>
            <ion-datetime display-format="H:mm" picker-format="H:mm" name="feInicio" #feInicio="ngModel"
              [(ngModel)]="horarioini" (ionChange)="validarHoraInicio($event)"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label stacked> Horario Final </ion-label>
            <ion-datetime [disabled]="blnActivaHoraF" display-format="H:mm" picker-format="H:mm" name="fechaFinal"
              #fechaFinal="ngModel" [(ngModel)]="horariofin" (ionChange)="validarHoraFinal($event)"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Dias de la Semana</ion-label>
            <ion-select [disabled]="blnActivaDias" ok-text="Ok" cancel-text="Cancelar" multiple #dias="ngModel"
              name="dias" (ionChange)="diasSeleccionado($event)" [(ngModel)]="nuevoHorario.dias">
              <ion-select-option *ngFor="let dia of diasArray" [value]="dia.dia">{{dia.dia}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="12" class="ion-text-center">
                <ion-button [disabled]="blnActivaHorario" size="small" class="bg-rosa" type="button"
                  (click)="agregarHorario()">
                  Guardar Horario
                </ion-button>
                <ion-button size="small" color="medium" type="button" (click)="cancelarHorario()">
                  Limpiar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card>
            <div class="ion-text-center">
              <h5>Horarios <span style="color: red">*</span></h5>
            </div>
            <ion-list *ngFor="let dia of negocioTO.dias; index as i">
              <span style="margin: 10px">Días</span>
              <ion-item>
                <ion-label>{{dia.dias}}</ion-label>
              </ion-item>
              <span style="margin: 10px">Horario</span>
              <ion-item class="ion-align-items-center">
                <ion-chip color="tertiary" class="ion-text-center">
                  <ion-label>{{dia.hora_inicio}}</ion-label>
                </ion-chip>
                <ion-chip color="tertiary" class="ion-text-center">
                  <ion-label>{{dia.hora_fin}}</ion-label>
                </ion-chip>
                <ion-button (click)="editarHorario(dia,i)" color="success" size="small" class="ion-text-center">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="presentAlertEliminar(i)" color="medium" size="small" class="ion-text-center">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card>
          <ion-item>
            <ion-label>Negocio físico<span style="color: red">*</span></ion-label>
            <ion-select ok-text="Ok" cancel-text="Cancelar" name="idNegocioFisico" required #negocioFisico="ngModel"
              [(ngModel)]="negocioTO.negocio_fisico" (ionChange)="esNegocioFisico($event)">
              <ion-select-option *ngFor="let ent of entregas" [value]="ent.id">{{ent.respuesta}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="negocioFisico.invalid" class="alert">
            <div>Seleccione el campo negocio físico</div>
          </div>
          <div *ngIf="blnActivaNegocioFisico">
            <ion-item>
              <ion-button color="light" size="small" (click)="consumoSitioAlert()">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
              <ion-label>Consumo en sitio<span style="color: red">*</span></ion-label>
              <ion-select ok-text="Ok" cancel-text="Cancelar" name="idConsumoNegocio" required #consuNegocio="ngModel"
                [(ngModel)]="negocioTO.consumo_sitio">
                <ion-select-option *ngFor="let ent of entregas" [value]="ent.id">{{ent.respuesta}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngIf="consuNegocio.invalid" class="alert">
              <div>Seleccione el campo consumo en sitio</div>
            </div>
            <ion-item>
              <ion-button color="light" size="small" (click)="entregaSitioAlert()">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
              <ion-label>Entregas en sitio: <span style="color: red">*</span></ion-label>
              <ion-select ok-text="Ok" cancel-text="Cancelar" name="idEntregaNegocio" required #entregaNegocio="ngModel"
                [(ngModel)]="negocioTO.entrega_sitio">
                <ion-select-option *ngFor="let ent of entregas" [value]="ent.id">{{ent.respuesta}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngIf="entregaNegocio.invalid" class="alert">
              <div>Seleccione el campo entregas en sitio</div>
            </div>
          </div>
          <ion-item>
            <ion-button color="light" size="small" (click)="entregaDomicilioAlert()">
              <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>
            <ion-label>Entregas a Domicilio:
              <span style="color: red">*</span>
            </ion-label>
            <ion-select ok-text="Ok" cancel-text="Cancelar" name="idEntreDomNegocio" required #entreDomNegocio="ngModel"
              (ionChange)="entregasDomicilio($event)" [(ngModel)]="negocioTO.entrega_domicilio">
              <ion-select-option *ngFor="let ent of entregas" [value]="ent.id">{{ent.respuesta}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="entreDomNegocio.invalid" class="alert">
            <div>Seleccione el campo entrega a domicilio</div>
          </div>
          <div *ngIf="blnActivaEntregas">
            <ion-item>
              <ion-label position="stacked">Alcance de la Entrega</ion-label>
              <ion-input id="idNegoAlcEntrega" name="idNegoAlcEntrega" #negoAlcEntrega="ngModel" required
                [(ngModel)]="negocioTO.alcance_entrega"></ion-input>
            </ion-item>
            <span style="font-size: 11px; margin-left: 11px">Km</span>
            <ion-item>
              <ion-label position="stacked">Tiempo de Entrega</ion-label>
              <ion-input id="idNegoTiempoEntrega" name="idNegoTiempoEntrega" #negoTiempoEntrega="ngModel" required
                [(ngModel)]="negocioTO.tiempo_entrega_kilometro"></ion-input>
            </ion-item>
             <p>Especificar en Hrs/Minutos</p>
            <ion-item>
              <ion-label position="stacked">Costo de Entrega</ion-label>
              <ion-input placeholder="$0.00" id="idNegoCostoEntrega" name="idNegoCostoEntrega"
                #negoCostoEntrega="ngModel" required [(ngModel)]="negocioTO.costo_entrega"></ion-input>
            </ion-item>
          </div>
          <div *ngIf="!blnActivaNegocioFisico">
            <ion-label>Lugares de entrega</ion-label>
            <ion-item>
              <app-input-lugares-entrega [lugaresEntrega]="negocioTO.lugares_entrega"
                (_enviarLugaresEntrega)="agregarLugaresEntrega($event)">
              </app-input-lugares-entrega>
            </ion-item>
          </div>
          <ion-item>
            <ion-label>Métodos de pago<span style="color: red">*</span></ion-label>
            <ion-select ok-text="Ok" cancel-text="Cancelar" multiple #pago="ngModel" name="pago" required
              #metodoPago="ngModel" (ionChange)="cambiarPago($event)" [(ngModel)]="copyPago">
              <ion-select-option *ngFor="let item of metodosPago" [value]="item">{{item.metodo}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="metodoPago.invalid" class="alert">
            <div>Seleccione el campo métodos de pago</div>
          </div>
          <ion-item>
            <ion-label>Los campos con <span style="color: red">*</span>son
              obligatorios</ion-label>
          </ion-item>
          <ion-button expand="block" type="submit" class="bg-rosa"
          [disabled]="infoInvalid(formNegocio.invalid, negocioTO.dias)"
          *ngIf="(negocioTO.id_negocio !== undefined && negocioTO.id_negocio !== null)">Actualizar
        </ion-button>
        </ion-list>
        <ion-button (click)="nextTab('contacto')" expand="block" type="submit"
        class="bg-rosa">Siguiente
      </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="segmentModel === 'domicilio' && !loader">
  <ion-card>
    <ion-card-content>
      <form #formDomicilio="ngForm" (ngSubmit)="guardar(formDomicilio)">
        <ion-item>
          <ion-button (click)="setearDireccion()" expand="small" class="bg-rosa" slot="end">
            <span> Usar domicilio personal </span>
          </ion-button>
        </ion-item>
        <ion-list>
          <ion-label class="texto-info-domicilio">Esta información es de control interno. No se mostrará en el perfil
            del negocio.</ion-label>
          <ion-item>
            <ion-label position="stacked">Calle: <span style="color: red">*</span></ion-label>
            <ion-input id="calle" name="calle" type="text" #calleNego="ngModel"
              [(ngModel)]="negocioTO.det_domicilio.calle" (change)="getAddress()" required></ion-input>
          </ion-item>
          <div *ngIf="calleNego.touched  && calleNego.invalid" class="alert">
            <div *ngIf="calleNego.errors.required">la calle es requerido</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Número Exterior: <span style="color: red">*</span></ion-label>
            <ion-input id="numExt" name="numExt" type="text" #numExtNego="ngModel"
              [(ngModel)]="negocioTO.det_domicilio.numero_ext" (change)="getAddress()" required></ion-input>
          </ion-item>
          <div *ngIf="numExtNego.touched  && numExtNego.invalid" class="alert">
            <div *ngIf="numExtNego.errors.required">
              el numero exterior es requerido
            </div>
          </div>
          <ion-item>
            <ion-label position="stacked">Número Interior: </ion-label>
            <ion-input id="numInt" name="numInt" type="text" #numIntNego="ngModel"
              [(ngModel)]="negocioTO.det_domicilio.numero_int" (change)="getAddress()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Estado <span style="color: red">*</span></ion-label>
            <ion-select placeholder="{{ estadoAux }}" [disabled]="btnEstado" ok-text="Ok" cancel-text="Cancelar"
              name="estado" required #compEstado="ngModel" [(ngModel)]="negocioTO.det_domicilio.id_estado" (change)="getAddress()"
              (ionChange)="get_list_cat_municipio($event)">
              <ng-container *ngFor="let e of list_cat_estado">
                <ion-select-option [value]="e.id_estado">{{e.nombre}}</ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="compEstado.invalid" class="alert">
            <div>Seleccione un Estado</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Municipio <span style="color: red">*</span></ion-label>
            <ion-select placeholder="{{ municiAux }}" [disabled]="btnMuncipio" ok-text="Ok" cancel-text="Cancelar"
              name="municipio" required #compMunicipio="ngModel" [(ngModel)]="negocioTO.det_domicilio.id_municipio" (change)="getAddress()"
              (ionChange)="get_list_cat_localidad($event)">
              <ng-container *ngFor="let mun of list_cat_municipio">
                <ion-select-option [value]="mun.id_municipio">
                  {{mun.nombre}}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="compMunicipio.invalid" class="alert">
            <div>Seleccione un Municipio</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Localidad <span style="color: red">*</span></ion-label>
            <ion-select placeholder="{{ localiAux }}" [disabled]="btnLocalidad" ok-text="Ok" cancel-text="Cancelar"
              name="localidad" required #compLocalidad="ngModel" [(ngModel)]="negocioTO.det_domicilio.id_localidad">
              <ng-container *ngFor="let loc of list_cat_localidad">
                <ion-select-option [value]="loc.id_localidad">
                  {{loc.nombre}}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="compLocalidad.invalid" class="alert">
            <div>Seleccione una Localidad</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Colonia <span style="color: red">*</span></ion-label>
            <ion-input id="colonia" name="colonia" type="text" #coloniaNego="ngModel"
              [(ngModel)]="negocioTO.det_domicilio.colonia" (change)="getAddress()" required></ion-input>
          </ion-item>
          <div *ngIf="coloniaNego.touched  && coloniaNego.invalid" class="alert">
            <div *ngIf="coloniaNego.errors.required">
              la colonia es requerido
            </div>
          </div>
          <br />
          <ion-item>
            <ion-label position="stacked">Código postal <span style="color: red">*</span></ion-label>
            <ion-input id="codigo_postal" name="codigo_postal" type="text" #coloniaNego="ngModel"
              [(ngModel)]="negocioTO.det_domicilio.codigo_postal" (change)="getAddress()" required></ion-input>
          </ion-item>
          <br/>
          <ion-button size="small" class="bg-rosa" type="button" (click)="getAddress()">
            <ion-icon name="navigate-circle-outline"></ion-icon>
            Buscar dirección en el mapa
          </ion-button>
          <br/>
          <ion-label *ngIf="blnActivaNegocioFisico">Selecciona la ubicación de tu negocio en este mapa <span
              style="color: red">(ESTE PUNTO ES OBLIGATORIO) * </span>:</ion-label>
          <ion-grid *ngIf="blnActivaNegocioFisico">
            <ion-row>
              <ion-col>
                <div id="mapId" style="height: 200px"></div>
              </ion-col>
            </ion-row>
            <ion-button size="small" class="bg-rosa" type="button" (click)="localizationOption()">
              <ion-icon name="navigate-circle-outline"></ion-icon>
              Ubicación Actual
            </ion-button>
          </ion-grid>
          <ion-item>
            <ion-label>Los campos con <span style="color: red">*</span> son
              obligatorios</ion-label>
          </ion-item>
          <ion-button expand="block" type="submit" class="bg-rosa"
            [disabled]="domicilioInvalid(formDomicilio.invalid, negocioTO.dias)">
            <span *ngIf="negocioTO.id_negocio === null || negocioTO.id_negocio === undefined">Guardar</span>
            <span *ngIf="negocioTO.id_negocio !== null && negocioTO.id_negocio !== undefined">Actualizar</span>
          </ion-button>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="segmentModel === 'contacto' && !loader">
  <ion-card>
    <ion-card-content>
      <form #formNegoContacto="ngForm" (ngSubmit)="guardar(formNegoContacto)">
        <ion-list lines="none">
          <ion-item>
            <ion-label position="floating">Teléfono oficina :</ion-label>
            <ion-input id="idTelefonoNegocio" name="idTelefonoNegocio" #telefonoNegocio="ngModel"
              [(ngModel)]="negocioTO.telefono"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Célular/Whatsapp<span style="color: red">*</span> :</ion-label>
            <ion-input id="idCelularNegocio" name="idCelularNegocio" #celularNegocio="ngModel" required
              [(ngModel)]="negocioTO.celular" required></ion-input>
          </ion-item>
          <div *ngIf="celularNegocio.touched  && celularNegocio.invalid" class="alert">
            <div *ngIf="celularNegocio.errors.required">
              el Celular/Whatsapp es requerido
            </div>
          </div>
          <ion-item>
            <ion-label position="floating">Correo :</ion-label>
            <ion-input id="idCorreoNegocio" name="idCorreoNegocio" #correoNegocio="ngModel"
              [(ngModel)]="negocioTO.correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./../../../../../assets/images/fb.png" alt="" />
            </ion-avatar>
            <ion-input id="idFaceNegocio" name="idFaceNegocio" #faceNegocio="ngModel"
              [(ngModel)]="negocioTO.id_facebook" placeholder="Facebook :"></ion-input>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./../../../../../assets/images/tw.png" alt="" />
            </ion-avatar>
            <ion-input id="idTwiNegocio" name="idTwiNegocio" #twiNegocio="ngModel" [(ngModel)]="negocioTO.twitter"
              placeholder="Twitter :"></ion-input>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./../../../../../assets/images/insta.png" alt="" />
            </ion-avatar>
            <ion-input id="idInstNegocio" name="idInstNegocio" #instNegocio="ngModel" [(ngModel)]="negocioTO.instagram"
              placeholder="Instagram :"></ion-input>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./../../../../../assets/images/yt.png" alt="" />
            </ion-avatar>
            <ion-input id="idYouNegocio" name="idYouNegocio" #youNegocio="ngModel" [(ngModel)]="negocioTO.youtube"
              placeholder="Youtube :"></ion-input>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./../../../../../assets/images/tt.png" alt="" />
            </ion-avatar>
            <ion-input id="idTikNegocio" name="idTikNegocio" #tikNegocio="ngModel" [(ngModel)]="negocioTO.tiktok"
              placeholder="TikTok :"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Los campos con * son obligatorios</ion-label>
          </ion-item>
        </ion-list>
        <ion-button [disabled]="contactoInvalid(formNegoContacto.invalid, negocioTO.dias)" expand="block" type="submit"
          class="bg-rosa" *ngIf="(negocioTO.id_negocio !== undefined && negocioTO.id_negocio !== null)">Actualizar
        </ion-button>
      </form>
      <ion-button (click)="nextTab('domicilio')" expand="block" type="submit"
      class="bg-rosa">Siguiente
    </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
