<ion-header translucent>
    <ion-toolbar>
        <ion-title>Recortar Imagen</ion-title>
        <ion-buttons slot="end" (click)="cerrar()">
            <ion-button>
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="container" style="display: flex; flex-direction: column;">
        <div>
            <div>
                <p style="text-align: center;">Mueva el rectangulo para seleccionar el área deseada a recortar</p>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <div>
                <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [resizeToWidth]="resizeToWidth"
                        [resizeToHeight]="resizeToHeight"
                        [aspectRatio]="resizeToWidth/resizeToHeight"
                        format="png"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (loadImageFailed)="loadImageFailed()"
                >
                </image-cropper>
            </div>
        </div>
        <div>
            <ion-button expand="block" (click)="guardarImagenRecortada()">Guardar</ion-button>
        </div>
    </div>

</ion-content>
