.headerPage {
  display: flex;
  justify-content: center;
}

.titlePage {
  margin: 0 auto;
}

.gridCalendario{
  width: 100%;
  text-align: center;

}
.contenedorDia, .contenedorDiaVacio, .contenedorDiaSemana {
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  text-align: center;
  line-height: 9vw;
  font-size: 4.5vw; /* Tamaño del texto */
  font-weight: bold;



}
.contenedorDia {

  filter: drop-shadow(0 1vw 1vw #000);
  border: 0.4vw solid #000;
  background-color: white;
}



.contenedorDiaSemana {
  font-size: 3.5vw; /* Tamaño del texto */
  font-weight: bold;
}

.diaNoDisponible {
  background-color: white;
}
.diaPasado {
  background-color: white;
  color: black;
}
.diaSinServicio {
  background-color: rgb(223,223,223);

}
.diaSabado{
  color: rgb(95,95,200);
}
.diaDomingo{
  color: rgb(197,95,95);
}

.diaParcialmenteDisponible {
  background-color: rgb(255,222,137);
  color: rgb(206,173,88);

}

.diaCompletamenteDisponible {
  background-color: rgb(194,247,181);
  color: rgb(69,122,56);
  /*transition: background-color 0.3s ease, color 0.3s ease;*/
}
.diaCompletamenteDisponible:active {
  background-color: rgb(90,90,210);
  color: white;
 /* transition: transform 0.3s ease;*/
}
.diaSeleccionado{
  background-color: rgb(90,90,210);
  color: white;
}
.citaCanceladaUsuario,
.citaCanceladaProveedor {
  background-color: rgb(255,88,70);
  color: rgb(171,37,26);
}



.mesActual {
  background-color: #CCF7FF;
  color: #000;
}

.filasDiasMes {
  margin-top: 0.5vw; /* Espaciado entre filas */
  width: 100%;
}

.nombreMes {
  font-weight: bold;
  font-size: 6.5vw; /* Ajusta el tamaño del nombre del mes */
}
.fondoBlanco{
  background-color: white;
}
.listadoCitasDeUsuario{
  margin-top: 4vw;
}
.itemCitaAgenda{
  border: 1px solid #000;
}
.itemDetalleCitaAgenda{
  margin-top:10px;
}

.confirmacion-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 3s ease; /* Agregamos una transición suave de 0.3 segundos */

  &.visible {
    opacity: 1; /* Hacer visible cuando la clase 'visible' está presente */
  }
}

.confirmacion-container {
  border: none;
  box-shadow: 0 0 5px 0px #FBDDED;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease; /* Agregamos una transición suave de 0.3 segundos para el contenedor */

  &.visible {
    transform: scale(1); /* Hacer visible cuando la clase 'visible' está presente */
  }
}
.highlighted-item {
  border: 6px solid rgb(0,0,255);
  border-radius: 5px;
  transition: border-color 0.3s ease; /* Añade una transición para una mejor apariencia */

}

.itemRegistroAgenda {
  margin-left: 2vw;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;


}
.itemRegistroAgenda ion-label{
  font-size: 4vw;
}
.itemRegistroAgenda ion-select,
.itemRegistroAgenda ion-input{
  margin-top: 10px;
  border-radius: 10px;

  border: 6px solid rgb(200,200,200);

}


.botonesInferiores{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  background-color: white;
  margin-top: 5vw;
  margin-left: 5vw;

}
.button-agendar,
.button-cancelar {
  width: 30vw;
  font-size: 4vw;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}
.button-cancelar{
  color: black;
  --background: lightgrey;
  border: 1px solid black;

}
