.cent{
    text-align: center;
}

.boton {
    //background: linear-gradient(90deg,#ff1dbd,#FFCE00);
    background: #ff9901;
    color: white;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
}

ion-button,
button {
    border-radius: 15px;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

ion-modal {
    --background: rgba(44, 39, 45, 0.2);

    &::part(content) {
        backdrop-filter: blur(6px);
    }

    ion-content {
        --background: transparent;
        --padding-start: 20px;
        --padding-top: 25vh;
        --padding-end: 20px;

        ion-datetime {
            border-radius: 10px;
        }
    }
}

.wdht {
    min-width: 50%;
}

.noVisual {
    display: none;
}

.bg {
    background-color: antiquewhite;
    height: 90%;
    min-width: 50%;
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.contenido {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.slider {
    width: 100%;
    height: 30%;
}

.size-icon {
    width: 150px;
    height: 150px;
}

.custom-file-input:before {
    content: 'Subir Imagen';
    display: block;
    background: -webkit-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -o-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -moz-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: linear-gradient(90deg, #ff1dbd, #FFCE00);

    /*background: -webkit-linear-gradient(90deg, #fa4f72, #a74eef);
    background: -o-linear-gradient(90deg, #fa4f72, #a74eef);
    background: -moz-linear-gradient(90deg, #fa4f72, #a74eef);
    background: linear-gradient(90deg, #fa4f72, #a74eef);*/
    border-radius: 2px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    position: absolute;
    left: 0;
    right: 0;
}

.custom-video-input:before {
    content: 'Subir Video';
    display: block;
    background: -webkit-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -o-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -moz-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: linear-gradient(90deg, #ff1dbd, #FFCE00);

    /*background: -webkit-linear-gradient(90deg, #fa4f72, #a74eef);
    background: -o-linear-gradient(90deg, #fa4f72, #a74eef);
    background: -moz-linear-gradient(90deg, #fa4f72, #a74eef);
    background: linear-gradient(90deg, #fa4f72, #a74eef);*/
    border-radius: 2px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    position: absolute;
    left: 0;
    right: 0;
}

.borrar-botom {
    display: block;
    background: -webkit-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -o-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -moz-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: linear-gradient(90deg, #ff1dbd, #FFCE00);
    /*background: -webkit-linear-gradient(90deg, #fa4f72, #a74eef);
    background: -o-linear-gradient(90deg, #fa4f72, #a74eef);
    background: -moz-linear-gradient(90deg, #fa4f72, #a74eef);
    background: linear-gradient(90deg, #fa4f72, #a74eef);*/
    border-radius: 4px;
    padding: 5px 0px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -26px;
}

.foto-card {
    width: 100%;
    height: 160px;
    box-shadow: none;
    border-radius: 12px;

    img {
        object-fit: cover;
        width: 98%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
        line-height: 0;
    }
}

.swiper-slide-active {
    transform: scale(1.05, 1.05);

    .foto-card {
        img {
            transform: scale(1, 1);
        }
    }
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}

.requerido {
    color: red;
}

.limiteTxt {
    padding: 5px 0px 5px 15px;
    width: 100%;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    display: flex;
}

.alertaColor {
    padding: 5px 0px 5px 15px;
    width: 100%;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    display: flex;
}
.editEliminar {
    display: flex;
    flex-direction: column;
    width: 50px;
}