.contenedorPromo{
    width: 100vw;
    height: 67.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}
.cardPromo{
    width: 180px;
    height: 320px;
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
}
.seccionImg{
    height: 60%;
}
.seccionImg img{
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}
.seccionContenido{
    height: 30%;
    text-align: center;
}
.promocion{
    color: black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}
.ultimaSeccion{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}