<ion-header>
    <ion-toolbar class="tolbar">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Brokers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="6">
            <ion-card style="background-color: #00bcff" rou  routerLink="mercadoPago" [queryParams]="{idNegocio: idNegocio}">
                <ion-card-content class="ion-text-center">
                    <img style="width: auto" src="https://ps.w.org/woocommerce-mercadopago/assets/icon-256x256.png?rev=2653727">
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
