<div class="contendorCarrusel" #contendorCarrusel>
  <div class="carrusel">
    <div *ngFor="let item of arrayUnion; let i = index" class="carrusel-item">
      <ng-container *ngIf="item.url_imagen !== null && item.url_imagen !== 'null'">
        <img src="{{ item.url_imagen }}" alt="Image" class="carrusel-content">
      </ng-container>
      <ng-container *ngIf="item.url_video !== null && item.url_video !== 'null'">
        <video controls class="carrusel-content">
          <source type="video/mp4" [src]="item.url_video">
        </video>
      </ng-container>
    </div>
  </div>
</div>
<h1 class="titulo">{{infoEvento.evento}}</h1>
<div>
  <ion-row>
    <ion-col size="7">
      <h1 style="text-align: center">{{usuario}}</h1>
      <div style="display: flex; align-items: center; margin-top: -15px;">
        <img src="assets/images/eventos/calendario.png" class="imgs">
        <p>Fecha: {{numeroDia}}/{{meses[numeroMes]}}/{{anio}}</p>
      </div>
      <div style="display: flex; align-items: center; margin-top: -15px;">
        <img src="assets/images/eventos/reloj.png" class="imgs">
        <p style="display: inline-block;">{{hora12h}} Horas</p>
      </div>
      <div style="display: flex; align-items: center; margin-top: -15px;">
        <img src="assets/images/eventos/personas.png"
             style="width: 25px; height: 25px; margin-left: 4px; margin-right: 11px;">
        <p>Nº de personas: {{infoReservacion.cantidad_persona}}</p>
      </div>
      <div style="display: flex; align-items: center; margin-top: -15px">
        <img src="assets/images/eventos/Ubicación.png" class="imgs">
        <p style="display: inline-block;">Lugar: {{nombreLocalidad}}{{nombreMunicipio}}{{nombreEstado}}</p>
      </div>
    </ion-col>
    <ion-col size="5">
      <br><br><br><br>
      <div #qrcode class="qrClass"></div>
    </ion-col>
  </ion-row>
</div>
<div class="buttonRe">
  <div class="mensajeReservacion" *ngIf="infoReservacion.generar_reservacion === 0">
    <strong>En espera que confirmen tu reservación</strong>
  </div>

  <ion-button class="buttonReserva" shape="round" (click)="reservacion()" *ngIf="infoReservacion.generar_reservacion === 1">
    Descargar
  </ion-button>
</div>
<app-spinner [loader]="loader" [message]="msj" class="block-screen"></app-spinner>

<!---Parte del cupón de la reservacion--->

<div *ngIf="!cupon" id="contenidoCupon">
  <div>
    <h1 style="color: rgb(249.5, 102, 172); text-align: center; text-transform: uppercase;
    margin-bottom: -10px;">{{infoEvento.evento}}</h1>
    <ion-row>
      <ion-col size="7">
        <h1 style="text-align: center">{{usuario}}</h1>
        <div style="display: flex; align-items: center; margin-top: -15px;">
          <img src="assets/images/eventos/calendario.png" class="imgs">
          <p>Fecha: {{numeroDia}}/{{meses[numeroMes]}}/{{anio}}</p>
        </div>
        <div style="display: flex; align-items: center; margin-top: -15px;">
          <img src="assets/images/eventos/reloj.png" class="imgs">
          <p style="display: inline-block;">{{hora12h}} Horas</p>
        </div>
        <div style="display: flex; align-items: center; margin-top: -15px;">
          <img src="assets/images/eventos/personas.png"
               style="width: 25px; height: 25px; margin-left: 4px; margin-right: 11px;">
          <p>Nº de personas: {{infoReservacion.cantidad_persona}}</p>
        </div>
        <div style="display: flex; align-items: center; margin-top: -15px">
          <img src="assets/images/eventos/Ubicación.png" class="imgs">
          <p style="display: inline-block;">Lugar: {{nombreLocalidad}}{{nombreMunicipio}}{{nombreEstado}}</p>
        </div>
      </ion-col>
      <ion-col size="5">
        <br><br><br><br>
        <div #codeQr id="cQr"></div>
      </ion-col>
    </ion-row>
  </div>
</div>
