.spinner-color {
    --color: #FF1DBD;
  }
  .spinner {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.message {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF1DBD;
}
.infoVisitante{
  width: 90%; 
}
.tooggle-none{
  font-size: 18px;
}
.tooggle{
  color: #FF1DBD;
  font-size: 18px;
}
.icon-color-select{
  color: #FF1DBD;
}