.eventoContenido {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.eventoForm {
    max-width: 100%;
}

.wdht {
    min-width: 50%;
}

.bg {
    background-color: antiquewhite;
    height: 90%;
    min-width: 50%;
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.slider {
    width: 100%;
    height: 30%;
}
.size-icon {
    width: 150px;
    height: 150px;
}

.custom-file-input:before {
    content: 'Subir Imagen';
    display: block;
    background: -webkit-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -o-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -moz-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: linear-gradient(90deg, #ff1dbd, #FFCE00);

    /*background: -webkit-linear-gradient(90deg, #fa4f72, #a74eef);
    background: -o-linear-gradient(90deg, #fa4f72, #a74eef);
    background: -moz-linear-gradient(90deg, #fa4f72, #a74eef);
    background: linear-gradient(90deg, #fa4f72, #a74eef);*/
    border-radius: 2px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    position: absolute;
    left: 0;
    right: 0;
}

.borrar-botom {
    display: block;
    background: -webkit-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -o-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: -moz-linear-gradient(90deg, #ff1dbd, #FFCE00);
    background: linear-gradient(90deg, #ff1dbd, #FFCE00);
    border-radius: 4px;
    padding: 5px 0px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -26px;
}
