<ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content style="background-color: #AC4EE6">
                <div class="ion-text-center">
                  <h2 class="texto-blanco">Visitas por QR
                  </h2>
                  <h1 class="texto-blanco"><strong>{{vistasQR}}</strong></h1>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <ion-card-content style="background-color: #fa4f72">
                <div class="ion-text-center">
                  <h2 class="texto-blanco">Visitas por URL</h2>
                  <h1 class="texto-blanco"><strong>{{vistasURL}}</strong></h1>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
</ion-content>
