.text-white {
    color: #fff!important;
}
.portada-fondo {
    background-image: url(https://ecoevents.blob.core.windows.net/comprandoando/conocenos%2Fimagen%201.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fondos {
    background-color: #f4f4f4 !important;
}

.cruz {
    background-image: url(https://ecoevents.blob.core.windows.net/comprandoando/conocenos/form1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.alexis {
    background-image: url(https://ecoevents.blob.core.windows.net/comprandoando/conocenos/Alexis.png);
    background-repeat: no-repeat;
    position: relative;
}

.alexis h3 {
    text-align: end;
}

.raymundo {
    background-image: url(https://ecoevents.blob.core.windows.net/comprandoando/conocenos/Raymundo.png);
    background-repeat: no-repeat;
    position: relative;
}

.raymundo h3 {
    text-align: left;
}

.nelly {
    background-image: url(https://ecoevents.blob.core.windows.net/comprandoando/conocenos/Nelly.png);
    background-repeat: no-repeat;
    position: relative;
}

.nelly h3 {
    text-align: left;
}

.Carla {
    background-image: url(https://ecoevents.blob.core.windows.net/comprandoando/conocenos/Karala.png);
    background-repeat: no-repeat;
    position: relative;
}

.Carla h3 {
    text-align: left;
}

.seccion_nuestro img {
    width: 100%;
}

.cruz h3 {
    position: relative;
}

.linea {
    background-color: #f8307c;
}

strong {
    color: #f8307c;
}

span {
    color: #f8307c;
}

samp {
    color: deeppink;
}

#yey {
    padding-bottom: 6px;
}

.seccion_software h2 {
    color: black;
}

.seccion_nuestro h2 {
    color: black;
}

.btn-comienza {
    border-radius: 1.25rem;
    letter-spacing: 3px;
    background-color: #f8307c;
    border-color: #f8307c;
}


/*Extra small devices (portrait phones, less than 576px)*/

@media screen and (max-width: 575.98px) {
    *, ::after, ::before {
        box-sizing: border-box;
    }
    .cruz {
        margin-top: 1.5vw;
        margin-bottom: 4vw;
        right: 2vw;
    }
    .alexis {
        background-size: 19vw;
        padding-bottom: 15vw;
        left: 17vw;
        bottom: -16vw;
    }
    .alexis h3 {
        top: -11vw;
        right: 73.6vw;
    }
    .raymundo {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 55vw;
        top: -30vw;
        margin-bottom: -56vw;
    }
    .raymundo h3 {
        top: 19vw;
        left: 12vw;
        margin-right: 12vw !important;
    }
    .nelly {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 26vw;
        bottom: -33vw;
    }
    .nelly h3 {
        left: -12vw;
        top: 13vw;
    }
    .Carla {
        background-size: 20vw;
        right: -54vw;
        padding-bottom: 10vw;
        top: 9vw;
    }
    .Carla h3 {
        top: -10vw;
        margin-left: 13vw !important;
    }
    h2 {
        font-size: 7.5vw !important;
    }
    h3 {
        font-size: 5.5vw !important;
    }
    p {
        font-size: 4vw !important;
    }
    h1 {
        font-size: 14.5vw !important;
        margin-top: -1vw !important;
        margin-bottom: 2vw !important;
    }
    .s4 {
        margin-top: -2vw;
    }
    .portada-fondo img {
        width: 4rem !important;
        padding-bottom: 4vw;
    }
    .portada-fondo {
        padding-top: 3vw;
    }
    .linea {
        padding: 2px;
        margin-bottom: 1vw;
    }
    .espacio_top {
        padding-top: 3vw !important;
    }
    .linksmtw img {
        width: 7vw;
        margin-left: 5px;
        margin-right: 5px;
    }
    #iconos img {
        width: 30vw !important;
    }
}


/*Small devices (landscape phones, 576px and up)*/

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .cruz {
        margin-top: 1.5vw;
        margin-bottom: 4vw;
    }
    .alexis {
        background-size: 19vw;
        padding-bottom: 15vw;
        left: 22vw;
    }
    .alexis h3 {
        top: 0vw;
        right: 20.6vw;
    }
    .raymundo {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 2vw;
        top: -6vw;
    }
    .raymundo h3 {
        top: 20vw;
        left: 11vw;
        margin-right: 14vw !important;
    }
    .nelly {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 29vw;
        bottom: -6vw;
    }
    .nelly h3 {
        left: -5vw;
        top: -4vw;
    }
    .Carla {
        background-size: 20vw;
        padding-bottom: 15vw;
        top: 8vw;
    }
    .Carla h3 {
        top: -7vw;
        left: 13vw;
        margin-right: 25vw !important;
    }
    h2 {
        font-size: 3.5vw !important;
    }
    h3 {
        font-size: 2.5vw !important;
    }
    p {
        font-size: 2.5vw !important;
    }
    h1 {
        font-size: 6.5vw !important;
        margin-top: -3vw !important;
        margin-bottom: 0vw !important;
    }
    .linea {
        padding: 2px;
        margin-bottom: 1vw;
    }
    .espacio_top {
        padding-top: 3vw !important;
    }
    .s4 {
        margin-top: -4vw;
    }
    .portada-fondo img {
        width: 4rem !important;
        padding-bottom: 4vw;
    }
    .portada-fondo {
        padding-top: 3vw;
    }
    .linksmtw img {
        width: 5vw;
        margin-left: 5px;
        margin-right: 5px;
    }
    #iconos img {
        width: 30vw !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .cruz {
        margin-top: 1.5vw;
        margin-bottom: 4vw;
    }
    .alexis {
        background-size: 19vw;
        padding-bottom: 15vw;
        left: 0vw;
        margin-bottom: -47vw;
    }
    .alexis h3 {
        top: 0vw;
        right: 23.6vw;
    }
    .raymundo {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 26vw;
        top: 19vw;
    }
    .raymundo h3 {
        top: 20vw;
        left: 11vw;
        margin-right: 14vw !important;
    }
    .nelly {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 5vw;
        bottom: -29vw;
    }
    .nelly h3 {
        left: -4vw;
        top: -4vw;
    }
    .Carla {
        background-size: 20vw;
        padding-bottom: 15vw;
        top: 6vw;
        left: 26vw;
    }
    .Carla h3 {
        top: -5vw;
        left: 11vw;
        margin-right: 25vw !important;
    }
    h2 {
        font-size: 2.5vw !important;
    }
    h3 {
        font-size: 2.5vw !important;
    }
    p {
        font-size: 1.5vw !important;
    }
    h1 {
        font-size: 4.5vw !important;
        margin-top: -3vw !important;
        margin-bottom: -1vw !important;
    }
    .linea {
        padding: 2px;
        margin-bottom: 1vw;
    }
    .espacio_top {
        padding-top: 3vw !important;
    }
    .s4 {
        margin-top: -4vw;
    }
    .portada-fondo img {
        width: 4rem !important;
        padding-bottom: 4vw;
    }
    .portada-fondo {
        padding-top: 3vw;
    }
    .linksmtw img {
        width: 5vw;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .cruz {
        margin-top: 1.5vw;
        margin-bottom: 4vw;
        right: 2vw;
    }
    .alexis {
        background-size: 19vw;
        padding-bottom: 15vw;
        left: -3vw;
        bottom: 1vw;
    }
    .alexis h3 {
        top: 0vw;
        right: 23.6vw;
    }
    .raymundo {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 26vw;
        top: 19vw;
    }
    .raymundo h3 {
        top: 20vw;
        left: 8vw;
        margin-right: 7vw !important;
    }
    .nelly {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 2vw;
        bottom: -24vw;
    }
    .nelly h3 {
        left: -3vw;
        top: 0vw;
    }
    .Carla {
        background-size: 20vw;
        padding-bottom: 6vw;
        right: 26vw;
    }
    .Carla h3 {
        top: 19vw;
        left: -2vw;
    }
    h2 {
        font-size: 3vw !important;
    }
    h2 {
        font-size: 2vw !important;
    }
    h1 {
        font-size: 6vw !important;
    }
    .sss p {
        padding: 4vw;
    }
    .linea {
        padding: 2px;
        margin-bottom: 1vw;
    }
    .espacio_top {
        padding-top: 3vw !important;
    }
    .linksmtw img {
        width: 5vw;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .cruz {
        margin-top: 1.5vw;
        margin-bottom: 4vw;
        right: 2vw;
    }
    .alexis {
        background-size: 19vw;
        padding-bottom: 15vw;
        left: -3vw;
        bottom: 1vw;
    }
    .alexis h3 {
        top: 2vw;
        right: -5.4vw;
    }
    .raymundo {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 1vw;
        top: -6vw;
    }
    .raymundo h3 {
        top: 20vw;
        left: 8vw;
        margin-right: 7vw !important;
    }
    .nelly {
        background-size: 20vw;
        padding-bottom: 15vw;
        left: 1vw;
        bottom: -1vw;
    }
    .nelly h3 {
        left: -4vw;
        top: 1vw;
    }
    .Carla {
        background-size: 20vw;
        padding-bottom: 15vw;
        right: -3vw;
    }
    .Carla h3 {
        top: 19vw;
        left: -2vw;
    }
    h2 {
        font-size: 3vw !important;
    }
    h3 {
        font-size: 2.5vw !important;
    }
    p {
        font-size: 1.5vw !important;
    }
    h1 {
        font-size: 6vw !important;
    }
    .seccion_software img {
        width: 136.6px;
        height: 136.6px;
    }
    .linea {
        padding: 2px;
        margin-bottom: 1vw;
    }
    .espacio_top {
        padding-top: 3vw !important;
    }
    .sss p {
        padding: 4vw;
    }
    .linksmtw img {
        width: 5vw;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 1600px) {
    .cruz {
        right: 3vw !important;
    }
    .alexis {
        padding-bottom: 18vw !important;
    }
    .raymundo {
        padding-bottom: 18vw !important;
    }
    .nelly {
        padding-bottom: 18vw !important;
    }
    .Carla {
        padding-bottom: 18vw !important;
    }
}

.embed-responsive {
    width: 70% !important;
}

section {
    background-color: white;
}

#iconos img {
    width: 10vw;
}

