<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Conócenos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" [scrollEvents]="true"  (ionScroll)="cordenada = $event.detail.scrollTop">
  <app-boton-top [content]="content" [cordenada]="cordenada" ></app-boton-top>
<section class="portada-fondo">
  <div class="container-fluid espacio_top">
      <div class="row justify-content-center">
          <div class="col-12">
              <div class="row">
                  <div class="col-12" align="right">
                      <h2 class="text-white s1">
                          ¡Reactivemos
                      </h2>
                  </div>
              </div><br>
              <div class="row">
                  <div class="col-12" align="right">
                      <h1 class="text-white s2">
                          JUNTOS
                      </h1>
                  </div>
              </div><br>
              <div class="row">
                  <div class="col-12" align="right">
                      <h2 class="text-white s3">
                          la economía
                      </h2>
                  </div>
              </div><br>
              <div class="row">
                  <div class="col-12" align="right">
                      <h2 class="text-white s4">
                          local!
                      </h2>
                  </div>
              </div><br>
          </div>
      </div>
      <div class="row justify-content-end seccion_software">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" align="right">
              <img src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos%2FBitoo.png" alt="" class="img-fluid mx-auto" style="width: 8rem;">
          </div>
      </div>
  </div>
</section>
  <!-- seccion 2 -->
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h2>
            ACORTAMOS LA <span>DISTANCIA</span>
          </h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div align="center">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RGf2qdFnjhY?rel=0" frameborder="0"></iframe>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <p>
            Con el propósito de apoyar a las MiPyMEs, creamos “Bitoo”. La plataforma web y móvil B2C (Business-to-Consumers) completamente GRATIS para fomentar la actividad económica durante la contingencia y apoyar en la reactivación económica de las ciudades.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><div class="col-4 linea" ></div></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
    <!-- seccion 3 -->
    <ion-grid  class="fondos ion-padding">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h2>
              <span>PRODUCTOS Y SERVICIOS </span> EN UN MISMO LUGAR
            </h2>            
          </div>          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm>
          <div  class="ion-text-justify">
            <p>
              Encuentra en “Bitoo” un ámplio catálogo de <strong>comercios y proveedores de
              servicios</strong> en tu ciudad, con los que podrás contactarte para pedir ese producto o servicio que necesias en tiempo real.
              <br><br> Recibe tus pedidos hasta la puerta de tu hogar acordando con el proveedor la manera de pago que mejor te convenga.<strong>(De momento solo en caso de que el comercio ofrezca esta modalidad)</strong>
            </p>
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            <img src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos/chicas.png" class="img-fluid mx-auto">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><div class="col-4 linea" ></div></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <!-- seccion 4 -->
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h2>
              REGÍSTRATE PARA COMENZAR A USAR  <span>BITOO!</span>
            </h2>
          </div>
          <div align="center">
              <img class="mx-auto img-fluid" src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos/proceso.png">
          </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><div class="col-4 linea" ></div></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <!-- seccion 5 -->

    <ion-grid class="fondos ion-padding">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h2>
              UNA OPORTUNIDAD <span>PARA TU NEGOCIO!</span>
            </h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm >
          <div align="center"> 
            <img class="mx-auto img-fluid" src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos/imagen%202.png">
          </div>
        </ion-col>
        <ion-col  size="12" size-sm>
          <div  class="ion-text-justify">
            <p>
                El mundo digital ya no es una opción, es una necesidad y nosotros estamos listos para ayudarte a emprender esta experiencia de una manera intuitiva y de constante actualización.
                <br><br> Así ayudaremos a que la economía siga fluyendo y los negocios tengan una oportunidad de mantenerse a flote.
            </p>
          </div>          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><div class="col-4 linea" ></div></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
<!-- seccion 6 -->
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h2>
              HACER USO DE <span>BITOO! </span> ES MUY FÁCIL
            </h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 d-block">
            <img data-aos="zoom-in" class="img-fluid mx-auto" src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos%2Fproceso%202.png" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><div class="col-4 linea" ></div></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
<!-- seccion 7 -->
    <ion-grid class="fondos ion-padding">
      <ion-row>
        <ion-col size="12" size-md>
          <div class="ion-text-center">
            <h2>CONOCE A NUESTROS </h2>
            <h2><span>REPRESENTANTES OFICIALES</span></h2>
          </div>
          <div class="ion-text-justify">
            <p>
              Cualquiera de los integrantes de nuestro equipo podrá brindarte el soporte necesario para solucionar cualquier duda y te ayudará en el proceso completo de registro en
              <samp>Bitoo!</samp>
            </p>
          </div>
          <div class="ion-text-center">
            <h3 id="yey">
              ¡Contáctanos y te <span>transferimos</span>
          </h3>
          <h3>
              con algunos de ellos!
          </h3>
          </div>
          <div class="row justify-content-center py-4 linksmtw" align="center">
            <div >
                <a href="http://m.me/SofturaSolutions" target="_blank"><img src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos/msn.png" alt="Messenger"></a>
                <a href="https://t.me/BitooMx" target="_blank"><img src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos/telegram.png" alt="Telegram"></a>
                <a href="https://api.whatsapp.com/send?phone=522411016729" target="_blank"><img src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos/whats.png" alt="Whatsapp"></a>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-md>
        <div class="cruz" align="center">
          <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 alexis">
                    <h3>Alexis<br><span>Guerrero</span></h3>
                </div>
                <div class="col-12 raymundo">
                  <h3>Raymundo<br><span>Flores</span></h3>
                </div>
                <div class="col-12 nelly">
                  <h3>Nelly<br><span>Osorno</span></h3>
                </div>
                <div class="col-12 Carla">
                  <h3>Carla<br><span>Hernández</span></h3>
                </div>
            </div>
          </div>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
<!-- seccion 8 -->
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h2>Experimenta la nueva forma de <span>comprar y vender</span> </h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <p>“Bitoo” es una plataforma escalable, por lo que <strong>a corto plazo podrás</strong> disponer de
              <br> <strong> nuevas funcionalidades,</strong> tales como:</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" size-sm>
          <ion-card>          
            <ion-card-content>
              <div class="ion-text-center">
                <img src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos%2Ficon%201.png" alt="" class="img-fluid mx-auto">
                <p>Visualización de <br>menús por QR</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm>
          <ion-card>          
            <ion-card-content>
              <div class="ion-text-center">
                <img src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos%2Ficon%202.png" alt="" class="img-fluid mx-auto">
                <p>Evaluación de <br>proveedores</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm>
          <ion-card>          
            <ion-card-content>
              <div class="ion-text-center">
                <img src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos%2Ficon%203.png" alt="" class="img-fluid mx-auto">
                <p>Compra en<br>línea</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm>
          <ion-card>          
            <ion-card-content>
              <div class="ion-text-center">
                <img src="https://ecoevents.blob.core.windows.net/comprandoando/conocenos%2Ficon%204.png" alt="" class="img-fluid mx-auto">
                <p>Envíos a<br>domicilio</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="danger" (click)="rutaLink('/')">Comienza a explorar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
<!-- seccion 9 -->
    <ion-grid class="fondos ion-padding">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h2>
              ENVIA TUS <span>COMENTARIOS</span>
            </h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div align="center">
            <app-contacto></app-contacto>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
<!-- seccion 10 footer -->
  <app-footer [content]="content" [cordenada]="cordenada"></app-footer>
</ion-content>
