.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foto {
  width: 200px;
  height: 200px;
  border: 2px solid grey;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cargar {
  position: absolute;
  z-index: 1;
}

.ine {
  width: 150px;
  height: 100px;
  border: 2px solid grey;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-editIne {
  position: absolute;
  right: -10px;
  z-index: 1;
  top: 0px;
}
.avatar-previewIne {
  width: 180px;
  height: 150px;
  position: relative;
  border-radius: 0%;
  border: 3px solid #afafaf;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-previewIne > div {
  width: 100%;
  height: 100%;
  border-radius: 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-uploadIne {
  text-align: center;
  position: relative;
  max-width: 170px;
  margin: 0px auto;
}
.avatar-uploadIne > .avatar-editIne > input {
  display: none;
}

.avatar-uploadIne > .avatar-editIne > label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-uploadIne > .avatar-editIne > label:after {
  // content: "\f030";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.spinner-color {
  --color: #fa4f72;
}

.spinner {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fa4f72;
}
