<ion-item lines="none" class="bg-gris">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar (click)="loginWithFacebook()">
          <img alt="Login with facebook" src="../../../../assets/images/cambiar/facebook.png">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-avatar  (click)="loginWithGoogle()">
          <img alt="Login with google" src="../../../../assets/images/google.png">
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
