<ion-header>
    <ion-toolbar class="tolbar">
        <ion-title>Estadísticas</ion-title>
        <ion-buttons slot="end" (click)="cerrarModal()">
            <ion-button>
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-select value="todo" ok-text="Ok" cancel-text="Cancelar" (ionChange)="filtroEstadistica($event)">
            <ion-select-option value="hoy">
                <ion-icon name="calendar-outline"></ion-icon>
                Hoy
            </ion-select-option>
            <ion-select-option value="siete">
                <ion-icon name="calendar-outline"></ion-icon>
                Últimos 7 días
            </ion-select-option>
            <ion-select-option value="treinta">
                <ion-icon name="calendar-outline"></ion-icon>
                Últimos 30 días
            </ion-select-option>
            <ion-select-option value="todo">
                <ion-icon name="sparkles-outline"></ion-icon>
                Todo
            </ion-select-option>
        </ion-select>
    </ion-item>

    <app-spinner [loader]="loader"></app-spinner>

    <div>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card>
                            <ion-card-content style="background-color: #FA4F72">
                                <div class="ion-text-center">
                                    <h2 class="texto-blanco">Visitas
                                        <ion-icon name="information-circle-outline" (click)="infoVistas()"></ion-icon>
                                    </h2>
                                    <h1 class="texto-blanco"><strong>{{totalVisitasURL + totalVisitasQR}}</strong></h1>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>

                    <ion-col>
                        <ion-card>
                            <ion-card-content style="background-color: #E04F9A">
                                <div class="ion-text-center">
                                    <h2 class="texto-blanco">Likes negocio</h2>
                                    <h1 class="texto-blanco"><strong>{{totalLikesNegocio}}</strong></h1>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>

                    <ion-col>
                        <ion-card>
                            <ion-card-content style="background-color: #C44FC4">
                                <div class="ion-text-center">
                                    <h2 class="texto-blanco">Solicitudes</h2>
                                    <h1 class="texto-blanco"><strong>{{totalSolicitudes}}</strong></h1>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>

                    <ion-col>
                        <ion-card>
                            <ion-card-content style="background-color: #B44FDC">
                                <div class="ion-text-center">
                                    <h2 class="texto-blanco">Promociones</h2>
                                    <h1 class="texto-blanco"><strong>{{totalPromociones}}</strong></h1>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Calificaciones</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div class="ion-text-center">
                            <h1><strong>{{calificacionBuena}}</strong></h1>
                            <ion-text color="success">
                                <h2>Buena</h2>
                            </ion-text>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="ion-text-center">
                            <h1><strong>{{calificacionMedia}}</strong></h1>
                            <ion-text color="warning">
                                <h2>Media</h2>
                            </ion-text>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="ion-text-center">
                            <h1><strong>{{calificacionBaja}}</strong></h1>
                            <ion-text color="danger">
                                <h2>Baja</h2>
                            </ion-text>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="totalSolicitudes !== 0">
        <ion-card-header>
            <ion-card-subtitle>Vistas de solicitudes</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let solicitud of solicitudes">
                    <ion-label>{{solicitud.solicitud}}</ion-label>
                    <ion-badge color="light" slot="end">{{solicitud.cuantos_vieron}}</ion-badge>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="totalPromociones !== 0">
        <ion-card-header>
            <ion-card-subtitle>Vistas de promociones</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let promocion of promociones">
                    <ion-label>{{promocion.promocion}}</ion-label>
                    <ion-badge color="light" slot="end">{{promocion.numero_vistas}}</ion-badge>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="totalProductos !== 0">
        <ion-card-header>
            <ion-card-subtitle>Likes de productos</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let producto of productos">
                    <ion-label>{{producto.producto}}</ion-label>
                    <ion-badge color="light" slot="end">{{producto.numero_likes}}</ion-badge>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    </div>


</ion-content>
