<ion-header translucent>
  <ion-toolbar class="bg-naranja">
    <ion-title *ngIf="promocion.id_tipo_promocion===2" mode="ios">Promoción</ion-title>
    <ion-title *ngIf="promocion.id_tipo_promocion===1" mode="ios">Anuncio</ion-title>
    <ion-buttons slot="end">
      <ion-button class="blanco customExit" (click)="dismissModal()">
        <ion-icon class="blanco" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-info-promo [promocion]="promocion" [idPersona]="idPersona" [listaDias]="listaDias"></app-info-promo>
</ion-content>
