<ion-header>
  <ion-toolbar class="bg-rosa">
    <ion-title slot="start">Detalle del Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button class="blanco" (click)="dismiss()">
        <ion-icon class="blanco" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <img src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png"
      [srcset]="unoProducto.imagen" />
    <ion-card-header>
      <ion-card-subtitle>{{unoProducto.categoria.nombre}}</ion-card-subtitle>
      <ion-card-title><strong>{{unoProducto.nombre}}</strong> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{unoProducto.descripcion}}
    </ion-card-content>
    <ion-card-content>
      <label class="precio text-rosa"
        *ngIf="unoProducto.precio !== undefined && unoProducto.precio !== null && unoProducto.precio !== '' && unoProducto.precio !== '0'">
        <h2 class="m-0">{{unoProducto.precio |currency}}</h2>
      </label><br>
      <label class="precio"
        *ngIf="unoProducto.precio === undefined || unoProducto.precio === null || unoProducto.precio === '' || unoProducto.precio === '0'">Contactar
        precio con el proveedor</label>
    </ion-card-content>
    <ion-card-content >
          <label class="existencia" *ngIf="unoProducto.existencia">Aún en existencia</label>
          <label class="existencia" *ngIf="!unoProducto.existencia">Sin existencia</label>
    </ion-card-content>
    <label class="negocio">
      <p>Vendido por</p>
    </label>
    <hr>
    <ion-item (click)="verMas(unoProducto)">
      {{unoProducto.negocio.nombre}}
      <ion-icon class="blanco" slot="end" name="open-outline"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>