.bg-rosa {
  /*background: rgb(250,79,114);*/
  background: linear-gradient(90deg, rgba(250, 79, 114, 1) 0%, rgba(167, 78, 239, 1) 100%);
}

.btn-blanco {
  background-color: white !important;
}

.btn-rosa {
  color: white;
  background-color: #FA4F72 !important;
}

.text-rosa {
  color: #FA4F72 !important;
}

.fondo-rosa {
  background-color: #FA4F72 !important;
}
