.bg-rosa {
  /*background: rgb(250,79,114);*/
  background: linear-gradient(90deg, rgba(250, 79, 114, 1) 0%, rgba(167, 78, 239, 1) 100%);
}

img{
  width: 100% !important;
}
ion-card-content{
  text-align: justify;
}

.btn-blanco {
  background-color: white !important;
}
h1{
  margin-top: auto;
}
.precio{
  font-size: 16px;
  font-weight: bolder;
}

.btn-rosa {
  color: white;
  background-color: #FA4F72 !important;
}
.negocio{
  position: relative;
  top: 1em;
  left: 1em;
  font-size: large;
}
.text-rosa {
  color: #FA4F72 !important;
}

.fondo-rosa {
  background-color: #FA4F72 !important;
}
strong{
  color: #FA4F72 !important;
}

.swiper-slide img {
  height: 275px !important;
  width: 320px !important;
}
$font-size: 15px;
$line-height: 1.4;
$lines: 3;
h2{
  font-size: 24px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    display: block;
  display: -webkit-box;
  height: 32px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


#doslienas{
    display: block;
    display: -webkit-box;
    height: 43px;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
h2{
  margin-bottom: -38px;
}
.estrella {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.estrella div {
  text-align: center;
}

.estrella label {
  font-size: 20px;
}
.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
input[type="radio"]:checked ~ label {
  color: orange;
}
ion-card-title{
  font-size: 25px;
}
ion-item{
  --border-radius: 1rem;
  background: white;
  
}
.existencia{
  color: #464343;
    font-size: large;
}
.blanco{
  color: white;
}
ion-button{
  --border-radius: 34px;
  --background: linear-gradient(90deg, rgba(250, 79, 114, 1) 0%, rgba(167, 78, 239, 1) 100%);
  color: white;
}