:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  ion-slides {
    height: 100%;
  }


.face{
  background: url(./../../../../assets/images/fb.png);
  background-size: cover;
  background-position: center;
}

.twii{
  background: url(./../../../../assets/images/tw.png);
  background-size: cover;
  background-position: center;
}

.insta{
  background: url(./../../../../assets/images/insta.png);
  background-size: cover;
  background-position: center;
}

.you{
  background: url(./../../../../assets/images/yt.png);
  background-size: cover;
  background-position: center;
}
.tok{
  background: url(./../../../../assets/images/tt.png);
  background-size: cover;
  background-position: center;
}

  .colore{
    background: linear-gradient(90deg,#fa4f72,#a74eef);
  color: white;
  }
  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }
  ion-avatar.md.hydrated {
    width: 150px;
    height: 150px;
}
ion-avatar.ios.hydrated{
  width: 150px;
    height: 150px;
}
  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
    border-radius: 100%;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }

  .avatar-upload {
    text-align: center;
    position: relative;
    max-width: 170px;
    margin: 0px auto;
  }
  .avatar-edit {
    position: relative;
    right: -37vw;
    top: 5vh;
    z-index: 1;
  }
  .avatar-upload > .avatar-edit > input {
    display: none;
  }
  
  .avatar-upload > .avatar-edit > label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
  }
  
  .avatar-upload > .avatar-edit > label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  
  .avatar-upload > .avatar-edit > label:after {
    //content: "\f030";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 3px solid #a1a1a1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    right: -12vh;
    background-image: url(https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg);
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: contain;
  }
  .avatar-preview > div {
    width: 100% !important;
    height: 100% !important;
    border-radius: 100% !important;
    
  }

  .cent{
    text-align: center;
  }


.label-stacked.sc-ion-label-md-h, .label-floating.sc-ion-label-md-h {
  
  color: gray;
}
.urlnego{
  position: relative;
  bottom: -12px;
  left: 18px;
}