<ion-header>
  <ion-toolbar class="tolbar">
	<ion-title>Mis promociones</ion-title>
	<ion-buttons slot="end">
		<ion-button (click)="agregar()">
			<ion-icon name="add-outline"></ion-icon>
		</ion-button>
	  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
			<div>
				<div *ngIf="!agregarPromocion">
					<div>
						<div>
							<div *ngFor="let promocion of lstPromociones" >
								<ion-card>
									<ion-card-content>
										<div class="ion-text-center">
									        <strong style="color: black;">Promociones creadas</strong>
									     </div>
										<ion-item (click)="seleccionarPromocion(promocion)">
											<ion-avatar slot="start">
												<img  [src]="promocion.url_imagen" [alt]="promocion.promocion">
											</ion-avatar>
											<ion-label class="ion-text-wrap">
												<p>{{promocion.promocion}}</p>
											</ion-label>
											<ion-buttons slot="end">
         										<ion-icon name="chevron-forward-outline"></ion-icon>
        									</ion-buttons>
										</ion-item>
									</ion-card-content>										
								</ion-card>
							</div>
						</div>
						
						<ion-card>
							<ion-card-content>
								<div class="ion-text-center" style="margin-top: 20px">
									<strong style="color: black;">Publicaciones que has realizado</strong>
								</div>
		
								<div style="display: flex; justify-content: center; align-items: center;">
									<p style="color: black;">{{publicacionesHechas}} de {{publicacionesPermitidas}}</p>
								</div>
								 <ion-searchbar (keyup)="btnBuscar()" [(ngModel)]="filtro" type="text"></ion-searchbar>
								 <div *ngIf="lstPromocionesPublicadas !== undefined" style="width: 100%;">
									<ion-list>
										<ion-item *ngFor="let promoPubli of lstPromocionesPublicadas">
											<ion-avatar >
												<img  [src]="promoPubli.url_imagen" [alt]="promoPubli.promocion">
											</ion-avatar>
											<ion-label class="ion-text-wrap" style="margin: 5px;">
												<h2 style="text-align: center; color: black;">Usted publicó</h2>
												<h3 style="text-align: center;">{{ promoPubli.promocion }}</h3>
												<div style="display: flex; justify-content: center; align-items: center;">
													<ion-button type="button" class="btn btn-info " color="warning" (click)="abrirModalDetalle(promoPubli.id_publicacion, promoPubli.activo_public)">
														<ion-icon name="eye-outline"></ion-icon>
													  </ion-button>
													  <ion-button type="button" class="btn btn-info" color="danger"  *ngIf="promoPubli.activo_public === 1"  (click)="dejar(promoPubli)">
														despublicar
													  </ion-button>
												</div>
											</ion-label>
										</ion-item>
									</ion-list>
								</div>
							</ion-card-content>
						</ion-card>
						
						
					</div>
				</div>
		
			</div>

</ion-content>
