<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start" >
      <ion-menu-button class="blanco"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Negocios</ion-title>
    <ion-buttons slot="end" (click)="agregarNegocio()">
      <ion-button class="blanco">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of listaNegocios" class="bgs-gris">
    <!--<ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button (click)="viewQr(item)" color="light">
        <ion-icon class="fond" md="qr-code-outline" ios="qr-code-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>-->

    <ion-card>
      <ion-card-header >
        <ion-item lines="none" >
          <ion-avatar slot="start" (click)="datosNegocio(item)">
            <img *ngIf="item.url_logo !== '' && item.url_logo !== null "  src="{{ item.url_logo }}" alt="{{ item.nombre_comercial }}">
          <img *ngIf="item.url_logo === '' || item.url_logo === null  " src="https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg">
          </ion-avatar>
          <ion-label (click)="datosNegocio(item)">
            <h2>{{item.nombre_comercial}}</h2>
          </ion-label>
          <ion-button slot="end" size="small" (click)="viewQr(item)">
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <div *ngIf="listaNegocios.length === 0">
    <ion-chip color="warning">
      <ion-label><strong>Lo sentimos!</strong> Aún no tiene ninguna solicitud creada.</ion-label>
    </ion-chip>
  </div>
</ion-content>