.fond{
    //background: linear-gradient(90deg,#fa4f72,#a74eef);
    //color: white;
    color: #a74eef;
}
.to{
    position: absolute;
    top: 20px;
}

.tag-matriz {
    border-radius: 20px;
    font-size: 11px;
    text-align: center;
    color: #fff;
    padding: 0 5px 25px;
    background-color: #8207E0;
    width: 40%;
    height: 20px;
    margin-left: 10%;
}

.tag-sucursal {
    border-radius: 20px;
    font-size: 11px;
    text-align: center;
    color: #fff;
    padding: 0 5px 25px;
    background-color: #e08207;
    width: 50%;
    height: 20px;
    margin-left: 10%;
}