.fond{
    //background: linear-gradient(90deg,#fa4f72,#a74eef);
    //color: white;
   /*
   color: #a74eef;*/
    color:  #FF9925;
}
.to{
    position: absolute;
    top: 20px;
}

.customIcon{
    height: 48px;
    width: 48px;
}

.customQr{
    height: 38px;
    width: 40px;
}

.tag-matriz {
    border-radius: 20px;
    font-size: 11px;
    text-align: center;
    color: #fff;
    padding: 0 5px 25px;
    background-color:  #ff1dbd;
    width: 40%;
    height: 20px;
    margin-left: 10%;
}

.tag-sucursal {
    border-radius: 20px;
    font-size: 11px;
    text-align: center;
    color: #fff;
    padding: 0 5px 25px;
    background-color: #FF9925;
    width: 50%;
    height: 20px;
    margin-left: 10%;
}
