.alert-images-message {
    font-size: 10px;
}
.price {
    font-size: 16px;
    font-weight: bolder;
}
.exist {
    color: #464343;
    font-size: large;
}
.border-solid {
    border: solid;
    color: #fa4f72 !important;
}
