ion-modal {
    --background: rgba(44, 39, 45, 0.2);

    &::part(content) {
        backdrop-filter: blur(6px);
    }

    ion-content {
        --background: transparent;
        --padding-start: 20px;
        --padding-top: 25vh;
        --padding-end: 20px;

        ion-datetime {
            border-radius: 10px;
        }
    }
}