<ion-header translucent>
  <ion-toolbar class="tolbar">
    <ion-title>Publicar promoción</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen >
  <ion-card>
    <ion-card-header>
    <!-- Modal para publicar anuncio dependiendo del negocio -->
  <form  #formBasicos="ngForm" (ngSubmit)="guardarPublicacion(formBasicos)">

    <div *ngIf="mensajePublicacion2">
      <div>
        <div>
          <p>
            Lo sentimos!!! Su cuenta gratuita solo permite hacer {{publicacionesPermitidas}} publicaciones...
          </p>
        </div>
      </div>
    </div>
    
    <div *ngIf="!mensajePublicacion2">
      <ion-list>

        <ion-item>
          <ion-label for="idNegocio">
            Relacione su negocio:
          </ion-label>
          <ion-select id="idNegocio" name="idNegocio" [(ngModel)]="publicacion1.id_negocio" (change)="decripcionSelect()" (ionChange)="obtenerCaracteristicasNegocio(publicacion.id_negocio);obtenerNumeroPublicacionesPromocion()" (click)="obtenerCaracteristicasNegocio(publicacion.id_negocio);obtenerNumeroPublicacionesPromocion()"required>
            <ion-select-option  *ngFor="let row of lstNegocios"  [value]="row.id_negocio">
              {{row.nombre_comercial}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <h5 class="ion-text-center">Vigencia</h5> 

      <div style="justify-content: center; background: white;">
        <ion-list>
          <ion-item id="open-modal-date-1-publicar">
            <ion-label position="stacked">Fecha inicial:</ion-label>
            <ion-icon slot="end" name="calendar-outline"></ion-icon>
            <small>
              {{fechaini| date: 'dd/MM/yyyy'}}
            </small>
            <small *ngIf="!fechaini" style="color: red">Fecha inicio es requerido</small>
          </ion-item>
          <ion-modal trigger="open-modal-date-1-publicar">
            <ng-template>
              <ion-content>
                <ion-datetime #fechaInicio="ngModel" name="fechaInicio" required 
                  (ionChange)="calcularRangoFechas()" [min]="minDate" [max]="maxDate" 
                  [(ngModel)]="fechaini" presentation="date" [showDefaultButtons]="true" doneText="Ok" cancelText="Cancelar">
                </ion-datetime>
                
              </ion-content>
            </ng-template>
          </ion-modal>

          <ion-item id="open-modal-date-2-publicar">
            <ion-label position="stacked">Fecha final:</ion-label>
            <ion-icon slot="end" name="calendar-outline"></ion-icon>
            <small>
              {{fechafin| date: 'dd/MM/yyyy'}}
            </small>
            <small *ngIf="!fechafin" style="color: red">Fecha final es requerido</small>
          </ion-item>
          <ion-modal trigger="open-modal-date-2-publicar">
            <ng-template>
              <ion-content>
                <ion-datetime #fechaFinal="ngModel" name="fechaFinal" required 
                  (ionChange)="calcularRangoFechas()" [min]="minDate" [max]="maxDate" 
                  [(ngModel)]="fechafin" presentation="date" [showDefaultButtons]="true" doneText="Ok" cancelText="Cancelar">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
         
          <br>
          <div class="ion-text-center">
            <span>Selecciona un rango de fechas no mayor a {{diasPermitidos}} días para la publicación</span>
          </div>

          <div  class="ion-text-center" *ngIf="blnSelectFecha" style="color: red;">
            <span>Sólo puede seleccionar {{diasPermitidos}} días, verifique sus fechas</span>
          </div>
          
          <ion-button type="submit" class="bg-naranja" expand="block" style="margin-top: 10px;">Publicar</ion-button>

          <ion-button  type="button"  color="medium" expand="block"(click)="cancelarPublicacion()">Cancelar</ion-button>    
          
        </ion-list>
      </div>
    </div>
  </form>
</ion-card-header>
</ion-card>
</ion-content>
