<div class="contenedor">
  <img class="imagen" src="{{promocion.url_imagen}}">
  <div class="middle-modal">
    <button class="boton" (click)="verImagen()">Ver imagen</button>
    <!--<button class="boton" (click)="masInformacion(promocion)">Más información</button>-->
  </div>
</div>

<app-spinner [loader]="loader" [message]="msj" class="block-screen"></app-spinner>
<div *ngIf="promocion.id_tipo_promocion===2" style="display: flex; justify-content: center; align-items: center">
  <div class="contendorPrincipal">
    <h1 style="margin-top: 5px; margin-bottom: -15px" class="rosa" (click)="masInformacion(promocion)">
      {{ promocion.nombre_comercial }}</h1>
    <p>{{promocion.promocion}}</p>

    <ion-row class="ion-text-center" style="margin-top: -10px">
      <ion-col>
        <label *ngIf="promocion.porcentaje !== null" style="color: #FF1DBD;">{{ promocion.porcentaje}}%</label>
        <label *ngIf="promocion.porcentaje !== null" style="text-transform: uppercase; color: #FF1DBD;"> de descuento</label>
      </ion-col>
    </ion-row>

    <ion-button (click)="crearModal()" class="buttonCoupon" shape="round">
      <img src="../../../assets/images/icono-cupón.png" alt="Mi Imagen" class="imagen-personalizada">
      Descargar Cupón
    </ion-button>

    <ion-button (click)="compartir(promocion)" shape="round" fill="outline" size="small" color="danger" style="margin-bottom: 15px; margin-top: 5px">
      <ion-icon name="share-social-outline" slot="start"></ion-icon>
      Compartir
    </ion-button>
  </div>
</div>

<div *ngIf="promocion.id_tipo_promocion===2" style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
  <div class="contendorSecundario">
    <!--<div class="vertical-line"></div>-->
    <ion-row style="margin-top: 10px">
      <ion-col size="6" class="customCol">
        <strong>Términos y condiciones</strong>
        <p style="margin-top: 10px; margin-bottom: 5px">{{ promocion.terminos }}</p>
        <strong *ngIf="promocion.organizaciones.length != 0" style="margin-bottom: 5px">Valido para:</strong>
        <div *ngFor="let org of promocion.organizaciones">
          <div class="buttonInf" shape="round">{{org.nombre}}</div>
        </div>
      </ion-col>
      <ion-col size="6" class="customCol">
        <ion-icon name="calendar-outline" size="large"></ion-icon>
        <div *ngIf="promocion.id_tipo_promocion===2">
          <p style="margin-top: 5px;">Quedan <span style="color: #ff1dbd;">{{diasRestantes}}</span> días, Aplica:
            <!--<span style="color: #ff1dbd;"> {{diAplica}}</span>.</p>
          <p style="margin-top: -10px;">{{listaDias[0].hora_inicio}} a {{listaDias[0].hora_fin}}</p>-->
          <span style="color: #ff1dbd;"> <span *ngFor="let dia of diasApl">{{dia + '\n'}}</span></span>.</p>
          <p style="margin-top: -10px;">{{promocion.dias[0]?.hora_inicio}} a {{promocion.dias[0]?.hora_fin}}</p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
  <div class="contenedorTer">
    <div *ngIf="promocion.id_tipo_promocion===1" style="margin-bottom: -5px; margin-top: 5px">
      <h1 style="margin-top: 5px; margin-bottom: -15px" class="sinMargin rosa" (click)="masInformacion(promocion)">
        {{ promocion.nombre_comercial }}</h1>
      <p>{{promocion.promocion}}</p>
    </div>

    <!-- ----- VISUALIZACION Y REPRODUCCION DE VIDEO EN ANUNCIO DE NEGOCIO VIP --- -->
    <div *ngIf="promocion.url_video !== null && promocion.id_tipo_promocion===1">
      <video controls autoplay *ngIf="promocion.url_video != ''" width="100%" height="300">
        <source type="video/mp4" src="{{promocion.url_video}}">
      </video>
    </div>
    <!-- ----- ------------- --- -->
    <strong style="margin-top: 15px;">Contactar al proveedor</strong>
    <div style="display: flex; align-items: center; text-align:center; justify-content: center; width: 90%;">
      <ion-icon name="location-outline" slot="start" style="font-size: 50px; position: relative; top: -15px;"></ion-icon>
      <p>Dirección: {{ promocion.calle }} {{ promocion.numero_ext }} {{ promocion.colonia }}, {{ promocion.nombre_localidad !== undefined ? promocion.nombre_localidad + ', ': '' }}{{ promocion.nombre_municipio }}, {{promocion.nombre_estado }}</p>
    </div>
    <ion-row style="margin-top: -25px;">
      <ion-col size="12" class="ion-text-center" *ngIf="blnPermisoUbicacion">
        <h2 class="promocion">A {{ promocion.distanciaNegocio}} Km cerca de tí.</h2>
        <ion-button size="small" color="danger"><a href="https://www.google.com/maps/dir/?api=1&origin={{miLat}},{{miLng}}&destination={{promocion.latitud}},{{promocion.longitud}}" target="_blank">Ir al lugar</a></ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center" *ngIf="!blnPermisoUbicacion">
        <h2 class="aDefault promocion" matTooltip="Bitoo no puede obtener tu ubicación. Por favor activa los permisos de ubicación del navegador para poder determinar la distancia a la que se encuentra el negocio">
          Distancia desconocida
        </h2>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -25px;">
      <ion-col size="12" class="ion-text-center">
        <h2>Enviale un WhatsApp: <a href="https://api.whatsapp.com/send?phone=+52{{promocion.celular}}">
          <ion-icon name="logo-whatsapp" size="large" style="color: green;"></ion-icon>
        </a></h2>
      </ion-col>
    </ion-row>
  </div>
</div>

<ion-grid style="width: 85vw;">
  <ion-row>
    <ion-col size=12>
      <div (click)="motrarContacto = !motrarContacto;" class="list">
        <ul>
          <li>{{ promocion.estatus.tipo === 1 ? 'Abierto' : 'Cerrado'}}</li>
          <li class="lista">
            <div>
              {{ promocion.estatus.mensaje }}
            </div>
            <div style="margin: 0px 5px" *ngIf="!motrarContacto" >
              <ion-icon name="arrow-up-outline"></ion-icon>
            </div>
            <div style="margin: 0px 5px" *ngIf="motrarContacto">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </div>
          </li>
        </ul>
        <div style="margin: 0px 5px" *ngIf="!motrarContacto && promocion.estatus!==undefined">
          <ion-list>
            <ion-item *ngFor="let dia of promocion.diasArray">
              <ion-grid>
                <ion-row class="lista">
                  <ion-col><p [ngClass]="{'negritas':dia.id === hoy}">{{ dia.dia }}</p></ion-col>
                  <ion-col *ngIf="dia.horarios.length > 0">
                    <div *ngIf="dia.id != hoy">
                      <span *ngFor="let h of dia.horarios "><p class="negritas">{{h.texto}}</p></span>
                    </div>
                    <span *ngIf="dia.id == hoy" class="lstAbierto">Abierto</span>
                  </ion-col>
                  <ion-col *ngIf="dia.horarios.length === 0">
                    <ion-badge color="danger">Cerrado</ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="modal-overlayPromocion" *ngIf="isOpen" (click)="cerrarModal($event)">
  <ion-img [src]="promocion.url_imagen"></ion-img>
</div>


<div *ngIf="!cupon" id="contenidoCupon" class="bg-promo">
  <div id="imagenesFondo" class="ion-text-center font-color content-margin">
    <h1>Cupón de descuento</h1>

    <h4>{{promocion.nombre_comercial}}</h4>

    <h2 class="font-color-e3dd2a">{{promocion.promocion}}</h2>

    <h5 *ngFor="let dia of promocion.dias">Valido hasta las:
      {{dia.hora_fin}}
    </h5>

    <p>
      <ion-icon name="pin"></ion-icon>
      {{ promocion.calle }} {{ promocion.numero_ext }} {{ promocion.colonia }}, {{ promocion.nombre_municipio
      }}, {{promocion.nombre_estado }}
    </p>

    <ion-chip>
      <ion-label>{{usuario.nombre}} {{usuario.paterno}} {{usuario.materno}}</ion-label>
    </ion-chip>

    <p *ngIf="registro1"> <span class="font-color-e3dd2a">• Cupón valido para cualquier usuario.</span></p>

    <p *ngIf="registro2"> <span class="font-color-e3dd2a">•</span>{{org_usu.nombre}}</p>

    <p *ngIf="registro3"> <span class="font-color-e3dd2a">• Usted debe registrar una afiliacion para validar el
          cupón.</span></p>

    <div #qrcode id="qrcode" class="d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>

    <p class="bitoo-www">www.Bituyú.com.mx</p>
  </div>

</div>
