.spinner-color {
  --color: #ff1dbd;
}

.text-small {
  font-size: 12px;
  
}
.border{
  border: 1px solid red;
  border-radius: 5px
}

.rosa {
  border-color: rgb(255, 29, 189);
  color: rgb(255, 29, 189);
}

.rosa:hover {
  background-color: rgb(255, 29, 189);
  color: white;
}