<ion-header>
    <ion-toolbar class="tolbar">
        <ion-title mode="ios">Mis Ventas</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<app-spinner [loader]="loading(loaderEst, loaderBus)" [message]="cargando"></app-spinner>
<ion-content *ngIf="!loaderEst && !loaderBus"
             [scrollEvents]="true"
             (ionScroll)="cordenada = $event.detail.scrollTop"
>
    <app-boton-top [content]="content" [cordenada]="cordenada"></app-boton-top>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col class="ion-align-self-center"><h3>Filtros</h3></ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid fixed>
        <ion-row class="ion-text-center">          
            <ion-col>              
            <ion-button class="border text-format rosa"  size="small" mode="ios" color="white"   (click)="clickEvaluar(1)">Hoy</ion-button>          
            </ion-col>          
            <ion-col>              
            <ion-button class="border text-format rosa"  size="small" mode="ios" color="white"  (click)="clickEvaluar(2)">Últimos 7 días</ion-button>          
            </ion-col>          
            <ion-col>              
            <ion-button class="border text-format rosa"  size="small" mode="ios" color="white"   (click)="clickEvaluar(3)">Últimos 30 días</ion-button>          
            </ion-col>          
            <ion-col>              
            <ion-button class="border text-format rosa"  size="small" mode="ios" color="white"  (click)="clickEvaluar(4)">Todos</ion-button>          
            </ion-col>        
        </ion-row> 
        <p class="ion-text-center">Rango de fechas:</p> 
        <ion-row class="ion-text-center">
            <ion-col size="6">
                <ion-item id="open-modal-date-1-pedidos-negocio">
                  <label position="stacked" *ngIf="!inicioFecha">yyyy-mm-dd</label>
                  <label position="stacked" *ngIf="inicioFecha">{{inicioFecha | date: 'yyyy-MM-dd'}} </label>
                </ion-item>
                <ion-modal trigger="open-modal-date-1-pedidos-negocio">
                  <ng-template>
                    <ion-content>
                        <ion-datetime [(ngModel)]="inicioFecha"  name="fechaInicio" required min="2015-01-01" 
                            presentation="date" [showDefaultButtons]="true" doneText="Ok" cancelText="Cancelar">
                        </ion-datetime> 
                    </ion-content>
                  </ng-template>
                </ion-modal>
            </ion-col>

            <ion-col size="6">
                <ion-item id="open-modal-date-2-pedidos-negocio">
                    <label position="stacked" *ngIf="!finalFecha">yyyy-mm-dd</label>
                    <label position="stacked" *ngIf="finalFecha">{{finalFecha | date: 'yyyy-MM-dd'}} </label>
                </ion-item>
                <ion-modal trigger="open-modal-date-2-pedidos-negocio">
                    <ng-template>
                        <ion-content>
                            <ion-datetime [(ngModel)]="finalFecha" name="fechaFinal" required min="2015-01-01" 
                            presentation="date" [showDefaultButtons]="true" doneText="Ok" cancelText="Cancelar">
                            </ion-datetime>
                        </ion-content>
                    </ng-template>
                </ion-modal>
            </ion-col> 

            <ion-col>            
                <ion-button class="border text-format rosa" size="small" mode="ios" color="white"  (click)="fechasRengo()">              
                    <ion-icon slot="start" name="calendar-outline" slot="start"> </ion-icon>Buscar            
                </ion-button>        
            </ion-col> 
        </ion-row>       
        </ion-grid>
        <ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col
                            *ngFor="let estatus of listaEstatus"
                            (click)="buscarPorestatus(estatus)"
                            size="6"
                            size-sm
                    >
                        <ion-checkbox
                                color="danger"
                                [checked]="estatus.seleccionado"
                        ></ion-checkbox>
                        <ion-label>{{estatus.estatus}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </ion-card>
    <ion-content class="ion-padding" *ngIf="loaderSearch">
        <div class="spin">
            <ion-spinner class="spinner-color"></ion-spinner>
        </div>
    </ion-content>
    <ion-card *ngIf="!loaderSearch">
        <ion-item *ngIf="listaNegocioPedididos.length == 0">
            <ion-label>
                <h2 class="text-center">No se encontraron pedidos</h2>
            </ion-label>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="!loaderSearch">
        <ion-accordion-group>
            <ion-accordion *ngFor="let negocio of listaNegocioPedididos; let i = index" value="{{i}}" >
                <!-- <ion-item slot="header" color="light">
                    <ion-label>First Accordion</ion-label>
                </ion-item> -->
                <ion-item lines="none" slot="header" color="light">
                    <ion-avatar>
                        <ion-img [src]="negocio.url_logo"></ion-img>
                    </ion-avatar>
                    <ion-label style="margin-left: 10px;">{{negocio.nombre_comercial}}</ion-label>
                    <ion-badge color="danger">{{negocio.pedidosFaltantes}}</ion-badge>
                </ion-item>
                <div class="ion-padding" slot="content" lines="none" *ngFor="let pedido of negocio.pedidos" 
                (click)="datosPedido(pedido, negocio.nombre_comercial)" style="border-bottom: 1px solid gray">
                    <div style="display: flex; width: 100%;">
                        <div style="width: 20%; display: flex; align-items: center;">
                            Folio: {{pedido.folio}}<ion-badge color="danger" *ngIf="pedido.id_estatus_pedido === 1" 
                            style="border-radius: 50%; width: 15px; height: 15px; position: relative; bottom: 35%; font-size: x-small;">
                            1</ion-badge>
                        </div>
                        <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                            Fecha: {{pedido.fc_pedido}} <br>
                            Método de pago: {{pedido.tipo_pago}}
                        </div>
                        <div style="width: 30%; display: flex; justify-content: center; align-items: center;">
                            <ion-badge [style]="{'background': pedido.color}">{{pedido.estatus}}</ion-badge>
                        </div>
                    </div>
                    <!-- <ion-grid>
                        <ion-row>
                            <ion-col class="ion-text-start">
                                <ion-label>Folio: {{pedido.folio}}</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label class="text-small">Fecha: {{pedido.fc_pedido}}</ion-label>
                                <ion-label class="text-small">Método de pago: {{pedido.tipo_pago}}</ion-label>
                            </ion-col>
                            <ion-col class="ion-align-self-end ion-text-end">
                                <ion-badge [style]="{'background': pedido.color}">{{pedido.estatus}}</ion-badge>
                            </ion-col>
                        </ion-row>
                    </ion-grid> -->
                </div>
            </ion-accordion>
        </ion-accordion-group>
    </ion-card>

    <!-- <div *ngIf="!loaderSearch">
        <ion-card *ngFor="let negocio of listaNegocioPedididos">
            <ion-list>
                <ion-item lines="none">
                    <ion-avatar>
                        <ion-img [src]="negocio.url_logo"></ion-img>
                    </ion-avatar>
                    <ion-label>{{negocio.nombre_comercial}}</ion-label>
                </ion-item>
                <ion-item style="margin: 15px; border-bottom: 1px solid gray" lines="none"
                          *ngFor="let pedido of negocio.pedidos" (click)="datosPedido(pedido, negocio.nombre_comercial)">
                    <ion-grid>
                        <ion-row>
                            <ion-col class="ion-text-start">
                                <ion-label>Folio: {{pedido.folio}}</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label class="text-small">Fecha: {{pedido.fc_pedido}}</ion-label>
                                <ion-label class="text-small">Método de pago: {{pedido.tipo_pago}}</ion-label>
                            </ion-col>
                            <ion-col class="ion-align-self-end ion-text-end">
                                <ion-badge [style]="{'background': pedido.color}"
                                >{{pedido.estatus}}</ion-badge
                                >
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-card>
    </div> -->
</ion-content>
