.spinner-color {
  --color: #ff1dbd;
}

.text-small {
  font-size: 12px;
  
}
.border{
  border: 1px solid red;
  border-radius: 5px
}

.rosa {
  border-color: rgb(255, 29, 189);
  color: rgb(255, 29, 189);
}

.rosa:hover {
  background-color: rgb(255, 29, 189);
  color: white;
}

ion-modal {
  --background: rgba(44, 39, 45, 0.2);

  &::part(content) {
      backdrop-filter: blur(6px);
  }

  ion-content {
      --background: transparent;
      --padding-start: 20px;
      --padding-top: 25vh;
      --padding-end: 20px;

      ion-datetime {
          border-radius: 10px;
      }
  }
}