.wdht {
    min-width: 50%;
}
ion-modal {
    --background: rgba(44, 39, 45, 0.2);

    &::part(content) {
        backdrop-filter: blur(6px);
    }

    ion-content {
        --background: transparent;
        --padding-start: 20px;
        --padding-top: 25vh;
        --padding-end: 20px;

        ion-datetime {
            border-radius: 10px;
        }
    }
}

.color {
    --background: antiquewhite;
}

.bg {
    background-color: antiquewhite ;
    height: 90%;
    min-width: 50%;
    display: flex;
    padding-left: 15px;
    align-items: center;
}