<ion-header>

  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Mercado Pago</ion-title>

    <ion-buttons *ngIf="tokenGuardado === false && datosGuardados.idNegocioBrokers !== null" slot="end" (click)="tokenGuardado = true">
      Cancelar
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!tokenGuardado; else editar" style="background: white !important;">
  <ion-row *ngIf="loader;else body">
    <ion-col class="ion-text-center">
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
  <ng-template #body>
    <ion-list class="my-ion-list">
      <ion-row>
        <ion-col>
          <span style="font-size: small" class="">Para activar los pagos en linea por medio de Mercado pago, es necesario que registre en nuestra plataforma el Access token de su cuenta, presione aquí para conocer como obtenerla *</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item fill="solid">
            <ion-label position="floating">Accesstoken</ion-label>
            <ion-input type="email" [clearInput] = "true"  ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="guardarToken()">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </ng-template>

</ion-content>
<ng-template #editar>
  <ion-content  style="background: white !important;" class="ion-text-center">
      <ion-list class="my-ion-list">
        <ion-row class="mt-5">
          <ion-col>
            <ion-icon class="icono-check" name="checkmark-circle-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Ya cuentas con un token configurado
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="mt-5" expand="block" (click)="tokenGuardado = false">Cambiar</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
  </ion-content>
</ng-template>

