<ion-slides [options]="slidesOptions" class="ion-margin-top">
  <ion-slide *ngFor="let image of images">
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png" [srcset]="image.image" />
    </ion-card>
  </ion-slide>
</ion-slides>
<!-- <ion-slides [options]="slidesOptions" class="ion-margin-top" *ngIf="isManyImages else onlyOne">
  <ion-slide *ngIf="images[0] !== undefined">
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png"
        [srcset]="images[0].image" />
    </ion-card>
  </ion-slide>
  <ion-slide *ngIf="images[1] !== undefined">
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png"
        [srcset]="images[1].image" />
    </ion-card>
  </ion-slide>
  <ion-slide *ngIf="images[2] !== undefined">
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png"
        [srcset]="images[2].image" />
    </ion-card>
  </ion-slide>
  <ion-slide *ngIf="images[3] !== undefined">
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png"
        [srcset]="images[3].image" />
    </ion-card>
  </ion-slide>
</ion-slides>
<ng-template #onlyOne>
  <ion-slides [options]="slidesOptions" class="ion-margin-top">
  <ion-slide >
    <ion-card class="ion-card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png" [srcset]="image.image" />
    </ion-card>
  </ion-slide>
</ion-slides>
</ng-template> -->
