.ion-card-custom {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 10px;
  img {
    object-fit: cover;
    //width: 100%;
    height: 160px;
    transform: scale(1);
    transition: 200ms all ease-in-out;

  }
}

.swiper-slide-active {
  .ion-card-custom {
    img {
      transform: scale(1.1);
      height: 100%;
    }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

.card-custom{
  width: 216.667px;
  height: 175px;
  border-radius: 12px;
}

.card-custom img {
  width: 100%;
  height: auto;
  /*object-fit: cover;*/
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
