<ion-slides *ngIf="images.length >= 1" [options]="slidesOptions" class="ion-margin-top">
  <ion-slide *ngFor="let image of images">
    <ion-card class="ion-card-custom">
      <ion-img [src]="image.image"></ion-img>
    </ion-card>
  </ion-slide>
</ion-slides>
<ion-slides *ngIf="images.length === 0" [options]="slidesOptions" class="ion-margin-top">
  <ion-slide>
    <ion-card class="card-custom">
      <img src="https://ecoevents.blob.core.windows.net/comprandoando/bituyu/Web/PROVEEDOR/Proveedor500.png" />
    </ion-card>
  </ion-slide>
</ion-slides>
