.float-padre {
  position: fixed;
}

.flotante-ios {

  height: 40px;
  width: 40px;
  right: 3vw;

}

.flotante-android {
  // no tiene
}

.flotante {
  bottom: 1em;
  position: fixed;
  z-index: 5;
  animation-name: slidein;
  animation-duration: 0.3s;
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
