.loader {
  position: fixed;
  top: 48%;
  left: 50%;
}

ion-spinner {
  --color: rgba(255, 115, 73, 0.900);
}

.btn-cerrar {
  --color: white;
  font-size: 15px;
  margin-right: 10px;
}

.fecha {
  font-size: 8.5px;
}