<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title>Postulado</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="cerrar()">
              <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-spinner [loader]="loader" [message]="message"></app-spinner>
<ion-content *ngIf="!loader">
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-label><strong>Nombre: </strong>{{solicitudPostulado.nombre}}</ion-label>
      <br>
      <br>
      <ion-label><strong>Tipo de oferta: </strong>{{solicitudPostulado.descripcion}}</ion-label>
      <br>
      <br>
      <ion-label><strong>Archivo Adjunto: </strong>
        <ion-button size="small" class="bg-naranja" *ngIf="solicitudPostulado.url_archivo !== ''" (click)="descargar()">Descargar</ion-button>
        <label *ngIf="solicitudPostulado.url_archivo === ''">Sin archivo adjunto</label>
      </ion-label>
      <br>
      <br>
      <ion-label><strong>Fecha: </strong>
        {{solicitudPostulado.fecha}}
      </ion-label>
      <br>
      <br>
      <ion-label><strong>Contacto: </strong>
        <a href="https://api.whatsapp.com/send?phone={{solicitudPostulado.celular}}" target="_blank">{{solicitudPostulado.celular}}</a>
      </ion-label>
      <br>
      <br>
      <ion-label><strong>Seleccionar: </strong>
        <ion-checkbox slot="end" color="primary" (ionChange)="checkSolicitud(solicitudPostulado)" [(ngModel)]="solicitudPostulado.checkend"></ion-checkbox>
      </ion-label>
    </ion-card-header>
  </ion-card>
</ion-content>
