.categoria {
    justify-content: center;
}

.lista-container{
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: center;
}

.lista-container app-promocion {
    //max-width: 72%;
}

.cuadricula-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cuadricula-container app-promocion {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: -6px;
    margin-left: -7px;
    max-width: 53%;
}

.buttonCustom{
    --background: transparent;
    color: #1d1d1b
}
