<ion-header [translucent]="true">
  <ion-toolbar class="tolbar">
    <ion-title>
      Promociones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="lstPromociones.length == 0 && !loader">
    <ion-grid>
      <ion-row style="margin: 10px;">
        <ion-col size="12" style="color: white; background: red; border-radius: 20px; padding: 10px; text-align: center;">
          <strong>Lo sentimos!</strong> No se encontraron promociones con la busqueda.
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!loader">
    <ion-grid *ngFor="let categorias of lstPromociones" class=".categoria" >
      <ion-row class="categoria">
        <h2>{{ categorias.nombre }}</h2>
      </ion-row>
      <ion-row *ngFor="let promocion of categorias.promociones">
        <ion-col size="12">
          <app-promocion [promocion]="promocion"></app-promocion>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
