<app-toolbar-busqueda
  [placeHolder]="plazaAfiliacionNombre.nombre !== null && plazaAfiliacionNombre.nombre !== undefined ? 'Buscar promociones en ' + plazaAfiliacionNombre.nombre : 'Buscar promociones sobre productos, servicios y más...' "
  (buscarEmit)="buscarToolbar($event)" titulo="Promociones"
></app-toolbar-busqueda>
<ion-content [fullscreen]="true" 
  [scrollEvents]="true">
  <app-banner-promociones [anyFiltros]="Filtros"></app-banner-promociones>
  <app-spinner [loader]="loader" [message]="cargando"></app-spinner>
  <div style="display: flex; justify-content: space-between;">
    <ion-button id="modalPromo" class="buttonCustom" (click)="abrirFiltro()">Filtro <ion-icon name="caret-down-outline"></ion-icon></ion-button>
    <ion-button *ngIf="cuadricula" (click)="verLista()"
                class="buttonCustom"><ion-icon name="list-sharp"></ion-icon>  Ver Lista</ion-button>
    <ion-button *ngIf="cuadriLista" (click)="verCuadricula()"
                class="buttonCustom"><ion-icon name="grid-sharp"></ion-icon>  Ver Cuadrícula</ion-button>
  </div>
  <app-filtro-promo [isFiltro]="isFiltro" (lstPromocionesFiltro)="filtroPromociones($event)" (filtroActivo)="filtroActivos($event)"></app-filtro-promo>
  <div
    *ngIf="plazaAfiliacionNombre.nombre !== null && plazaAfiliacionNombre.nombre !== undefined"
    style="background-color: #3c3c3c; color: white; font-size: small"
    class="ion-text-center"
  >
    <p style="padding-inline: 5%">
      ESTE ES UN ESPACIO CREADO EXCLUSIVAMENTE PARA
      <img
        style="width: 25px; margin-top: 1%"
        src="{{plazaAfiliacionNombre.icon}}"
      />
      {{plazaAfiliacionNombre.nombre}}
    </p>
  </div>
  <div *ngIf="lstPromociones.length == 0 && !loader && !selectionAP">
    <ion-grid>
      <ion-row style="margin: 10px">
        <ion-col size="12" color="primary">
          <h2 style="color: #4d78e7">
            No se encontraron promociones relacionadas a la búsqueda
          </h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid *ngIf="lstPromociones.length === 0 && selectionAP === true">
    <ion-text color="primary">
      <h2>
        No se encontraron promociones relacionadas en
        {{plazaAfiliacionNombre.nombre}}
      </h2>
    </ion-text>
  </ion-grid>

  <app-distancia-promo [promociones]="lstPromociones" [ubicacionActual]="ubicacionActual" [mostrarLogueo]="existeSesion"
  (banderaAlert)="abrirAlert($event)" [idPersona]="idPersona" [bdrLista]="bdrLista"
  (loader)="cambiarLoader($event)" *ngIf="ubicacionActiva && !loader && !filtroActivo"></app-distancia-promo>

  <div *ngIf="!loader && !ubicacionActiva || filtroActivo">
    <app-recargar (respuesta)="recargar($event)"></app-recargar>
    <ion-grid *ngFor="let categorias of lstPromociones; index as i" class="categoria">
      <ion-row class="categoria">
        <h2 style="margin-top: 5px" *ngIf="i == posicionRandom" id="imagenCarta">{{ categorias.nombre }}</h2>
        <h2  style="margin-top: 5px" *ngIf="i != posicionRandom">{{ categorias.nombre }}</h2>
        <!--h2  *ngIf="(i+1 == lstPromociones.length)">{{this.scroll()}}</-->
      </ion-row>

      <div [ngClass]="{'lista-container': cuadriLista, 'cuadricula-container': cuadricula}">
        <ng-container *ngFor="let promocion of categorias.promociones; index as k">
          <app-promocion [promocion]="promocion" [idPersona]="idPersona" [mostrarLogueo]="existeSesion" [bdrLista]="bdrLista"
                         (banderaAlert)="abrirAlert($event)"></app-promocion>
        </ng-container>
      </div>

    </ion-grid>
  </div>
  <app-modal-inicio-sesion [isAlert]="isAlert" (banderaAlert)="cerrarAlert($event)"></app-modal-inicio-sesion>
</ion-content>
