.categoria {
    justify-content: center;
}

.lista-container{
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: center;
}

.lista-container app-promocion {
    //max-width: 72%;
}

.cuadricula-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.cuadricula-container app-promocion {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 7px;
    max-width: 62%;
}

.buttonCustom{
    --background: transparent;
    color: #1d1d1b
}
