.loader {
  position: fixed;
  top: 48%;
  left: 50%;
}

ion-spinner {
  --color: rgba(255, 115, 73, 0.900);
}

.message-wrap {
  padding: 0 10px; 
}

.message-wrap .message {
  position: relative;
  padding: 10px 0; 
}

.message-wrap .message .user-img {
  position: absolute;
  border-radius: 45px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.36); 
}

.message-wrap .message .msg-detail {
  width: 100%;
  display: inline-block; 
}

.message-wrap .message .msg-detail p {
  margin: 0; 
}

.message-wrap .message .msg-detail .msg-info p {
  font-size: .8em;
  color: #888; 
}

.message-wrap .message .msg-detail .msg-content {
  position: relative;
  margin-top: 5px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  color: #fff;
  width: auto;
  max-width: 80%;
}

.message-wrap .message .msg-detail .msg-content span.triangle {
  background-color: #fff;
  border-radius: 2px;
  height: 8px;
  width: 8px;
  top: 12px;
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.message-wrap .message.left .msg-content {
  float: left;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  a {
    color: rgba(255, 115, 73, 0.900);
    font-weight: 600;
    text-decoration-line: underline;
  }
}
.message-wrap .message.left .msg-detail {
  padding-left: 55px; 
}
.message-wrap .message.left .user-img {
  left: 0; 
}
.message-wrap .message.left .msg-detail .msg-content {
  color: #343434; 
}
.message-wrap .message.left .msg-detail .msg-content span.triangle {
  border-top-width: 0;
  border-right-width: 0;
  left: -5px; 
}

.message-wrap .message.right .msg-detail {
  padding-right: 5px; 
}
.message-wrap .message.right .msg-detail .msg-info {
  text-align: right; 
}

.message-wrap .message.right ion-spinner {
  position: absolute;
  right: 10px;
  top: 50px; 
}
.message-wrap .message.right .msg-detail .msg-content {
  float: right;
  background: rgba(255, 115, 73, 0.900);
  a {
    color: white;
    font-weight: 600;
    text-decoration-line: underline;
  }
}
.message-wrap .message.right .msg-detail .msg-content span.triangle {
  background: rgba(255, 115, 73, 0.900);
  border-bottom-width: 0;
  border-left-width: 0;
  right: -5px; 
}

ion-icon {
    color: white;
}

.send-message {
    font-size: 10px;
    margin-top: 10px;
    --background:rgba(255, 115, 73, 0.900);
}

ion-textarea.message-input {
    width: auto;
    --padding-end: 11px;
    --padding-start: 5px;
    --placeholder-color: #636363;
}

