<ion-header>
  <ion-toolbar class="tolbar" mode="ios">
    <ion-button fill="clear" (click)="cerrarModal()">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-title>{{ notificacion.nombre_negocio }}</ion-title>

    <ion-button
      fill="clear"
      slot="end"
      (click)="infoNegocio()"
      [disabled]="notificacion.url_negocio === null || notificacion.url_negocio.trim().length === 0"
    >
      <ion-icon name="storefront-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loader" name="circular" class="loader"></ion-spinner>
  <div class="message-wrap" *ngIf="!loader">
    <div class="message left" *ngIf="!loader" style="margin-bottom: -12px;">
      <div class="msg-detail">
        <ion-avatar class="user-img">
          <ion-img alt="" [src]="notificacion.logo_negocio.trim().length === 0
              ? 'https://ecoevents.blob.core.windows.net/comprandoando/tinBitoo/Web/PROVEEDOR/Proveedor500.png' : notificacion.logo_negocio">
          </ion-img>
        </ion-avatar>
        <div class="msg-info">
          <p>{{ notificacion.fecha }}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p *ngIf="notificacion.id_negocio_envia !== null && notificacion.id_negocio_envia !== 1">*A partir de este momento, puede interactuar con el proveedor*</p>
          <p *ngIf="notificacion.id_persona_envia !== null">*A partir de este momento, puede interactuar con el cliente*</p>
        </div>
      </div>
    </div>
    <div
      class="message"
      *ngFor="let msg of mensajes"
      [class.left]="msg.remitente === 1"
      [class.right]="msg.remitente === 0"
    >
      <div class="msg-detail" *ngIf="msg.visible === 0 && msg.remitente === 1 && idProveedorUsuario">
        <ion-avatar class="user-img" *ngIf="msg.remitente === 1">
          <ion-img alt="" [src]="msg.logo_negocio.trim().length === 0
              ? 'https://ecoevents.blob.core.windows.net/comprandoando/tinBitoo/Web/PROVEEDOR/Proveedor500.png' : msg.logo_negocio">
          </ion-img>
        </ion-avatar>
        <div class="msg-info">
          <p>{{ msg.fecha }}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p *ngIf="msg.id_solicitud">Hola {{msg.nombre_negocio_solicitud}} en {{msg.nombre_negocio}}. </p><p>{{ msg.mensaje }}.
          <span *ngIf="msg.evento"> Descarga la reservación <a (click)="reservacion(msg.evento)">aquí</a></span>
          <span *ngIf="msg.experiencia"> Descarga la reservación <a (click)="reservacionExp(msg.experiencia)">aquí</a></span>
          <span *ngIf="msg.id_solicitud"><br><br>Postúlate <a (click)="requerimiento(msg.id_solicitud)">aquí</a></span>
          </p>
        </div>
      </div>
      <div class="msg-detail" *ngIf="msg.visible === 0 && msg.remitente === 1 && !idProveedorUsuario">
        <ion-avatar class="user-img" *ngIf="msg.remitente === 1">
          <ion-img alt="" [src]="msg.logo_negocio.trim().length === 0
              ? 'https://ecoevents.blob.core.windows.net/comprandoando/tinBitoo/Web/PROVEEDOR/Proveedor500.png' : msg.logo_negocio">
          </ion-img>
        </ion-avatar>
        <div class="msg-info">
          <p>{{ msg.fecha }}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p *ngIf="msg.id_solicitud">Hola {{msg.nombre_negocio_solicitud}} en {{msg.nombre_negocio}}. </p><p>{{ msg.mensaje }}.
            <span *ngIf="msg.evento"> Descarga la reservación <a (click)="reservacion(msg.evento)">aquí</a></span>
            <span *ngIf="msg.experiencia"> Descarga la reservación <a (click)="reservacionExp(msg.experiencia)">aquí</a></span>
            <span *ngIf="msg.id_solicitud"><br><br>Postúlate <a (click)="requerimiento(msg.id_solicitud)">aquí</a></span>
          </p>
        </div>
      </div>
      <div class="msg-detail" *ngIf="msg.visible === 1">
        <ion-avatar class="user-img" *ngIf="msg.remitente === 1">
          <ion-img alt="" [src]="msg.logo_negocio.trim().length === 0
              ? 'https://ecoevents.blob.core.windows.net/comprandoando/tinBitoo/Web/PROVEEDOR/Proveedor500.png' : msg.logo_negocio">
          </ion-img>
        </ion-avatar>
        <div class="msg-info">
          <p>{{ msg.fecha }}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p *ngIf="msg.id_solicitud">Hola {{msg.nombre_negocio_solicitud}} en {{msg.nombre_negocio}}. </p><p>{{ msg.mensaje }}.
          <span *ngIf="msg.evento"> Descarga la reservación <a (click)="reservacion(msg.evento)">aquí</a></span>
          <span *ngIf="msg.experiencia"> Descarga la reservación <a (click)="reservacionExp(msg.experiencia)">aquí</a></span>
          <span *ngIf="msg.id_solicitud"><br><br>Postúlate <a (click)="requerimiento(msg.id_solicitud)">aquí</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-textarea
            [(ngModel)]="mensajeEnviar"
            aria-label
            placeholder="Escribir mensaje..."
            class="message-input"
          ></ion-textarea>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="send-message" (click)="enviarMensaje()">
            <ion-icon slot="icon-only" name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
