<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="menuUsuario"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Eventos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="AgregarEvento()" class="customIcon">
        <ion-icon name="add-outline" class="customIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-spinner [loader]="loader" [message]="msj" *ngIf="loader"></app-spinner>
<ion-content *ngIf="!loader">
  <div class="eventosContent">
    <ion-label class="eventocreado">Eventos Creados</ion-label>
    <ion-list class="listaEvento">
      <ion-item-sliding class="eventoContent" (click)="obtenerLstReservacion(evento.id_evento, evento.fotografias[0]?.url_imagen)" *ngFor="let evento of eventos; let i = index">
        <ion-item (click)="onClickItem($event)">
          <img class="eventoImg" src="{{evento.fotografias[0]?.url_imagen}}" alt="{{evento.evento}}">
          <p class="eventTitle">{{evento.evento}}</p>
          <ion-icon class="moveLeft" style="color: #000;" name="chevron-back-outline"></ion-icon>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="editarEvento(evento.id_evento)"><ion-icon
              name="create-outline"></ion-icon></ion-item-option>
          <ion-item-option color="danger" (click)="eliminarEvento(evento.id_evento,i)"><ion-icon
              name="trash-outline"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <div class="confirmacionEventoContainer">
    <ion-label class="eventocreado">Validar reservación</ion-label>
    <div class="imgReservacion" *ngIf="eventoImg">
      <img [src]="eventoImg" alt="Imagen del evento">
    </div>
    <div class="cantidadFaltante" *ngIf="reservacion">
      Faltantes:
      <ion-chip>{{cantidadFaltante}}</ion-chip>
    </div>
    <p style="text-align: center;">Para visualizar las reservaciones selecciona un evento de la parte superior.</p>
    <p style="color: red;" *ngIf="!reservacion && evReservacion">No tiene ninguna reservacion registrada</p>
    <ion-list class="listaEvento">
      <!-- <ion-item *ngFor="let res of reservacion">
        <ion-label>{{res.nombresolicitante}} {{res.paternosolicitante}} {{res.maternosolicitante}}</ion-label>
      </ion-item> -->

      <ion-item-sliding class="eventoContent" *ngFor="let res of reservacion let i = index">
        <ion-item (click)="onClickItem($event)">
          <div style="width: 40px; height: 100%;" [ngClass]="{'color-1': res.fc_confirmacion != null, 'color-0': res.fc_confirmacion === null}"></div>
          <p class="eventTitleRes">{{res.nombresolicitante}} {{res.paternosolicitante}} {{res.maternosolicitante}}</p>
          <ion-icon class="moveLeft" style="color: #000;" name="chevron-back-outline"></ion-icon>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="mostrarInformacion(i)"><ion-icon name="alert-outline"></ion-icon></ion-item-option> <!-- agregar evento click-->
          <ion-item-option color="danger" (click)="quitarReservacion(res)" *ngIf="res.fc_confirmacion"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
          <ion-item-option color="success" (click)="guardarReservacion(res)" *ngIf="!res.fc_confirmacion"><ion-icon name="add-outline"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
  </div>

  <div class="informacionContainer" *ngIf="mostrarInfo" (click)="cerrarInformacion()">
    <div class="seccion-informacion" *ngIf="mostrarInfo">
      <h2>Solicitante: {{solicitante}}</h2>
      <div class="informacionReservacion">
        <ion-label>No. Personas: {{noPersonas}}</ion-label>
        <ion-label>Fecha de reservación: {{convertirFecha(fechaDeReservacion)}}</ion-label>
        <ion-label>Estatus: {{estatus}}</ion-label>
        <ion-label>Fecha confirmación: {{fechaConfirmacion}}</ion-label>
      </div>
    </div>
  </div>


</ion-content>
