<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start" (click)="cerraDatosSubcategoria()">
      <ion-button>
        <ion-icon class="ion-float-left " name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="subcategoriaTO.id_categoria === null || subcategoriaTO.id_categoria === undefined">Agregar</span>
      <span *ngIf="subcategoriaTO.id_categoria !== null && subcategoriaTO.id_categoria !== undefined">Modificar</span>
    </ion-title>
    <ion-buttons slot="end" (click)="presentActionSheet()" 
    *ngIf="subcategoriaTO.id_categoria !== null && subcategoriaTO.id_categoria !== undefined">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <!--<ion-card class="ion-text-center" *ngIf="blnActivoPrevio">
    <ion-card-header>
      <ion-card-title>{{subcategoriaTO.nombre}}</ion-card-title>
      <div class="ion-margin-top">
        <img [src]="subcategoriaTO.url_imagen" />
      </div>
      <span>Icono</span>
      <div  class="ion-margin-top">
        <img [src]="subcategoriaTO.url_icon" />
        </div>
        <span>Icono Marker</span>
        <div class="ion-margin-top">
          <ion-label color="success" *ngIf="subcategoriaTO.activo == 1">Activo</ion-label>
          <ion-label color="danger"  *ngIf="subcategoriaTO.activo === null || subcategoriaTO.activo == 0">Desactivado</ion-label>
          </div>
      </ion-card-header>
  </ion-card>-->
<ion-card >
<form #formBasicos="ngForm" (ngSubmit)="actualizarDatos(formBasicos)">
  <ion-list>
    <ion-item>
      <div class="avatar-upload">
        <div id="giroEdit" class="avatar-edit">
            <input type='file' id="imageUploadLocal" accept="image/*" (change)="subirArchivo($event, 1)" />
            <label for="imageUploadLocal">
              <ion-icon name="camera-outline" style="position: relative; top: 7px;"></ion-icon>
            </label>
        </div>
        <div id="giro" class="avatar-preview">
            <div *ngIf="subcategoriaTO.imagen === null || subcategoriaTO.imagen === undefined" id="imageUploadLocal" [ngStyle]="subcategoriaTO.imagen !== null ? 
            {'background-image': 'url('+subcategoriaTO.url_imagen+')'} : ''">
            </div>
            <div *ngIf="subcategoriaTO.imagen !== null && subcategoriaTO.imagen !== undefined" [ngStyle]="{
         'background-image': 'url('+subcategoriaTO.imagen.archivo_64+')'}">
            </div>
        </div>
        <label for="imageUploadLocal" class="col-form-label ">Imagen</label>
    </div>
    </ion-item>
    <ion-item>
      <div class="avatar-upload">
        <div id="giroEdit" class="avatar-edit">
            <input type='file' id="imageUploadMarker" accept="image/*" (change)="subirArchivo($event, 2)"/>
            <label for="imageUploadMarker">
              <ion-icon name="camera-outline" style="position: relative; top: 7px;"></ion-icon>
            </label>
        </div>
       <div id="giro" class="avatar-preview">
            <div *ngIf="subcategoriaTO.marker === null || subcategoriaTO.marker === undefined" id="imageUploadMarker" [ngStyle]="subcategoriaTO.marker !== null ? 
            {'background-image': 'url('+subcategoriaTO.url_icon+')'} : ''">
            </div>
            <div *ngIf="subcategoriaTO.marker !== null && subcategoriaTO.marker !== undefined" [ngStyle]="{
         'background-image': 'url('+subcategoriaTO.marker.archivo_64+')'}">
            </div>
        </div>
        <label for="imageUploadMarker" class="col-form-label ">Icono Marker</label>
        <br>
        <strong style="font-size: 12px; color: #a1a1a1;">El tamaño debe ser mínimo a 50x50 o máximo 100x100</strong>
    </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input #nombre="ngModel" required  name="nombre" [(ngModel)]="subcategoriaTO.nombre"></ion-input>
    </ion-item>
    <div *ngIf="nombre.touched  && nombre.invalid" class="alert alert-danger">
      <div *ngIf="nombre.errors.required">el nombre es requerido
      </div>
  </div>
    <ion-item>
      <ion-label position="stacked">Activo</ion-label>
      <ion-select ok-text="Ok" cancel-text="Cancelar" #activo="ngModel" name="activo" [(ngModel)]="subcategoriaTO.activo" required>
        <ion-select-option *ngFor="let a of activos" [value]="a.id">
          {{a.activo}}
        </ion-select-option>
        </ion-select>
    </ion-item>
    <div *ngIf="activo.touched  && activo.invalid" class="alert alert-danger">
      <div *ngIf="activo.errors.required">el activo es requerido
      </div>
  </div>
  </ion-list>
  <ion-button type="submit" class="bg-rosa" expand="block" [disabled]="formBasicos.invalid" style="margin-bottom: 2vh;">
    <span *ngIf="subcategoriaTO.id_categoria === null || subcategoriaTO.id_categoria === undefined">Guardar</span>
    <span *ngIf="subcategoriaTO.id_categoria !== null && subcategoriaTO.id_categoria !== undefined">Actualizar</span>
  </ion-button>
</form>
</ion-card>
</ion-content>
