<!--<ion-header [translucent]="true" >-->
<!--    <ion-toolbar>-->
<!--        <ion-title>-->
<!--            Inicio*-->
<!--        </ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->
<app-toolbar-busqueda placeHolder="Buscar negocios" (buscarEmit)="buscarToolbar($event)"></app-toolbar-busqueda>
<ion-content [fullscreen]="true" [scrollEvents]="true"  (ionScroll)="cordenada = $event.detail.scrollTop">
    <app-boton-top [content]="content" [cordenada]="cordenada" ></app-boton-top>
    <app-banner-promociones [anyFiltros]="Filtros"></app-banner-promociones>
    <ion-content class="ion-padding" *ngIf="loader" fullscreen>
        <div class="spin" >
            <ion-spinner></ion-spinner>
        </div>
    </ion-content >
    <div *ngIf="!loader">
        <ion-item>
            <ion-buttons  *ngIf=" filtroActivo" slot="start">
                <ion-chip (click)="borrarFiltros()" color="danger">
                    <ion-icon name="trash-outline" color="danger"></ion-icon>
                    <ion-label>Borrar Filtros</ion-label>
                </ion-chip>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="abrirFiltros()">Filtrar
                    <ion-icon name="filter-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                    <ion-button size="small" class="bg-rosa" type="button" (click)="abrirModalMapa()">
                        <ion-icon name="map-outline"></ion-icon>
                        Mapa
                      </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="listaCategorias.length !== 0">
            <ion-row *ngFor="let cat of listaCategorias">
                <ion-text class="w-100">
                    <h2>{{cat.nombre}}</h2>
                </ion-text>
                <ion-col sizeLg="3" sizeXs="6" sizeSm="4" sizeMd="4" *ngFor="let proveedor of cat.negocios">
                    <ion-card [routerLink]="['/tabs/negocio/' + proveedor.url_negocio]" class="m-0 fixed">
                        <img class="img-card-w" src="https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg"
                            [srcset]="proveedor.url_logo" 
                             alt="Falla al cargar la imagen">
                        <ion-card-header>
                            <ion-card-subtitle>{{proveedor.nombre_comercial}}</ion-card-subtitle>
                            <ion-badge *ngIf="proveedor.abierto == 'ABIERTO'" color="success">Abierto</ion-badge>
                            <ion-badge *ngIf="proveedor.abierto !== 'ABIERTO'" color="danger">Cerrado</ion-badge>
                        </ion-card-header>
                        <ion-card-content >
                            <div class="ui-search-item__title">
                                {{proveedor.descripcion}}
                            </div>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="listaCategorias.length === 0">
            <ion-text color="primary">
                <h2>No se encontraron negocios relacionados</h2>
            </ion-text>
        </ion-grid>
    </div>


</ion-content>


