.m-0 {
  margin: 0px 0px 10px 0px;
}

.fixed {
  height: 23em;
}

.img-card-w {
  width: 100%;
  height: 9em !important;
}

.bolsi {
  bottom: 3px;
  right: 3px;
}

.agregarBolda {
  z-index: 1;
}

.img-gris{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);

}

.giro-color{
  color:  #a74eef;
  font-size: 10px;
}

.todas{
  text-decoration: none;
  color: rgb(48, 47, 47);
  font-size: 12px;
}
@media (max-width: 500px) {
  .bosar {
    width: 13vw;
    height: 13vw;
  }
}

@media (min-width: 501px) and (max-width: 1300px) {
  .bosar {
    width: 8vw;
    height: 8vw;
  }
}

.bosar {
  --background: white;
  --color: #fa4f72;
}

.bosa {
  --background: white !important;
  --color: grey !important;
}

.icono{
  font-size: 14.5px;
}

.text{
  font-size: 12px;
}

.text2{
  font-size: 13px;
}
.verTodos{
  justify-content: center;
  width: 100%;
  font-size: 18px;
}

@media (max-width: 500px) {
  .text{
    font-size: 9.5px;
  }

  .text2, .icono{
    font-size: 10.2px;
  }
}
.verTodos, .icono{
  font-size: 15px;
}

.mapa{
  --background: linear-gradient(90deg, #fa4f72, #a74eef);
  color: white;
  font-size: 12px;
}

.mapa .icono{
  padding-right: 5px;
}

ion-card-header {
  padding-top: 2rem;
}
.promo {
  position:absolute;
  top:0;
  left:0;
  right:62%;
  bottom:10%;
  width: 80%;
}

.likegegi {
  bottom: 4.2rem;
  position: absolute;
  display: flex;
}
.fixed {
  height: 17.3em;
}
.spinner-color {
  --color: #fa4f72;
}

@media (min-width: 412px) {
  .likegegi {
    bottom: 7rem;
    position: absolute;
    display: flex;
  }
  .fixed {
    height: 20em;
  }
}

.image-center{ margin:0 auto; }
small{
  --color: #fa4f72;
}

ion-slide{
  width: 5em !important; height: 7em;
}

.badge{
  margin-top: 4px;
  margin-left: 10px;
}

.badge ion-badge{
  padding: 8px;
  border-radius: 50px;
}

.texto-ver-mas{
  text-transform: lowercase;
}

.texto-ver-mas:first-letter{
  text-transform: uppercase;
}

.nombre-categoria{
  margin: -25px 5px auto;
}

.boton-regresar{
  margin: -12px 15px 5px;
}

.texto-comercio{
  margin-top: 11px;
}
.icon-cert-card{
  width: 100%; 
  text-align: right; 
  position: absolute;            
  bottom: 0px;
}
