.m-0{
  margin: 0px 0px 10px 0px;
}

.fixed{
  height: 23em;
}

.img-card-w{
  width: 100%;
}
.bolsi{
  bottom: 3px;
  right: 3px;
}

.agregarBolda {
  z-index: 1;
}

@media (max-width: 500px) {
  .bosar{
    width: 13vw;
    height: 13vw;
  } 
}
@media (min-width: 501px)and  (max-width: 1300px) {
  .bosar{
    width: 8vw;
    height: 8vw;
  } 
}
.bosar{
  --background: white;
  --color: #fa4f72;  
}
.bosa{
  --background: white !important;
  --color: grey !important;
}