<ion-toolbar class="tolbar">
 
    <app-toolbar-busqueda
      [placeHolder]=" objectSelectAfiliacionPlaza !== null && objectSelectAfiliacionPlaza !== undefined ? 'Buscar negocios en ' + objectSelectAfiliacionPlaza.nombre : 'Buscar negocios' "
      (buscarEmit)="buscarToolbar($event)" titulo="Inicio"
    ></app-toolbar-busqueda>

</ion-toolbar>

<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  (ionScroll)="cordenada = $event.detail.scrollTop"
>
  <!--No lo detecta como un boton flotante si no como un elemento propio de content en IOS-->
  <app-boton-top
    [content]="content"
    [cordenada]="cordenada"
    [platform]="isIOS"
    *ngIf="!isIOS"
  ></app-boton-top>
  <ion-fab
    *ngIf="isIOS"
    horizontal="end"
    vertical="bottom"
    slot="fixed"
    class="btn-flotante"
    (click)="scrollToTop()"
  >
    <ion-fab-button class="bg-rosa" *ngIf="cordenada >= 100">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-banner-promociones
    [anyFiltros]="Filtros"
    [tieneFiltro]="tFiltro"
  ></app-banner-promociones>
  <app-spinner [loader]="loader" [message]="msj"></app-spinner>
  <app-spinner  [loader]="loaderNegocios" [message]="msj"></app-spinner>
  <app-spinner *ngIf="mostrarloaderInicio"  [loader]="loaderInicio" [message]="msj"></app-spinner>
  <div *ngIf="!loader">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-buttons>
            <ion-chip *ngIf="!selectionAP" color="dark" (click)="openPlazasAfiliacionesModal()">
              <small class="text">Plazas<span *ngIf="afiliacion"> y Afiliaciones</span></small>
              <ion-icon class="icono" name="caret-down-outline"></ion-icon>
            </ion-chip>

            <ion-chip *ngIf="selectionAP" (click)="regresarBitoo()" color="danger">
              <ion-icon class="icono" name="log-out-outline"></ion-icon>
              <ion-label><span class="text">Regresar a Bitoo</span></ion-label>
            </ion-chip>

            <ion-button style="margin: 0 20px;" size="small" class="mapa" shape="round" [disabled]="listaCategorias.length === 0" (click)="abrirModalMapa()">
              <ion-icon class="icono" name="map-outline"></ion-icon>
              <small>Mapa</small>
            </ion-button>

            <ion-chip *ngIf="filtroActivo" (click)="borrarFiltrosP()" color="danger">
              <ion-icon class="icono" name="trash-outline" color="danger"></ion-icon>
              <ion-label><span class="text">Borrar Filtros</span></ion-label>
            </ion-chip>

            <ion-chip *ngIf="!filtroActivo" class="text2" color="dark" (click)="abrirFiltros()"
              ><span>Filtros</span>
              <ion-icon class="icono" name="filter-outline"></ion-icon>
            </ion-chip>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <div
          *ngIf="objectSelectAfiliacionPlaza !== null && objectSelectAfiliacionPlaza !== undefined"
          style="background-color: #3c3c3c; color: white; font-size: small"
          class="ion-text-center"
        >
          <p style="padding-inline: 5%">
            ESTE ES UN ESPACIO CREADO EXCLUSIVAMENTE PARA
            <img
              style="width: 25px; margin-top: 2%"
              src="{{objectSelectAfiliacionPlaza.icon}}"
            />
            {{objectSelectAfiliacionPlaza.nombre}}
          </p>
        </div>
      </ion-row>
    </ion-grid>
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" scrollbar="md">
      <ion-slide>
        
        <li class="nav-item">
          <a  class="todas"  id="pills-home-todos" data-toggle="pill"
            href="#pills-home" role="tab" (click)="activar()" aria-controls="pills-home"
            aria-selected="true">
            <ion-avatar *ngIf="idTodo !=true" style="margin-bottom: 1.2rem;" class="image-center"> <img class="img-gris" src="https://ecoevents.blob.core.windows.net/comprandoando/giros/iconos/todas%20las%20categor%C3%ADas.png"> </ion-avatar>
            <ion-avatar *ngIf="idTodo ===true"  style="margin-bottom: 1.2rem;" class="image-center"> <img  src="https://ecoevents.blob.core.windows.net/comprandoando/giros/iconos/todas%20las%20categor%C3%ADas.png"> </ion-avatar>
            
            
            <p *ngIf="idTodo ===true" class="giro-color" style="font-size: 10px;">Todas </p>
            <p *ngIf="idTodo !=true" style="font-size: 12px;">Todas </p>
          </a>
        </li>
      </ion-slide>
      <ion-slide *ngFor="let giro of this.lstCatTipoGiro">
      
        
        <ion-row class="ion-text-center" (click)="buscarByGiro(giro.id_giro)">
          <ion-col >
          <ion-item color="none" lines="none">
            <ion-avatar *ngIf="idGiro != giro.id_giro" class="image-center"> <img class="img-gris" src="{{giro.url_icon}}"> </ion-avatar>
            <ion-avatar *ngIf="idGiro==giro.id_giro" class="image-center"> <img src="{{giro.url_icon}}"> </ion-avatar>
            
          </ion-item>
          <ion-item class="ion-text-center" color="none" lines="none">
            
            <small *ngIf="idGiro != giro.id_giro"  style="font-size: 10px;">{{giro.nombre}}</small>
            <small *ngIf="idGiro==giro.id_giro" class="giro-color" >{{giro.nombre}}</small>
          </ion-item>
          </ion-col> 
      </ion-row>  
      </ion-slide>
    </ion-slides>

    <ion-refresher *ngIf="!isIOS" slot="fixed" (ionRefresh)="recargar($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <div *ngIf="!loaderNegocios">
      <ion-grid *ngIf="listaCategorias.length !== 0">
        <ion-row *ngFor="let cat of listaCategorias" class="ion-padding">
          
          <ion-text class="nombre-categoria w-100" *ngIf="!banderaVerMas">
            <h2>{{cat.nombre}}</h2>
          </ion-text>
          <div style="display: flex;" *ngIf="banderaVerMas">
            <ion-text class="nombre-categoria w-100">
              <h2>{{cat.nombre}}</h2>
            </ion-text>
            <ion-buttons class="boton-regresar">
              <ion-chip (click)="obtenerPrincipalInicio()" color="dark">
                <ion-icon class="icono" name="chevron-back-outline"></ion-icon>
                <ion-label class="text2">Regresar</ion-label>
              </ion-chip>
            </ion-buttons>
          </div>
          <ion-col
            sizeLg="3"
            sizeXs="6"
            sizeSm="4"
            sizeMd="4"
            *ngFor="let proveedor of !banderaVerMas ? cat.negocios : listaVerMas "
          >
            <ion-card class="m-0 fixed">
              <div (click)="negocioRuta(proveedor.url_negocio, proveedor.id_negocio)">
                <img
                  class="img-card-w"
                  src="https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg"
                  [srcset]="proveedor.url_logo"
                  alt="Falla al cargar la imagen"
                />
                <ion-card-header>
                  <ion-row   class="ion-justify-content-center">
                    <ion-spinner *ngIf="idNegocio===proveedor.id_negocio"  name="dots" class="spinner-color"></ion-spinner>
                  </ion-row>
                  <ion-card-subtitle class="texto-comercio">
                    {{proveedor.nombre_comercial}}
                    <!--ion-icon
                      *ngIf="proveedor.verificado"
                      class="text-rosa"
                      name="checkmark-circle"
                    ></ion-icon-->
                  </ion-card-subtitle>
                </ion-card-header>
              </div>
              <div *ngIf="proveedor.tienepromociones == 1"  class="promo" (click)="negocioRuta(proveedor.url_negocio,  proveedor.id_negocio)"> 
                <ion-img src="../../../assets/images/promo/etiqueta_promo.png"></ion-img>
              </div>
              <div class="likegegi">
                <div class="badge">
                  <ion-badge
                      *ngIf="proveedor.abierto == 'ABIERTO'"
                      color="success"
                      >Abierto
                  </ion-badge>
                  <ion-badge
                      *ngIf="proveedor.abierto !== 'ABIERTO'"
                      color="danger"
                      >Cerrado
                  </ion-badge>
                </div>
                <app-dar-like-negocio
                  [negocio]="proveedor"
                  [usuario]="user"
                  [mostrarLike]="existeSesion"
                >
                </app-dar-like-negocio>
              </div>
              <div class="icon-cert-card">
                <ion-icon *ngIf="proveedor.verificado"                                      
                  src="../../../assets/icon/certificado_icon.svg" size="large">
                </ion-icon>
              </div>
            </ion-card>
          </ion-col>
          <!--ion-button color="light" size="small" (click)="obtenerPrincipalInicio(cat.nombre)" 
            *ngIf="!banderaVerMas && !filtroActivo && !idTodo && !selectionAP && !buscador">
            <span class="texto-ver-mas">Ver todos los negocios {{cat.nombre}} </span>
            <ion-icon class="icono" name="chevron-forward-outline"></ion-icon>
          </ion-button-->
          <ion-chip class="verTodos" color="dark" (click)="obtenerPrincipalInicio(cat.nombre)"
            *ngIf="!banderaVerMas && !filtroActivo && !idTodo && !selectionAP && !buscador">
            <span>Ver todos los negocios {{cat.nombre}}</span>
            <ion-icon class="icono" name="chevron-forward-outline"></ion-icon>
          </ion-chip>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid *ngIf="listaCategorias.length === 0 && selectionAP === false">
      <ion-text color="primary">
        <h2>No se encontraron negocios relacionados</h2>
      </ion-text>
    </ion-grid>
    <ion-grid *ngIf="listaCategorias.length === 0  && selectionAP === true">
      <ion-text color="primary">
        <h2>
          No se encontraron negocios relacionados en
          {{objectSelectAfiliacionPlaza.nombre}}
        </h2>
      </ion-text>
    </ion-grid>
    <div *ngIf="!banderaVerMas">
      <app-infinito-scroll
        *ngIf="true"
        (respuesta)="cargarMasPaginas($event)"
        [activado]="true"
        [msj]="mensaje"
      ></app-infinito-scroll>
    </div>

    <div *ngIf="banderaVerMas">
      <ion-infinite-scroll threshold="50px" (ionInfinite)="cargarMasNegocios($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          [loadingText]="mensaje">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
  <app-banner-anuncios
  
></app-banner-anuncios>

</ion-content>
