.fixed {
  height: 23em;
}

.img-gris{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);

}

.giro-color{
  //color:  #a74eef;

  color: rgba(255, 76, 110, 0.911);
  font-size: 10px;
}

.todas{
  text-decoration: none;
  color: rgb(48, 47, 47);
  font-size: 12px;
}

.icono{
  font-size: 14.5px;
}

.text{
  font-size: 12px;
}

.text2{
  font-size: 13px;
}

.boton-margen-l {
  margin-left: 15px;;
}

.boton-margen-r {
  margin-right: 15px;;
}

@media (max-width: 500px) {
  .text, .text2, .icono{
    font-size: 10px;
  }
  .boton-margen-l {
    margin-left: 11px;;
  }
  
  .boton-margen-r {
    margin-right: 11px;;
  }
}

.ion-col {
  text-align: right;
}

.ion-col-2 {
  text-align: center;
}

.custom-col {
  margin-right: 0.1%;
}

.custom-padding {
  padding: 10px;
}

.eventosButton{
  --background:#eeeeee;
  --color: #1e1c1c;
  font-size: 13px;
  width: 65px;
  height: 31px;
}

.mapa{
  --background:#eeeeee;
  --color: #1e1c1c;
  font-size: 12px;
  width: 85px;
  height: 31px;
}
.mapa .icono{
  padding-right: 5px;
}

.fixed {
  height: 17.3em;
}
.spinner-color {
  --color: #ff1dbd;
}

@media (min-width: 412px) {
  .fixed {
    height: 20em;
  }
}

.image-center{ margin:0 auto; }
small{
  --color: #ff1dbd;
}

ion-slide{
  width: 4em !important; height: 7em;
}

.dots{ 
  display: flex; 
  justify-content: center;
  margin: 0px; 
  height: 10px;
}

.loaderArribaShow{
  visibility: visible;
}
.loaderArribaHide{
  visibility: hidden;
}

.paginacion{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -20px;
  margin-bottom: -11px;
}
.contenedor_popup{
  width:98%; 
  height:98%; 
  margin-top: 10px;
}
.icon_close{
  display: flex; 
  justify-content: right;  
  margin:0px 10px -10px 0px; 
  font-size: 20px; 
  color:white;
}
.popup_content{
  width:100%; 
  height:90%;
  h4{
    text-align:center; color:white; margin:0px;
  }
  div{
    width:100%; text-align:center; color: white;
  }
  p{
    margin:15px 10px 0px 10px;
  }
}
.bottom_info_distintivo{
  width:100%;
  height:30%;
  //background-color-: #d85cb6;
  background: linear-gradient(90deg,  #FF9925 0%,  #FFCE00 100%);
  position:fixed;
  bottom: -30%;  
  display: flex;
  justify-content:center;
  transition:  bottom 0.6s;
  z-index:800;
}
.bottom_info_distintivo_up{
  width:100%;
  height:30%;
  //background-color: #d85cb6;
  background: linear-gradient(90deg,  #FF9925 0%,  #FFCE00 100%);
  position:fixed;
  bottom: 0%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content:center;
  transition:  bottom 0.6s;
  z-index:800;  
}

.ver-mas {
  margin: 0 60px 15px;
}

.spinner {
  display: flex;
}

.spinner > span {
 margin-top: 9px;
 margin-left: 5px;
}

.container-1 {
  margin-left: 20px;
}


.container-2{
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12rem);
}

ion-card {
  margin: 5px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 175px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.logo-negocio img {
  width: 100%;
  height: auto;
  /*object-fit: cover;*/
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.header-card {
  margin: 8px 2px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -8px;
}

.body-card {
  margin: 0 12px 5px;
}

.tag-giro {
  border-radius: 20px;
  font-size: 11px;
  text-align: center;
  color: #fff;
  padding: 0 5px;
  background: linear-gradient(90deg, rgba(255, 76, 110, 0.911) 0%, rgba(255, 115, 73, 0.911) 100%);
}

.tag {
  color: #fff;
  border-radius: 10px;
  font-size: 10px;
  padding: 2px 10px;
  width: 100px;
  text-transform: uppercase;
}

.tag-green {
  margin-right: 10px;
  background-color: #2aac09d5;
}

.tag-red {
  margin-right: 5px;
  background-color: #e11212c7;
}

ion-card-title {
  font-size: small;
}

.distintivoIcon{
  width: 32px;
  height: 32px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  padding: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.distintivos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: -20px;
}

.distintivo{ 
  display:flex;
}

.container-3 {
  //margin: 15px 130px 30px 25px;
  display: grid;
  margin: 15px;
}

.boton-ver-mas {
  --background: #d3d3d3;
  --color: rgb(43, 43, 43);
  font-size: 11px;
}

.boton-mas-negocios{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.icono-ver-mas{
  font-size: 15px;
}

@media (max-width: 380px) {
  .container-1 {
    margin-left: 5px;
  }

  .container-2 {
    margin-left: 2px;
    grid-template-columns: repeat(2, 11.5rem);
  }

  ion-card {
    width: 176px;
  }
}

@media (min-width: 385px) and (max-width: 410px) {
  .container-2 {
    margin-left: 12.5px;
    grid-template-columns: repeat(2, 11.5rem);
  }

  ion-card {
    width: 176px;
  }
}
