.m-0 {
  margin: 0px 0px 10px 0px;
}

.fixed {
  height: 23em;
}

.img-card-w {
  width: 100%;
  height: 9em !important;
}

.bolsi {
  bottom: 3px;
  right: 3px;
}

.agregarBolda {
  z-index: 1;
}

@media (max-width: 500px) {
  .bosar {
    width: 13vw;
    height: 13vw;
  }
}

@media (min-width: 501px) and (max-width: 1300px) {
  .bosar {
    width: 8vw;
    height: 8vw;
  }
}

.bosar {
  --background: white;
  --color: #fa4f72;
}

.bosa {
  --background: white !important;
  --color: grey !important;
}

// .fixed {
//   height: 25em;
// }

ion-card-header {
  padding-top: 3rem;
}
.promo {
  position:absolute;
  top:0;
  left:0;
  right:62%;
  bottom:10%;
  width: 80%;
}

.likegegi {
  bottom: 7rem;
  position: absolute;
}
.fixed {
  height: 20em;
}

@media (min-width: 412px) {
  .likegegi {
    bottom: 7rem;
    position: absolute;
  }
  .fixed {
    height: 20em;
  }
}

.image-center{ margin:0 auto; }
small{
  --color: #fa4f72;
}

ion-slide{
  width: 5em !important; height: 7em;
}
