.m-0 {
  margin: 0px 0px 10px 0px;
}

.fixed {
  height: 23em;
}

.img-card-w {
  width: 100%;
  height: 9em !important;
}

.bolsi {
  bottom: 3px;
  right: 3px;
}

.agregarBolda {
  z-index: 1;
}

.img-gris{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);

}

.giro-color{
  color:  #a74eef;
  font-size: 10px;
}

.todas{
  text-decoration: none;
  color: rgb(48, 47, 47);
  font-size: 12px;
}
@media (max-width: 500px) {
  .bosar {
    width: 13vw;
    height: 13vw;
  }
}

@media (min-width: 501px) and (max-width: 1300px) {
  .bosar {
    width: 8vw;
    height: 8vw;
  }
}

.bosar {
  --background: white;
  --color: #fa4f72;
}

.bosa {
  --background: white !important;
  --color: grey !important;
}

.icono{
  font-size: 14.5px;
}

.text{
  font-size: 12px;
}

.text2{
  font-size: 13px;
}
.verTodos{
  justify-content: center;
  width: 100%;
  font-size: 18px;
}

@media (max-width: 500px) {
  .text{
    font-size: 9.5px;
  }

  .text2, .icono{
    font-size: 10.2px;
  }
}
.verTodos, .icono{
  font-size: 15px;
}

.mapa{
  --background: linear-gradient(90deg, #fa4f72, #a74eef);
  color: white;
  font-size: 12px;
}

.mapa .icono{
  padding-right: 5px;
}

ion-card-header {
  padding-top: 2rem;
}
.promo {
  position:absolute;
  top:0;
  left:0;
  right:62%;
  bottom:10%;
  width: 80%;
}

.likegegi { 
  width: 100%;
  height: fit-content;
  bottom: 0px;//4.2rem;
  position: absolute;
  display: flex;
}
.fixed {
  height: 17.3em;
}
.spinner-color {
  --color: #fa4f72;
}

@media (min-width: 412px) {
  .likegegi {
    bottom: 0px;//7rem;
    position: absolute;
    display: flex;
    width: 100%;
    height: fit-content;
  }
  .fixed {
    height: 20em;
  }
}

.image-center{ margin:0 auto; }
small{
  --color: #fa4f72;
}

ion-slide{
  width: 5em !important; height: 7em;
}

.badge{
  margin-top: 4px;
  margin-left: 10px;
}

.badge ion-badge{
  padding: 8px;
  border-radius: 50px;
}

.texto-ver-mas{
  text-transform: lowercase;
}

.texto-ver-mas:first-letter{
  text-transform: uppercase;
}

.nombre-categoria{
  margin: -25px 5px auto;
}

.boton-regresar{
  margin: -12px 15px 5px;
}

.texto-comercio{
  margin-top: 11px;
}
.dots{ 
  display: flex; 
  justify-content: center;
  margin: 0px; 
  height: 10px;
}
.icon-cert-card{
  /*width: 100%; 
  text-align: right; 
  position: absolute;            
  bottom: 0px;*/
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1px;
  margin-top: -15px;
  margin-bottom: 0%;
  width: 100%;
  height: 40px; 
}
.one {
  display:flex;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  //size: 80%;
}
.two {
  display:flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
}
.three {
  display:flex;
  justify-content: center;
  grid-column: 3;
  grid-row: 1;
}
.four {
  display:flex;
  justify-content: center;
  grid-column: 4;
  grid-row: 1;
}
.five {
  display: none;
}
.loaderArribaShow{
  visibility: visible;
}
.loaderArribaHide{
  visibility: hidden;
}
.contenedor_popup{
  width:98%; 
  height:98%; 
  margin-top: 10px;
}
.icon_close{
  display: flex; 
  justify-content: right;  
  margin:0px 10px -10px 0px; 
  font-size: 20px; 
  color:white;
}
.popup_content{
  width:100%; 
  height:90%;
  h4{
    text-align:center; color:white; margin:0px;
  }
  div{
    width:100%; text-align:center; color: white;
  }
  p{
    margin:15px 10px 0px 10px;
  }
}
.bottom_info_distintivo{
  width:100%;
  height:30%;
  background-color: #d85cb6;
  position:fixed;
  bottom: -30%;  
  display: flex;
  justify-content:center;
  transition:  bottom 0.6s;
  z-index:800;
}
.bottom_info_distintivo_up{
  width:100%;
  height:30%;
  background-color: #d85cb6;
  position:fixed;
  bottom: 0%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content:center;
  transition:  bottom 0.6s;
  z-index:800;  
}

.ver-mas {
  margin: 0 60px 15px;
}

.spinner {
  display: flex;
}

.spinner > span {
 margin-top: 9px;
 margin-left: 5px;
}