.cent{
    text-align: center;
}

.boton {
    background: linear-gradient(90deg,#ff1dbd,#FFCE00);
    color: white;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

ion-card {
  box-shadow: none;
  border-radius: 12px;
  img {
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}

.swiper-slide-active {
  transition: scale(1.05, 1.5);
  ion-card {
    img {
      transform: scale(1, 1);
      height: 160px;
    }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

.size-icon {
  width: 187px;
  height: 140px;
}

.custom-file-input {
	display: block;
	position: relative;
	color: #ff1dbd;
}
.custom-file-input input {
	visibility: hidden;
	width: 100px
}
.custom-file-input:before {
	content: 'Subir Imagen';
	display: block;
	background: -webkit-linear-gradient(90deg,#ff1dbd,#FFCE00);
	background: -o-linear-gradient(90deg,#ff1dbd,#FFCE00);
	background: -moz-linear-gradient(90deg,#ff1dbd,#FFCE00);
	background: linear-gradient(90deg,#ff1dbd,#FFCE00);
  /*background: -webkit-linear-gradient(90deg,#fa4f72,#a74eef);
	background: -o-linear-gradient(90deg,#fa4f72,#a74eef);
	background: -moz-linear-gradient(90deg,#fa4f72,#a74eef);
	background: linear-gradient(90deg,#fa4f72,#a74eef);*/
	border-radius: 2px;
	padding: 5px 0px;
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 10pt;
	position: absolute;
	left: 0;
	right: 0;
}
.custom-file-input:hover:before {
	//border-color: #a74eef;
    border-color: #FF9925;
}
.custom-file-input:active:before {
	//background: #a74eef;
    background:  #FF9925;
}
.borrar-botom {
	display: block;
    background: -webkit-linear-gradient(90deg,#ff1dbd,#FFCE00);
    background: -o-linear-gradient(90deg,#ff1dbd,#FFCE00);
    background: -moz-linear-gradient(90deg,#ff1dbd,#FFCE00);
    background: linear-gradient(90deg,#ff1dbd,#FFCE00);
  /*background: -webkit-linear-gradient(90deg,#fa4f72,#a74eef);
    background: -o-linear-gradient(90deg,#fa4f72,#a74eef);
    background: -moz-linear-gradient(90deg,#fa4f72,#a74eef);
    background: linear-gradient(90deg,#fa4f72,#a74eef);*/
    border-radius: 4px;
    padding: 5px 0px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -30px;
}