
  <div *ngIf="hayEncuesta" [ngClass]="showPopUp? 'bottom_info_distintivo_up' : 'bottom_info_distintivo'">                  
    <div class="contenedor_popup">                        
      <div class="popup_content">     
        <div class="icon_close">  
          <h3 (click)="closePopUp()" style="margin-right: 5px; margin-top:5px;">✖</h3>                                                                  
        </div>            
        <div class="titlePopUp">                              
          <h4>{{misEncuestas.titulo}}</h4>         
        </div>
        <div *ngIf="misEncuestas.url_imagen!='' && misEncuestas.url_imagen != undefined" style="margin-top:5px; margin-bottom:-3px">
          <img src="{{misEncuestas.url_imagen}}" alt="Imagen de encuesta"/>
        </div>
        <!--div class="gridButtons" *ngIf="misEncuestas.opciones.length < 3">
          <div *ngFor="let opcion of misEncuestas.opciones; index as i" style="display:flex;justify-content:center; margin-top:5px;">            
            <button id='increase' class="boton_respuesta"
                    (click)="enviarRespuesta(misEncuestas.id_pregunta_rapida, opcion.id_opcion_pregunta_rapida)">
            {{opcion.descripcion}}
            </button><br/><br/>
          </div>
        </div-->
        <div class="gridButtons">          
            <div *ngFor="let opcion of misEncuestas.opciones; index as i" style="display:flex;justify-content:center; margin-top:5px;">                        
              <button id='increase' class="boton_respuesta" 
                    (click)="enviarRespuesta(misEncuestas.id_pregunta_rapida, opcion.id_opcion_pregunta_rapida)">
                    {{opcion.descripcion}}
              </button><br/><br/>
            </div>
            <!--div *ngIf="misEncuestas.opciones.length == 3" style="display:flex;justify-content:center; margin-top:5px; grid-column-start: 1; grid-column-end: 3; background-color: chocolate;">                        
              <button id='increase' class="boton_respuesta" 
                      (click)="enviarRespuesta(misEncuestas.id_pregunta_rapida, opcion.id_opcion_pregunta_rapida)">
              {{opcion.descripcion}} : {{i}} : {{misEncuestas.opciones.length}}
              </button><br/><br/>
            </div-->                    
        </div>
      </div>          
    </div>                   
  </div>
  <div *ngIf="contesto" [ngClass]="showPopUpGracias? 'bottom_info_distintivo_up' : 'bottom_info_distintivo'">
    <div class="contenedor_popup">                        
      <div class="popup_content">     
        <div class="icon_close">  
          <h3 (click)="closePopUp()" style="margin-right: 5px; margin-top:5px;">✖</h3>                                                                  
        </div>            
        <div class="titlePopUp">                              
          <h3>¡Perfecto!</h3>         
        </div>
        <div>
          <h4>Muchas gracias por ayudarnos a conocer sus preferencias</h4>
        </div>
      </div>          
    </div>
  </div>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button class="tab-button-principal" (click)="inicio()" tab="inicio" style="--color-selected: #fa4f72">
      <ion-icon class="icon" *ngIf="activedPage === 'inicio'" src="../../../assets/icons/IconosTabs/Home.svg"></ion-icon>
      <ion-icon class="ion-margin-top" *ngIf="activedPage !== 'inicio'" src="../../../assets/icons/IconosTabs/Home.svg"></ion-icon>
      <ion-label *ngIf="activedPage !== 'inicio'"></ion-label>
      <ion-label *ngIf="activedPage === 'inicio'">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-button-principal" (click)="productos()" tab="productos" style="--color-selected: #fa4f72">
      <ion-icon class="icon" *ngIf="activedPage === 'productos'" src="../../../assets/icons/IconosTabs/Productos.svg"></ion-icon>
      <ion-icon class="ion-margin-top" *ngIf="activedPage !== 'productos'" src="../../../assets/icons/IconosTabs/Productos.svg"></ion-icon>
      <ion-label *ngIf="activedPage !== 'productos'"></ion-label>
      <ion-label *ngIf="activedPage === 'productos'">Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-button-principal" (click)="promociones()" tab="promociones" style="--color-selected: #fa4f72">
      <ion-icon class="icon" *ngIf="activedPage === 'promociones'" src="../../../assets/icons/IconosTabs/Ofertas.svg"></ion-icon>
      <ion-icon class="ion-margin-top" *ngIf="activedPage !== 'promociones'" src="../../../assets/icons/IconosTabs/Ofertas.svg"></ion-icon>
      <ion-label *ngIf="activedPage !== 'promociones'"></ion-label>
      <ion-label *ngIf="activedPage === 'promociones'">Promociones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requerimientos" class="tab-button-principal" (click)="requerimientos()" style="--color-selected: #fa4f72">
      <ion-icon class="icon" *ngIf="activedPage === 'requerimientos'" src="../../../assets/icons/IconosTabs/Requerimientos.svg">
      </ion-icon>
      <ion-icon class="ion-margin-top" *ngIf="activedPage !== 'requerimientos'" src="../../../assets/icons/IconosTabs/Requerimientos.svg"></ion-icon>
      <ion-label *ngIf="activedPage !== 'requerimientos'"></ion-label>
      <ion-label *ngIf="activedPage === 'requerimientos'">Requerimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="usuario !== null" tab="mis-favoritos" class="tab-button-principal" (click)="solicitudes()" style="--color-selected: #fa4f72">
      <ion-icon class="icon" *ngIf="activedPage === 'favoritos'" src="../../../assets/icons/IconosTabs/Favoritos.svg"></ion-icon>
      <ion-icon class="ion-margin-top" *ngIf="activedPage !== 'favoritos'" src="../../../assets/icons/IconosTabs/Favoritos.svg"></ion-icon>
      <ion-label *ngIf="activedPage !== 'favoritos'"></ion-label>
      <ion-label *ngIf="activedPage === 'favoritos'">Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="usuario === null" class="tab-button-principal" (click)="login()"
      style="--color-selected: #fa4f72" tab="login">
      <ion-icon class="icon" *ngIf="activedPage === 'perfil'" src="../../../assets/icons/IconosTabs/Perfil.svg"></ion-icon>
      <ion-icon class="ion-margin-top" *ngIf="activedPage !== 'perfil'"
        src="../../../assets/icons/IconosTabs/Perfil.svg"></ion-icon>
      <ion-label *ngIf="activedPage !== 'perfil'"></ion-label>
      <ion-label *ngIf="activedPage === 'perfil'">Usuario</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="usuario !== null" (click)="perfil()">
      <div>        
        <ion-avatar>
          <img
            src="https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg"
            [srcset]="usuario.imagen"
          />                
        </ion-avatar>
      </div>
      <ion-fab *ngIf="(notifSinLeer != 0 && notifSinLeer != undefined)">
        <p class="notif" #hayNotificaciones>{{notifSinLeer}}</p>
        <!--p class="notif" *ngIf="notifSinLeer == 0 ; else hayNotificaciones"></p>      
        <ng-template #hayNotificaciones><p class="notif" #hayNotificaciones>{{notifSinLeer}}</p></ng-template-->
      </ion-fab>      
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
