
.md ion-tab-button {
    width: 1px;
}

ion-icon.md.hydrated {
    position: fixed;
    top: 4px;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    position: fixed;
    bottom: 1px;
}

