
.md ion-tab-button {
    width: 1px;
}

ion-icon.md.hydrated {
    position: fixed;
    top: 4px;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    position: fixed;
    bottom: 1px;
}


#alphabets{
    position: fixed;
    top:0;
    right:0;
    height:100%;
    z-index:11;
    width: 50px;
    background: #eaeaea;
    padding: 10px 20px;
    line-height:24px;
}

/* ------------------------------- */
.ion_alpha_list_outer .list{
    padding-right: 15px;
}
.ion_alpha_list_outer .item{
    border-right: none;
}
.ion_alpha_sidebar{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
}
.ion_alpha_sidebar li{
    line-height: 1.1;
}

@media (min-width: 412px) {
    .tab-button-principal {
        font-size: 10px;
        
    }
    ion-img{
        width: 55px;
    }
}
