<app-toolbar-busqueda placeHolder="Buscar solicitudes..." (buscarEmit)="buscarToolbar($event)"></app-toolbar-busqueda>
<app-spinner [loader]="loader" [message]="cargando"></app-spinner>
<ion-content *ngIf="!loader">

    <ion-card *ngIf="lstSolicitudes.length <= 0 " style="background-color: red; color: white;">
      <ion-card-content>
        <strong>Lo sentimos!</strong> No hay solicitudes relacionadas con tu busqueda en <strong>{{mensaje}}</strong>...
      </ion-card-content>
    </ion-card>

    <div *ngIf="!loader && lstSolicitudes.length > 0">
      <div  style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
        <div style="width: 100%;" *ngFor="let solicitud of lstSolicitudes">
            <ion-card (click)="masInformacion(solicitud)">
              <img  src="{{(solicitud.url_imagen==null || solicitud.imagen == '')?productoDefault:solicitud.url_imagen}}" style="width: 100%;">
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <div style="text-align: center;">
                        <h2 style="color: black; font-weight: bolder;">{{ solicitud.solicitud }}</h2>
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="12">
                      <div style="text-align: justify;">
                        <h3 style="color: black;">{{ solicitud.descripcion }}</h3>
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="12">
                      <div style="text-align: center;">
                        <h3 style="color: black;">
                          Del {{solicitud.fecha_inicio_public | date:'dd-MM-yyyy' }} al  {{solicitud.fecha_fin_public | date:'dd-MM-yyyy'}}
                        </h3>
                      </div>
                    </ion-col>
                  </ion-row>

                </ion-grid>
              </ion-card-content>
            </ion-card>
        </div>
      </div>
    </div>

</ion-content>
