<ion-toolbar class="tolbar">
  <div style="display: flex">
    <ion-buttons slot="start">
      <ion-button class="blanco" (click)="verSolicitudes()">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Requerimientos</ion-title>
    <app-toolbar-busqueda
      [placeHolder]="lstSolicitudes.length <= 0 ? 'Buscar requerimientos en ' + plazaAfiliacion.nombre : 'Buscar requerimientos de compra' "
      (buscarEmit)="buscarToolbar($event)"
    ></app-toolbar-busqueda>
  </div>
</ion-toolbar>

<!-- <app-toolbar-busqueda placeHolder="Buscar requerimientos de compra..." (buscarEmit)="buscarToolbar($event)">
</app-toolbar-busqueda> -->
<app-spinner [loader]="loader" [message]="cargando"></app-spinner>
<ion-content *ngIf="!loader">
  <!-- <ion-card-content>
      <strong>Lo sentimos!</strong> No hay requerimientos de compra relacionadas
      con tu busqueda en <strong>{{mensaje}}</strong>...
    </ion-card-content> -->
  <div
    *ngIf="lstSolicitudes.length <= 0"
    style="background-color: #3c3c3c; color: white; font-size: small"
    class="ion-text-center"
  >
    <p style="padding-inline: 5%">
      ESTE ES UN ESPACIO CREADO EXCLUSIVAMENTE PARA
      <img style="width: 25px; margin-top: 2%" src="{{plazaAfiliacion.icon}}" />
      {{plazaAfiliacion.nombre}}
    </p>
  </div>
  <ion-grid *ngIf="lstSolicitudes.length <= 0">
    <ion-text color="primary">
      <h2>
        No se encontraron requerimientos de compra relacionados en
        {{plazaAfiliacion.nombre}}
      </h2>
    </ion-text>
  </ion-grid>

  <div *ngIf="!loader && lstSolicitudes.length > 0">
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      "
    >
      <div style="width: 100%" *ngFor="let solicitud of lstSolicitudes">
        <ion-card (click)="masInformacion(solicitud)">
          <img
            src="{{(solicitud.url_imagen==null || solicitud.imagen == '')?productoDefault:solicitud.url_imagen}}"
            style="width: 100%"
          />
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <div style="text-align: center">
                    <h2 style="color: black; font-weight: bolder">
                      {{ solicitud.solicitud }}
                    </h2>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <div style="text-align: justify">
                    <h3 style="color: black">{{ solicitud.descripcion }}</h3>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <div style="text-align: center">
                    <h3 style="color: black" *ngIf="isIos; else androidView">
                      Del {{solicitud.fecha_inicio_public }} al
                      {{solicitud.fecha_fin_public}}
                    </h3>
                    <ng-template #androidView>
                      <h3 style="color: black">
                        Del {{solicitud.fecha_inicio_public | date:'dd-MM-yyyy'
                        }} al {{solicitud.fecha_fin_public | date:'dd-MM-yyyy'}}
                      </h3>
                    </ng-template>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
