<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons (click)="back()" slot="start">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-justify-content-center ion-text-center ion-align-items-center">
      <img width="150" height="150" src="https://ecoevents.blob.core.windows.net/comprandoando/logos%2Flogo%201.0.png">
  </div>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario.usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
  <ion-button class="ion-margin-top" expand="block" (click)="doLogin()">Iniciar sesión</ion-button>
  <ion-button class="ion-margin-top" expand="block" (click)="registratePersona()">Regístrate</ion-button>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <a (click)="recuerarContrasenia()" >Olvidé mi contraseña</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
