<ion-header>
  <ion-toolbar class="tol-bar">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<app-spinner [loader]="loader" [message]="textInitSession"></app-spinner>

<ion-content class="ion-padding" *ngIf="!loader">
  <div class="ion-justify-content-center ion-text-center ion-align-items-center">
      <img alt="Logo" width="150" height="150" src="https://ecoevents.blob.core.windows.net/comprandoando/logos%2Flogo%201.0.png">
  </div>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario.usuario" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password" required></ion-input>
  </ion-item>
  <ion-button class="ion-margin-top" expand="block" (click)="loginCommon()">Iniciar sesión</ion-button>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <a (click)="recoverPassword()" >Olvidé mi contraseña</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-login-social-networks (responseLogin)="responseOptions($event)" > </app-login-social-networks>

  <ion-item class="bg-gris" lines="none">
    <ion-label>No estas Registrado? <a (click)="toRegister()">Registrate Aquí!</a></ion-label>
    </ion-item>
</ion-content>
