<ion-header translucent>
  <ion-toolbar class="tolbar">
    <ion-title>Información</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen >
      <div style="display: flex; justify-content: center; align-items: center;">
        <h2>Quien vio tu publicación</h2>
      </div>
      <div *ngIf="numeroVisto === 0">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: flex; justify-content: center; align-items: center; color: red;">
          <span *ngIf="lstQuienVioPublicacionActiva"><strong>Lo sentimos!</strong> Aún no ven tu publicación.</span>
          <span *ngIf="!lstQuienVioPublicacionActiva"><strong>Lo sentimos!</strong> Tú publicación no fue vista.</span>
        </div>
      </div>
      <div *ngIf="!btnLoaderModal">
        <ion-list>
          <ion-item *ngFor="let quien of lstQuienVioPublicacion; index as index">
            <ion-label class="ion-text-wrap">
              <p><strong>No.</strong> {{ index + 1 }}</p>
              <p><strong>Nombre: </strong> {{ quien.nombre }}</p>
              <p><strong>Última vista: </strong> {{quien.fecha}}</p>
            </ion-label>       
          </ion-item>
        </ion-list>
        <div style="display:flex; justify-content: center;" *ngIf="numeroVisto !== undefined">
          <p><strong>Visto: </strong> {{numeroVisto}} <strong>veces</strong> </p>
        </div>
      </div>

  <div *ngIf="lstPromocionesSolicitadas.length !== 0">
      <div style="display: flex; justify-content: center; align-items: center;">
        <h2>Validación de promociones</h2>
      </div>
      <!-- <div *ngIf="lstPromocionesSolicitadas.length === 0">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: flex; justify-content: center; align-items: center; color: red;">
          <span><strong>Lo sentimos!</strong> Aún no ven tu promoción.</span>
        </div>
      </div> -->
    <div>

      <div *ngIf="lstPromocionesSolicitadas.length !== 0">
        <ion-grid>
          <ion-row *ngFor="let lsts of lstPromocionesSolicitadas; index as index">
            <ion-col size="7" size-lg>
              <div><strong>No.</strong></div>
              <div><strong>Nombre:</strong></div>
              <div><strong>Solicitado:</strong>
                <p class="espacio">         </p>
              </div>
              <div><strong>Fecha de solicitud
                   de cupón:</strong></div>
              <div><strong>Validado:</strong>
                <p class="espacio">         </p>
              </div>
              <div><strong>Fecha de validación:</strong></div>
              <div><strong>No aplicado:</strong>
                <p class="espacio">         </p>
              </div>
            </ion-col>
            <ion-col>
              <div>{{ index + 1 }}</div>
              <div>{{ lsts.nombresolicitante }} {{ lsts.paternosolicitante }}</div>
              <div>
                <ion-label>
                  <ion-checkbox color="danger" [checked]="true" (click)="dejar(lsts.id_cupon_promocion,1)" [value]="1" id="1" name="hola" disabled></ion-checkbox>
                </ion-label>
              </div>
              <div><ion-label>{{ lsts.fc_solicitud}}</ion-label>
              </div>
              <div>
                <ion-checkbox color="danger" [checked]="lsts.id_estatus_cupon === 2" (click)="dejar(lsts.id_cupon_promocion,2)" [value]="2"  id="2" name="hola"></ion-checkbox>
              </div>
              <div>
                <div *ngIf="lsts.fc_aplicacion === null">
                  <div>No validado</div>
                </div>
                <div *ngIf="lsts.fc_aplicacion !== null"></div>
                  <div>{{ lsts.fc_aplicacion}}</div>
                </div>
              <div>
                <ion-checkbox color="danger" [checked]="lsts.id_estatus_cupon === 3" (click)="dejar(lsts.id_cupon_promocion,3)" [value]="3"  id="3" name="hola"></ion-checkbox>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
