<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/mis-experiencias-turisticas" icon="arrow-back-outline" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Formulario Experiencias</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <app-spinner [loader]="loader" [message]="msj" *ngIf="loader"></app-spinner>
  <div class="eventoContenido" *ngIf="!loader">

    <form class="eventoForm" [formGroup]="experienciasForm">
  
      <div>
        <ion-item class="slider">
          <ion-slides [options]="slideOpts" style="width: 500px;">
      
            <!------------For para mostrar fotos que se editen---------->
            <ng-container *ngFor="let foto of fotografiasArray; let i = index">
              <ion-slide *ngIf="foto.url_imagen !== null">
                <ion-card>
                  <img src="{{foto.url_imagen}}" />
                  <ion-label (click)="borrarFotoEdit(i)" class="borrar-botom" type="buttom">Borrar Imagen</ion-label>
                </ion-card>
              </ion-slide>
            </ng-container>
      
            <!------------For para mostrar vdieos que se editen---------->
            <ng-container *ngFor="let foto of videosArray; let i = index">
              <ion-slide *ngIf="foto.url_video !== null">
                <ion-card>
                  <video controls autoplay *ngIf="(foto.url_video !== null && foto.url_video !== '')" width="100%"
                    height="180">
                    <source type="video/mp4" src="{{foto.url_video}}">
                  </video>
                  <ion-label (click)="borrarVideoEdit(i)" class="borrar-botom" type="buttom">Borrar Video</ion-label>
                </ion-card>
              </ion-slide>
            </ng-container>
      
            <!------------For para mostrar fotos que se suben---------->
            <ng-container *ngFor="let foto of fotosArrayAgregar; let i = index">
              <ion-slide *ngIf="foto.url_imagen !== null">
                <ion-card>
                  <img *ngIf="(foto.archivo_64 != null || foto.archivo_64 != '')" src="{{foto.archivo_64}}">
                  <ion-label (click)="borrarFoto(i)" class="borrar-botom" type="buttom">Borrar Imagen</ion-label>
                </ion-card>
              </ion-slide>
            </ng-container>
      
            <!------------For para mostrar videos que se suben---------->
            <ion-slide *ngFor="let foto of videosArrayAgregar; let i = index">
              <ion-card>
                <video controls autoplay *ngIf="(foto.archivo_64 !== null && foto.archivo_64 !== '')" width="100%"
                  height="180">
                  <source type="video/mp4" src="{{foto.archivo_64}}">
                </video>
                <ion-label (click)="borrarVideo(i)" class="borrar-botom" type="buttom">Borrar Video</ion-label>
              </ion-card>
            </ion-slide>
      
      
            <!---------Agregar Imagen---------->
            <ion-slide style="height:100%; margin-bottom: 5px;" *ngIf="galeriaFull != true">
              <ion-card>
                <ion-icon name="image" role="img" class="md hydrated size-icon" aria-label="image"></ion-icon>
                <label class="custom-file-input">
                  <!-- <input *ngIf="elseBlock" type="file" #fileInput id="imagen-producto-uno"
                               accept="image/*" (click)="fileInput.value = null" (change)="agregarFoto($event)" /> -->
                  <div class="custom-file-input" style="height: 100%; width: 100%; position: relative; z-index: 1;"
                    *ngIf="elseBlock" d="imagen-producto-uno" (click)="obtenerImg()">Este es mi boton</div>
                  <ng-template #elseBlock>
                    <!-- <input (click)="agregarFoto($event)" /> -->
                  </ng-template>
                </label>
              </ion-card>
            </ion-slide>
      
            <!-----------Agregar Video---------->
            <ion-slide style="height:100%; margin-bottom: 5px;" *ngIf="galeriaFull != true">
              <ion-card>
                <ion-icon name="videocam-outline" role="img" class="md hydrated size-icon" aria-label="image"></ion-icon>
                <label class="custom-video-input">
                  <!-- <input *ngIf="elseBlock" type="file" #fileInput accept="video/mp4" id="video"
                        (click)="fileInput.value = null" (change)="seleccionarVideo($event)" /> -->
      
                  <div class="custom-video-input" style="height: 100%; width: 100%; position: relative; z-index: 1;"
                    *ngIf="elseBlock" d="imagen-producto-uno" (click)="obtenerVideo()">Este es mi boton</div>
      
                  <ng-template #elseBlock>
                    <!-- <input (click)="seleccionarVideo($event)" /> -->
                  </ng-template>
                </label>
              </ion-card>
            </ion-slide>
          </ion-slides>
      
        </ion-item>
      </div>
      <p *ngIf="mensaje !== null && bandera" style="text-align: center; color: #ff4154">{{mensaje}}</p>
      <ion-item>
        <ion-label>Activo</ion-label>
        <ion-toggle slot="end" name="activo" formControlName="activo" (ionChange)="verificarActivo($event, true)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Requiere confirmación</ion-label>
        <ion-toggle slot="end" name="confirmacion" formControlName="requiere_confirmacion"
          (ionChange)="verificarActivo($event, false)"></ion-toggle>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input formControlName="titulo_experiencia" type="text"></ion-input>
      </ion-item>
      <ion-text class="alertaColor" *ngIf="experienciasForm.get('titulo_experiencia').hasError('maxlength')">
        Has llegado al límite de 50 caracteres.
      </ion-text>
  
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input formControlName="descripcion_experiencia" type="text"></ion-input>
      </ion-item>
      <ion-text class="alertaColor" *ngIf="experienciasForm.get('descripcion_experiencia').hasError('maxlength')">
        Has llegado al límite de 100 caracteres.
      </ion-text>

      <ion-item>
        <ion-label class="wdht">Asociar negocio<span class="requerido">*</span></ion-label>
        <ion-select class="bg" id="id_negocio" name="id_negocio" justify="end" label="End" placeholder="Asociar negocio"
          formControlName="id_negocio" required>
          <ion-select-option *ngFor="let negocio of lstNegocios"
            [value]="negocio.id_negocio">{{negocio.nombre_comercial}}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <!--Esta seccion esta pensada para la nueva implementacion del formularios dividos-->
      <app-ubicacion-formulario [datosUbicacion]="datosExperiencias" (enviarUbicacion)="asignarUbicacion($event)"></app-ubicacion-formulario>
      
      <!--Esta seccion es para la seguna parde del formulario-->
  

      <ion-item>
        <ion-label class="wdht">Frecuencia<span class="requerido">*</span></ion-label>
        <ion-select class="bg" name="id_tipo_recurrencia" justify="end" label="End" placeholder="Frecuencia"
          formControlName="id_tipo_recurrencia_experiencia" (ionChange)="tipoFrecuencia($event)">
          <ion-select-option *ngFor="let recu of recurrencia"
            [value]="recu.id_tipo_recurrencia_experiencia">{{recu.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item id="open-modal-date-eventos" [ngStyle]="{'display': vistaFecha == 'none'? 'none' : 'initial'}">
        <ion-label class="wdht">Fecha<span class="requerido">*</span></ion-label>
        <div class="bg">
          <label position="stacked" *ngIf="!experienciasForm.get('fecha_inicio_experiencia').value">Seleccione...</label>
          <label position="stacked" *ngIf="experienciasForm.get('fecha_inicio_experiencia').value">{{experienciasForm.get('fecha_inicio_experiencia').value | date:
            'dd/MM/yyyy'}} </label>
        </div>
      </ion-item>
      <ion-modal trigger="open-modal-date-eventos">
        <ng-template>
          <ion-content>
            <ion-datetime name="fecha" presentation="date" [showDefaultButtons]="true" doneText="Ok"
              cancelText="Cancelar" (ionChange)="selectFechaEvento($event)">
              <!-- <span slot="time-label">Hora:</span> -->
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
      
      <ion-item [ngStyle]="{'display': vistaDias == 'none' ? 'none' : 'initial'}">
        <ion-label class="wdht">Dias<span class="requerido">*</span></ion-label>
        <ion-select class="bg" formControlName="dias" multiple="true" placeholder="Seleccione los dias de la semana">
          <ion-select-option value="Domingo">Todos los Domingo</ion-select-option>
          <ion-select-option value="Lunes">Todos los Lunes</ion-select-option>
          <ion-select-option value="Martes">Todos los Martes</ion-select-option>
          <ion-select-option value="Miercoles">Todos los Miercoles</ion-select-option>
          <ion-select-option value="Jueves">Todos los Jueves</ion-select-option>
          <ion-select-option value="Viernes">Todos los Viernes</ion-select-option>
          <ion-select-option value="Sabado">Todos los Sabado</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item id="abrirModalHora" [ngStyle]="{'display': vistaDias == 'initial'|| vistaFecha == 'initial'? 'initial ': 'none'}">
        <ion-label class="wdht">Hora del evento<span class="requerido">*</span></ion-label>
        <div class="bg">
          <label position="stacked" *ngIf="!experienciasForm.get('hora_inicio_experiencia').value">Seleccione...</label>
          <label position="stacked" *ngIf="experienciasForm.get('hora_inicio_experiencia').value">{{experienciasForm.get('hora_inicio_experiencia').value}}hrs </label>
        </div>
      </ion-item>
      
      <ion-modal trigger="abrirModalHora">
        <ng-template>
          <ion-content>
            <ion-datetime [showDefaultButtons]="true" presentation="time"
              (ionChange)="seleccionarHora($event)"></ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
      
      <ion-item>
        <ion-label class="wdht">Tipo de Experiencia<span class="requerido">*</span></ion-label>
        <ion-input type="text" class="bg ion-padding" label="End" placeholder="Tipo de evento" formControlName="tipo_experiencia" maxlength="51"></ion-input>
      </ion-item>
      <ion-text class="alertaColor" *ngIf="experienciasForm.get('tipo_experiencia').hasError('maxlength')">
        Has llegado al límite de 50 caracteres.
      </ion-text>
  
      <ion-item>
        <ion-label class="wdht">Número de teléfono<span class="requerido">*</span></ion-label>
        <ion-input class="bg ion-padding" type="tel" name="telefono" label="End" placeholder="Número de teléfono"
          formControlName="telefono_experiencia"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label class="wdht">Métodos de pago<span class="requerido">*</span></ion-label>
        <ion-select class="bg" name="tipo_pago_efectivo" multiple="true" justify="end" label="End"
          placeholder="Método de pago" formControlName="metodosPago" (ionChange)="onPagoSeleccionado($event)">
          <ion-select-option *ngFor="let pago of tipoPago" [value]="pago.id">{{pago.tipo}}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item *ngIf="!loader">
        <app-input-tags [tipo]="false" [tags]="experienciasForm.get('tags_experiencia').value" (_enviarTags)="agregarTags($event)"></app-input-tags>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label>Productos</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div style="width: 100%;">
              <ion-button (click)="agregarProducto(null,null)" style="width: 100%;" class="bg-naranja">Agregar</ion-button>
            </div>
      
            <ion-item *ngIf="!experienciasForm.get('conceptos').value">NO se encuentro productos</ion-item>
            <ion-list *ngIf="experienciasForm.get('conceptos').value">
              <ion-item *ngFor="let producto of experienciasForm.get('conceptos').value; let i = index">
                <ion-avatar slot="start">
                  <ion-img [src]="!producto.url_imagen ? producto.fotografia[0].archivo_64 : producto.url_imagen"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{producto.concepto}}</h2>
                  <p>Disponibles: {{producto.cantidad_disponibles}}</p>
                </ion-label>
                <ion-label slot="end" class="editEliminar">
                  <ion-button color="warning" (click)="agregarProducto(producto,i)"><ion-icon name="create-outline"></ion-icon></ion-button>
                  <ion-button color="danger" (click)="eliminarProducto(i)"><ion-icon name="trash-outline"></ion-icon></ion-button>
                </ion-label>
              </ion-item>
      
            </ion-list>
      
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <!-- <ion-button type="button" style="width: 100%;" class="bg-naranja" (click)="validarFormulario()">Validar</ion-button> -->
      <ion-button type="button" style="width: 100%;" class="bg-naranja" [disabled]="experienciasForm.valid && sihayImg ? false: true" (click)="guardarExperiencia()">Guardar</ion-button>

    </form>
  </div>


</ion-content>
