<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title>fermulario-experiencias</ion-title>
  </ion-toolbar>
</ion-header>

<app-spinner [loader]="loader" [message]="msj" *ngIf="loader"></app-spinner>

<ion-content>

  <form [formGroup]="experienciasForm">
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input formControlName="titulo_experiencia" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="descripcion_experiencia" type="text"></ion-input>
    </ion-item>

    <!--Esta seccion esta pensada para la nueva implementacion del formularios dividos-->

    

  </form>

</ion-content>
