<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title > <span *ngIf="nuevoSP == 2"> Nuevo </span>
      <span *ngIf="iden== 1 ">
        Producto
      </span>
      <span *ngIf="iden== 2 " >
        Servicio
      </span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()" class="blanco">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<ion-card-header>
  <ion-list lines="none">
    <ion-item>
      <div class="form-group">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' hidden id="imageUpload" accept="image/*"  />
                <!--(change)="subirArchivo($event,3)"-->
                <label for="imageUpload">
                  <ion-icon name="camera-outline" style="position: relative; top: 7px;"></ion-icon>
                </label>
            </div>
            <div class="avatar-preview">
              <!--
              <div *ngIf="negocioTO.url_logo === null || negocioTO.url_logo === undefined" id="imageUpload" [ngStyle]="negocioTO.url_logo !== null ?
                {'background-image': 'url('+negocioTO.url_logo+')'} : ''">
                </div>
                <div *ngIf="negocioTO.url_logo !== null && negocioTO.url_logo !== undefined" [ngStyle]="{
             'background-image': 'url('+negocioTO.url_logo.archivo_64+')'}">
                </div>
                -->  
            </div>
            <label for="imageUpload"></label>
        </div>
    </div>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Nombre :</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio :</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Existencia</ion-label>
      <ion-toggle  name="blueberry" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción :</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" type="submit" *ngIf="nuevoSP == 2" class="bg-rosa"> Guardar </ion-button>
  <ion-button expand="block" type="submit" *ngIf="nuevoSP == 3" class="bg-rosa" >Actualizar</ion-button>
</ion-card-header>
  </ion-card>
  

  
</ion-content>
