<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crea tu Cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<app-spinner [loader]="loader" [message]="msj"></app-spinner>
<ion-content *ngIf="!loader">
  <ion-card>
    <ion-card-header>
      <div class="ion-text-center">
        <label>Puedes crear tu cuenta usando tus redes sociales</label>
        <br>
        <ion-item lines="none">
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <ion-avatar (click)="loginFacebook()">
                  <img src="../../../assets/images/cambiar/facebook.png">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-avatar (click)="loginGoogle()">
                  <img src="../../../assets/images/google.png">
                </ion-avatar>
              </ion-col>
              <ion-col *ngIf="isIOS">
                <ion-avatar (click)="loginAppleId()">
                  <img src="../../../assets/images/apple.png">
                </ion-avatar>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <label>- O -</label>
        <br>
        <label>Puedes usar tu número de celular para crear tu cuenta
          Los campos con <span style="color: red;">*</span> son obligatorios</label>
      </div>
      <form #formRegistroPersona="ngForm" (ngSubmit)="confirmacionRegistro(formRegistroPersona)">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nombre<span style="color: red;">*</span></ion-label>
            <ion-input id="nombre_admin" type="text" name="Nombre" #nombre="ngModel"
              [(ngModel)]="usuario_sistema.ms_persona.nombre" required placeholder="Nombre"></ion-input>
          </ion-item>
          <div *ngIf="nombre.touched  && nombre.invalid" class="alert">
            <div *ngIf="nombre.errors.required">El nombre es requerido</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Apellido Paterno<span style="color: red;">*</span></ion-label>
            <ion-input id="paterno_admin" type="text" name="paterno" placeholder="Apellido Paterno" #paterno="ngModel"
              [(ngModel)]="usuario_sistema.ms_persona.paterno" required></ion-input>
          </ion-item>
          <div *ngIf="paterno.touched  && paterno.invalid" class="alert">
            <div *ngIf="paterno.errors.required">El apellido paterno es requerido</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Apellido Materno<span style="color: red;">*</span></ion-label>
            <ion-input id="materno_admin" type="text" name="materno" placeholder="Apellido Materno" #materno="ngModel"
              [(ngModel)]="usuario_sistema.ms_persona.materno" required></ion-input>
          </ion-item>
          <div *ngIf="materno.touched  && materno.invalid" class="alert">
            <div *ngIf="materno.errors.required">El apellido materno es requerido</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Correo <span *ngIf="blnCorreo" style="color: red;">*</span></ion-label>
            <ion-input id="correo" type="email" name="correo" placeholder="usuario@dominio.com" #correo="ngModel"
              [(ngModel)]="usuario_sistema.ms_persona.correo" [required]="blnCorreo"
              (ngModelChange)="obtenerCorreo($event)"></ion-input>
          </ion-item>
          <div *ngIf="correo.invalid" class="alert">
            <div>El correo es requerido</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Número Celular<span *ngIf="blnTelefono" style="color: red;">*</span></ion-label>
            <ion-input id="telefono_admin" type="text" maxlength='10' name="telefono_admin" placeholder="Número Celular"
              #telefono_admin="ngModel" [(ngModel)]="usuario_sistema.ms_persona.telefono_celular"
              [required]="blnTelefono" (ngModelChange)="obtenerNumeroCelular($event)"></ion-input>
          </ion-item>
          <div *ngIf="telefono_admin.invalid" class="alert">
            <div>El télefono es requerido</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Contraseña<span style="color: red;">*</span></ion-label>
            <ion-input (ionChange)="verificarContrasena()" id="password_admin" type="password" name="password"
              placeholder="Contraseña" #password="ngModel" [(ngModel)]="usuario_sistema.password" required></ion-input>
          </ion-item>
          <div *ngIf="password.touched  && password.invalid" class="alert">
            <div *ngIf="password.errors.required">La contraseña es requerido</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Repetir Contraseña<span style="color: red;">*</span></ion-label>
            <ion-input (ionChange)="verificarContrasena()" id="repeat_password_admin" type="password"
              name="repeat_password" placeholder="Repetir Contraseña" #repeat_password="ngModel"
              [(ngModel)]="usuario_sistema.repeat_password" required></ion-input>
          </ion-item>
          <div *ngIf="repeat_password.touched  && repeat_password.invalid" class="alert">
            <div *ngIf="repeat_password.errors.required">La contraseña es requerido</div>
          </div>
          <span *ngIf="!blnContraseniaIgual">
            las contraseñas no coinciden
          </span>
          <ion-item>
            <ion-checkbox slot="start" name="terminos" (ionChange)="aceptar_condiciones_servicio($event)"
              [(ngModel)]="condiciones_servicio"></ion-checkbox>
            <label class="ion-text-center">Aceptar términos y condiciones</label>
            <ion-button slot="end" (click)="abrirTerminosCondiciones()">
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <div class="ion-text-center">
              <label>Al dar clic en siguiente recibirás un {{message}} de bienvenida a Bitoo</label>
            </div>
          </ion-item>
        </ion-list>
        <ion-button expand="block" type="submit" class="bg-rosa" (click)="confirmacionRegistro()"
          [disabled]="!condiciones_servicio || !blnContraseniaIgual || formRegistroPersona.invalid">Siguiente
        </ion-button>
      </form>
    </ion-card-header>
  </ion-card>
</ion-content>
