<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start" text="">
      <ion-back-button defaultHref="tabs/home/solicitudes" text=''></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="actualTO.id_persona_solicitud === null || actualTO.id_persona_solicitud === undefined">Agregar</span>
      <span *ngIf="actualTO.id_persona_solicitud !== null && actualTO.id_persona_solicitud !== undefined">Modificar</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="position: fixed;">
<ion-card style="margin-bottom: 15%;">
 <ion-card-content>
    <form #formVariable="ngForm" class="form-horizontal" (ngSubmit)="guardar(formVariable)">
     <ion-list>
      <ion-item>
       <ion-label position="stacked">¿Qué esta buscando o solicitando?</ion-label>
        <ion-input id="idCompNombre" name="idCompNombre" #compSolicitud="ngModel" [(ngModel)]="actualTO.solicitud" required></ion-input>
      </ion-item>
      <div *ngIf="compSolicitud.touched  && compSolicitud.invalid" class="alert">
        <div *ngIf="compSolicitud.errors.required">Agregue nombre de su solicitud</div>
      </div>
      <ion-item>
        <ion-label position="stacked">Escriba las palabras (tags) que describen a lo que busca:</ion-label>
         <app-input-tags [tags]="actualTO.tags" (_enviarTags)="agregarTags($event)"></app-input-tags>
        </ion-item>
       <ion-item>
        <ion-label position="stacked">Descripción:</ion-label>
         <ion-input id="descipcion"  name="descipcion" type="text"  #compValor="ngModel" [(ngModel)]="actualTO.descripcion" required></ion-input>
       </ion-item>
       <div *ngIf="compValor.touched  && compValor.invalid" class="alert">
        <div *ngIf="compValor.errors.required">Agregue una descripción de su promoción</div>
      </div>
      <br>
       <ion-label >Los siguientes campos ayudarán a que puedan contactarte</ion-label >
       <ion-item>
        <ion-label position="stacked">Número de celular:</ion-label>
         <ion-input id="idCompTelefono" name="idCompTelefono" type="tel" #compTelefono="ngModel" [(ngModel)]="actualTO.telefono" required></ion-input>
       </ion-item>
       <div *ngIf="compTelefono.touched  && compTelefono.invalid" class="alert">
        <div *ngIf="compTelefono.errors.required">Agregue un número de celular</div>
      </div>
       <ion-item>
        <ion-label position="stacked">Correo electrónico</ion-label>
         <ion-input id="idCompCorreo" name="idCompCorreo" type="email" #compCorreo="ngModel" [(ngModel)]="actualTO.correo" required></ion-input>
       </ion-item>
       <div *ngIf="compCorreo.touched  && compCorreo.invalid" class="alert">
        <div *ngIf="compCorreo.errors.required">Agregue un correo electrónico</div>
      </div>
      <br>
       <span>¿Para qué lugar es esta solicitud?</span>
       <ion-item>
        <ion-label position="stacked">Estado</ion-label>
        <ion-select [disabled]="btnEstado" ok-text="Ok" cancel-text="Cancelar" name="estado" required #compEstado="ngModel" [(ngModel)]="actualTO.det_domicilio.id_estado"
        #compEstado="ngModel" [(ngModel)]="actualTO.det_domicilio.id_estado"
                        (ionChange)="get_list_cat_municipio($event)">
          <ion-select-option *ngFor="let e of list_cat_estado" [value]="e.id_estado">{{e.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="compEstado.invalid" class="alert">
        <div>Seleccione un Estado</div>
      </div>
      <ion-item>
        <ion-label position="stacked">Municipio</ion-label>
        <ion-select [disabled]="btnMuncipio" ok-text="Ok" cancel-text="Cancelar" name="municipio" required #compMunicipio="ngModel" [(ngModel)]="actualTO.det_domicilio.id_municipio"
        (ionChange)="get_list_cat_localidad($event)">
          <ion-select-option *ngFor="let mun of list_cat_municipio" [value]="mun.id_municipio">
            {{mun.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="compMunicipio.invalid" class="alert">
        <div>Seleccione un Municipio</div>
      </div>
      <ion-item>
        <ion-label position="stacked">Localidad</ion-label>
        <ion-select [disabled]="btnLocalidad" ok-text="Ok" cancel-text="Cancelar" name="localidad" required  #compLocalidad="ngModel" [(ngModel)]="actualTO.det_domicilio.id_localidad">
          <ion-select-option *ngFor="let loc of list_cat_localidad" [value]="loc.id_localidad"> {{loc.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="compLocalidad.invalid" class="alert">
        <div>Seleccione una Localidad</div>
      </div> 
      <br>
      <ion-label>Selecciona una ubicación<span style="color: red">*</span>:</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div id="mapId" style="height:200px;"></div>
          </ion-col>
        </ion-row>
        <ion-button size="small" class="bg-rosa" type="button"(click)="localizacionTiempo(1)">
          <ion-icon name="navigate-circle-outline"></ion-icon>
          Ubicación Actual
        </ion-button>
      </ion-grid>
      <ion-label class="ion-text-center">Imagen de lo que buscas o solicitas:</ion-label> 
      <br>
      <ion-label class="ion-text-center">Puedes subir tu imagen o crearla con nuestro editor. Recuerda que las medidas son 200 x 200 pixeles.</ion-label >
      <ion-item class="ion-text-center" *ngIf="blnImgCuadrada">
        <div  class="punteado" data-toggle="tooltip" data-placement="right" title="Agregar una imagen relacionado con lo que busca o solicita (200 x 200 pixeles)">
          <div  style="margin-top: 67px;">
          </div>
        </div>
      </ion-item>
      <div *ngIf="!blnImgCuadrada">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div class="contenido">
              <img style="width: 200px;" class="image" *ngIf="actualTO.imagen !== undefined" src="{{actualTO.imagen.archivo_64}}" alt="Falla al cargar imagen" width="200" height="200">
              <img style="width: 200px;" class="image" *ngIf="actualTO.url_imagen !== undefined && actualTO.imagen === undefined" src="{{actualTO.url_imagen}}" alt="Falla al cargar imagen" width="200" height="200">
          </div>
        </div>
      </div>
      <div  class="avatar-upload">
        <div class="avatar-edit">
        <input #inputTarjeta id="cuadrado" type="file"  accept="image/*" name="img_promo" (change)="subir_imagen_cuadrada($event)"  required>
        <label for="cuadrado">
          <ion-icon name="camera-outline" style="position: relative; top: 7px; font-size: 18px; color: black;"></ion-icon>
        </label>
        </div>
      </div>
     </ion-list>
     <ion-button  expand="block" type="submit" class="bg-rosa" [disabled]="formVariable.invalid" >
      <span *ngIf="actualTO.id_persona_solicitud === null || actualTO.id_persona_solicitud === undefined">Guardar</span>
      <span *ngIf="actualTO.id_persona_solicitud !== null && actualTO.id_persona_solicitud !== undefined">Actualizar</span>
     </ion-button>
    </form>
  </ion-card-content>
</ion-card>
</ion-content>


