<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start" text="">
      <ion-back-button
        defaultHref="tabs/home/solicitudes"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span
        *ngIf="actualTO.id_persona_solicitud === null || actualTO.id_persona_solicitud === undefined"
        >Agregar</span
      >
      <span
        *ngIf="actualTO.id_persona_solicitud !== null && actualTO.id_persona_solicitud !== undefined"
        >Modificar</span
      >
    </ion-title>
  </ion-toolbar>
</ion-header>

<app-spinner [loader]="loader" [message]="cargando"></app-spinner>
<ion-content *ngIf="!loader">
  <ion-card style="margin-bottom: 15%">
    <ion-card-content>
      <ion-label color="dark" class="ion-justify-content-evenly"
            ><strong>**</strong> Solicitar la contratación de servicios o la adquisición de materiales de almacén o materiales de consumo.<strong>**</strong> 
      </ion-label>
      <form
        #formVariable="ngForm"
        class="form-horizontal"
        (ngSubmit)="guardar(formVariable)"
      >
        <ion-list>
          <ion-item>
            <ion-label position="stacked"
              >¿Qué esta buscando o requiriendo?</ion-label
            >
            <ion-input
              id="idCompNombre"
              name="idCompNombre"
              #compSolicitud="ngModel"
              [(ngModel)]="actualTO.solicitud"
              required
            ></ion-input>
          </ion-item>
          <div
            *ngIf="compSolicitud.touched  && compSolicitud.invalid"
            class="alert"
          >
            <div *ngIf="compSolicitud.errors.required">
              Agregue nombre de su requerimiento de compra
            </div>
          </div>
          <ion-item>
            <ion-label position="stacked"
              >Escriba las palabras (tags) que describen a lo que
              busca:</ion-label
            >
            <app-input-tags
              [tags]="actualTO.tags"
              (_enviarTags)="agregarTags($event)"
            ></app-input-tags>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"
              >Los siguientes campos ayudarán a clasificar y que encuentren tu
              requerimiento de compra más rapido.
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Tipo de Negocio</ion-label>
            <ion-select
              placeholder="{{ tipoNegoAux }}"
              name="idtipoNegocio"
              required
              #tipoNegocio="ngModel"
              [(ngModel)]="actualTO.id_tipo_negocio"
              ok-text="Ok"
              cancel-text="Cancelar"
              (ionChange)="categoriaPrincipal($event)"
            >
              <ng-container *ngFor="let item of listTipoNegocio">
                <ion-select-option [value]="item.id_tipo_negocio"
                  >{{item.nombre}}</ion-select-option
                >
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="tipoNegocio.invalid" class="alert">
            <div>Seleccione un tipo negocio</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Negocio</ion-label>
            <ion-select
              placeholder="{{ negoAux }}"
              name="idNegocio"
              required
              #idNegocio="ngModel"
              [(ngModel)]="actualTO.id_negocio"
              ok-text="Ok"
              cancel-text="Cancelar"
            >
              <ng-container *ngFor="let item of listMiNegocio">
                <ion-select-option *ngIf="item.activo !=0 && item.activo != '0'" [value]="item.id_negocio"
                  >{{item.nombre_comercial}}</ion-select-option
                >
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="tipoNegocio.invalid" class="alert">
            <div>Seleccione un negocio</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Categoría</ion-label>
            <ion-select
              placeholder="{{ tipoGiroAux }}"
              name="idtipoGiro"
              required
              #tipoGiro="ngModel"
              ok-text="Ok"
              cancel-text="Cancelar"
              [(ngModel)]="actualTO.id_giro"
              (ionChange)="subcategorias($event)"
            >
              <ng-container *ngFor="let item of listCategorias">
                <ion-select-option [value]="item.id_giro"
                  >{{item.nombre}}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="tipoGiro.invalid" class="alert">
            <div>Seleccione un tipo categoria</div>
          </div>
          <ion-item>
            <ion-label position="stacked">SubCategoría</ion-label>
            <ion-select
              placeholder="{{ tipoSubAux }}"
              name="idtipoSubCategorias"
              required
              #tipoSubCategoria="ngModel"
              ok-text="Ok"
              cancel-text="Cancelar"
              [(ngModel)]="actualTO.id_categoria"
            >
              <ng-container *ngFor="let item of listaSubCategorias">
                <ion-select-option [value]="item.id_categoria"
                  >{{item.nombre}}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="tipoSubCategoria.invalid" class="alert">
            <div>Seleccione un tipo subcategoria</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Descripción:</ion-label>
            <ion-input
              id="descipcion"
              name="descipcion"
              type="text"
              #compValor="ngModel"
              [(ngModel)]="actualTO.descripcion"
              required
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="mostrarAfiliacion">
            <ion-label position="stacked"
              >Mostrar requerimiento de compra solo para:</ion-label
            >
            <ion-select
              placeholder="{{ tipoOrg }}"
              name="organizaciones"
              #organizaciones="ngModel"
              ok-text="Ok"
              cancel-text="Cancelar"
              [(ngModel)]="actualTO.organizaciones"
              multiple
            >
              <ng-container *ngFor="let item of lstOrganizaciones">
                <ion-select-option [value]="item.id_organizacion"
                  >{{item.nombre}}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="compValor.touched  && compValor.invalid" class="alert">
            <div *ngIf="compValor.errors.required">
              Agregue una descripción de su promoción
            </div>
          </div>
          <br />
          <ion-label
            >Los siguientes campos ayudarán a que puedan contactarte</ion-label
          >
          <ion-item>
            <ion-label position="stacked">Número de celular:</ion-label>
            <ion-input
              id="idCompTelefono"
              name="idCompTelefono"
              type="tel"
              #compTelefono="ngModel"
              [(ngModel)]="actualTO.telefono"
              required
            ></ion-input>
          </ion-item>
          <div
            *ngIf="compTelefono.touched  && compTelefono.invalid"
            class="alert"
          >
            <div *ngIf="compTelefono.errors.required">
              Agregue un número de celular
            </div>
          </div>
          <ion-item>
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input
              id="idCompCorreo"
              name="idCompCorreo"
              type="email"
              #compCorreo="ngModel"
              [(ngModel)]="actualTO.correo"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="compCorreo.touched  && compCorreo.invalid" class="alert">
            <div *ngIf="compCorreo.errors.required">
              Agregue un correo electrónico
            </div>
          </div>
          <br />
          <span>¿Para qué lugar es esta solicitud?</span>
          <ion-item>
            <ion-label position="stacked">Estado</ion-label>
            <ion-select
              [disabled]="btnEstado"
              ok-text="Ok"
              cancel-text="Cancelar"
              name="estado"
              required
              #compEstado="ngModel"
              [(ngModel)]="actualTO.det_domicilio.id_estado"
              [(ngModel)]="actualTO.det_domicilio.id_estado"
              (ionChange)="get_list_cat_municipio($event)"
              placeholder="{{ estaAux }}"
            >
              <ng-container *ngFor="let e of list_cat_estado">
                <ion-select-option [value]="e.id_estado"
                  >{{e.nombre}}</ion-select-option
                >
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="compEstado.invalid" class="alert">
            <div>Seleccione un Estado</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Municipio</ion-label>
            <ion-select
              [disabled]="btnMuncipio"
              ok-text="Ok"
              cancel-text="Cancelar"
              name="municipio"
              required
              #compMunicipio="ngModel"
              [(ngModel)]="actualTO.det_domicilio.id_municipio"
              (ionChange)="get_list_cat_localidad($event)"
              placeholder="{{ muniAux }}"
            >
              <ng-container *ngFor="let mun of list_cat_municipio">
                <ion-select-option [value]="mun.id_municipio">
                  {{mun.nombre}}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="compMunicipio.invalid" class="alert">
            <div>Seleccione un Municipio</div>
          </div>
          <ion-item>
            <ion-label position="stacked">Localidad</ion-label>
            <ion-select
              placeholder="{{ locaAux }}"
              [disabled]="btnLocalidad"
              ok-text="Ok"
              cancel-text="Cancelar"
              name="localidad"
              required
              #compLocalidad="ngModel"
              [(ngModel)]="actualTO.det_domicilio.id_localidad"
            >
              <ng-container *ngFor="let loc of list_cat_localidad">
                <ion-select-option [value]="loc.id_localidad">
                  {{loc.nombre}}</ion-select-option
                >
              </ng-container>
            </ion-select>
          </ion-item>
          <div *ngIf="compLocalidad.invalid" class="alert">
            <div>Seleccione una Localidad</div>
          </div>
          <br/>
          <ion-button
          size="small"
          class="bg-naranja"
          type="button"
          (click)="getAddress()"
        >
          <ion-icon name="navigate-circle-outline"></ion-icon>
          Buscar dirección
        </ion-button>
          <br />
          <ion-label
            >Selecciona una ubicación<span style="color: red">*</span
            >:</ion-label
          >
          <ion-grid>
            <ion-row>
              <ion-col>
                <div id="mapId" style="height: 200px"></div>
              </ion-col>
            </ion-row>
            <ion-button
              size="small"
              class="bg-naranja"
              type="button"
              (click)="localizacionTiempo(1)"
            >
              <ion-icon name="navigate-circle-outline"></ion-icon>
              Ubicación Actual
            </ion-button>
          </ion-grid>
          <ion-label class="ion-text-center"
            >Imagen de lo que buscas o solicitas:</ion-label
          >
          <br />
          <ion-label class="ion-text-center"
            >Puedes subir tu imagen o crearla con nuestro editor. Recuerda que
            las medidas son 500 x 500 pixeles.</ion-label
          >
          <ion-item class="ion-text-center" *ngIf="blnImgCuadrada">
            <div
              class="punteado"
              data-toggle="tooltip"
              data-placement="right"
              title="Agregar una imagen relacionado con lo que busca o solicita (500 x 500 pixeles)"
            >
              <div style="margin-top: 67px"></div>
            </div>
          </ion-item>
          <div *ngIf="!blnImgCuadrada">
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <div class="contenido">
                <img
                  style="width: 200px"
                  class="image"
                  *ngIf="actualTO.imagen !== undefined"
                  src="{{actualTO.imagen.archivo_64}}"
                  alt="Falla al cargar imagen"
                  width="200"
                  height="200"
                />
                <img
                  style="width: 200px"
                  class="image"
                  *ngIf="actualTO.url_imagen !== undefined && actualTO.imagen === undefined"
                  src="{{actualTO.url_imagen}}"
                  alt="Falla al cargar imagen"
                  width="200"
                  height="200"
                />
              </div>
            </div>
          </div>
          <div class="avatar-upload">
            <div class="avatar-edit">
              <input
                #inputTarjeta
                id="cuadrado"
                type="file"
                accept="image/*"
                name="img_promo"
                (change)="subir_imagen_cuadrada($event)"
                required
              />
              <label for="cuadrado">
                <ion-icon
                  name="camera-outline"
                  style="
                    position: relative;
                    top: 7px;
                    font-size: 18px;
                    color: black;
                  "
                ></ion-icon>
              </label>
            </div>
          </div>
        </ion-list>
        <ion-button
          expand="block"
          type="submit"
          class="bg-naranja"
          [disabled]="formVariable.invalid"
        >
          <span
            *ngIf="actualTO.id_persona_solicitud === null || actualTO.id_persona_solicitud === undefined"
            >Guardar</span
          >
          <span
            *ngIf="actualTO.id_persona_solicitud !== null && actualTO.id_persona_solicitud !== undefined"
            >Actualizar</span
          >
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
