.punteado {
    border-style: dashed;
    width: 200px;
    height: 200px;
    border-color: gray;
    border-width: 2px;
    text-align: center;
    position: relative;
    left: 7vw;
    margin-top: 2vh;
  }
  .avatar-upload {
    text-align: center;
    position: relative;
    max-width: 170px;
    margin: 0px auto;
  }
  .avatar-edit {
    position: absolute;
    right: -32px;
    z-index: 1;
    top: -80px;
  }
  .avatar-upload > .avatar-edit > input {
    display: none;
  }
  .avatar-upload > .avatar-edit > label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #c6c6c6;
    border: 1px solid #0000005e;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }