.eventosContent,
.confirmacionEventoContainer {
    display: flex;
    padding: 15px;
    flex-direction: column;
    background-color: #fff;
    margin: 15px;
    border-radius: 15px;
    width: 93vw;
    padding-left: 15px;
}

.eventoContent {
    display: flex;
    margin-bottom: 15px;
}

.listaEvento {
    max-height: 50vh;
    overflow: scroll;
}

.eventocreado {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.eventoImg {
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
}

.eventTitle,
.eventTitleRes {
    margin-left: 20px;
    color: #606060;
    width: 100vw;
}

.customIcon {
    height: 48px;
    width: 48px;
}

.eventTitleRes {
    margin-left: 5px;
}

.moveLeft {
    animation: moveLeftAnimation 0.5s forwards;
}

@keyframes moveLeftAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10px);
    }
}

.cantidadFaltante {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cantidadFaltante ion-chip {
    background: #e62d2d;
    color: #fff;
}

.imgReservacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgReservacion img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 100%;
    margin-top: 10px;
}

.informacionContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(0 0 0 / 27%);
}

.seccion-informacion {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    /* background-color: #d60000; */
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(90deg, #ff1dbd 0%, rgb(245, 196, 0) 100%);
    color: #fff;
}

.informacionReservacion {
    display: flex;
    flex-direction: column;
    font-size: larger;
    padding-top: 15px;
}

.color-1 {
    background-color: #2dd36f;
}

.color-0 {
    background-color: #e62d2d;
}