<div class="fondoConocenos">
  <ion-grid id="footerMovil">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-img id="logoBitooFooter1" class="img-fluid part1" src="https://ecoevents.blob.core.windows.net/comprandoando/bituyu/App/LOGO%20TINBITOO%20COLOR.png"><br></ion-img>
      </ion-col>
      <ion-col>
        <a href="https://play.google.com/store/apps/details?id=mx.com.softura.bitoo" target="_blank"><ion-img id="logoBitooFooter2" class="img-fluid part1" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/es-419_badge_web_generic.png"></ion-img></a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <p class="presen">Una Aplicación de <a href="http://softura.com.mx/" target="_blank">Softura Solutions</a> S. de R. L.</p>

          <p><ion-icon name="location-sharp"></ion-icon> Apizaco, Tlaxcala, México.</p>
          <p><a href="javascript:void(0);" (click)="abrirTerminosCondiciones()">Política de privacidad</a></p>
          <div class="row justify-content-center pyy">
            <div class="col-8 lineamovil2"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <div class="ion-text-center">
          <p class="tamano"><a (click)="scrollToTop()">Conócenos</a></p>
          <p class="letra tamano">Bituyú@softura.com.mx</p>
          <p class="tamano"><strong>Síguenos</strong></p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <a href="https://www.facebook.com/BitooMx" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/fb.png"></ion-img></a>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <a href="https://www.instagram.com/BitooMx/" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/ig.png"></ion-img></a>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <a href="https://www.youtube.com/channel/UCiW7h4PvEJ4wS0Eqpcfx0cw?app=desktop" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/yt.png"></ion-img></a>
      </ion-col>
      <ion-col>
        <a href="https://twitter.com/Bitoo_mx" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/tw.png"></ion-img></a>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <a href="https://api.whatsapp.com/send?phone=522411016729" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/wa.png"></ion-img></a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="row justify-content-center py-3">
          <div class="col-10 lineamovil"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center"><p id="espaciotop">Copyright &copy; Bituyú (Softura Solutions) 2020. <br> Todos los derechos reservados</p></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="footerB">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          <ion-img id="logoBitooFooter1" class="img-fluid part1" src="https://ecoevents.blob.core.windows.net/comprandoando/bituyu/App/LOGO%20TINBITOO%20COLOR.png"></ion-img><br>
          <a href="https://play.google.com/store/apps/details?id=mx.com.softura.bitoo" target="_blank">
            <ion-img id="logoBitooFooter2" class="img-fluid part2" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/es-419_badge_web_generic.png"></ion-img>
          </a>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center separa">
          <p><a (click)="scrollToTop()">Conócenos</a></p>
          <p>Bituyú@softura.com.mx</p>
          <p><strong>Síguenos</strong></p>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <a href="https://www.facebook.com/BitooMx" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/fb.png"></ion-img></a>
            </ion-col>
            <ion-col class="ion-align-self-center">
              <a href="https://www.instagram.com/BitooMx/" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/ig.png"></ion-img></a>
            </ion-col>
            <ion-col class="ion-align-self-center">
              <a href="https://www.youtube.com/channel/UCiW7h4PvEJ4wS0Eqpcfx0cw?app=desktop" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/yt.png"></ion-img></a>
            </ion-col>
            <ion-col>
              <a href="https://twitter.com/Bitoo_mx" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/tw.png"></ion-img></a>
            </ion-col>
            <ion-col class="ion-align-self-center">
              <a href="https://api.whatsapp.com/send?phone=522411016729" target="_blank"><ion-img id="logoBitooFooter" class="img-fluid part3" src="https://ecoevents.blob.core.windows.net/comprandoando/Footer/wa.png"></ion-img></a>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <p>Una Aplicación de <a href="http://softura.com.mx/" target="_blank">Softura Solutions</a> S. de R. L.</p>
          <ion-icon name="location-sharp"></ion-icon>
          <p>Apizaco, Tlaxcala, México.</p>
          <p><a href="javascript:void(0);" (click)="abrirTerminosCondiciones()">Política de privacidad</a></p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="row justify-content-center py-3">
          <div class="col-10 linea"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center"><p id="espaciotop">Copyright &copy; Bitoo (Softura Solutions) 2020. <br> Todos los derechos reservados</p></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
