<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title mode="ios">{{infoExperiencia.titulo_experiencia}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()" class="customExit">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-spinner [loader]="!loaderReservaciones" [message]="msj"></app-spinner>
<ion-content *ngIf="loaderReservaciones">
  <ion-card>
    <ion-card-content>
      <div class="contendorCarrusel" #contendorCarrusel (scroll)="obtenerPosicion()">
        <div class="carrusel">
          <div *ngFor="let item of arrayUnion; let i = index" class="carrusel-item">
            <ng-container *ngIf="item.url_imagen !== null && item.url_imagen !== 'null'">
              <img src="{{ item.url_imagen }}" alt="Image" class="carrusel-content">
            </ng-container>
            <ng-container *ngIf="item.url_video !== null && item.url_video !== 'null'">
              <video controls class="carrusel-content">
                <source type="video/mp4" [src]="item.url_video">
              </video>
            </ng-container>
          </div>
        </div>
      </div>
      <div *ngIf="arrayUnion.length > 1" class="indicador">
        <span *ngFor="let item of arrayUnion; let i = index"
              [class.active]="i === indice" (click)="indicadorPosicion(i)">
        </span>
      </div>

      <div style="display: flex; align-items: center; margin-bottom: 5px; margin-top: 10px;">
        <ion-label style="width: 40%">Ubicación:</ion-label>
        <div class="inputEx">{{nombreLocalidad}}{{nombreMunicipio}}{{nombreEstado}}</div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 5px">
        <ion-label style="width: 40%">Fecha y hora:</ion-label>
        <div class="inputEx" *ngIf="infoExperiencia.id_tipo_recurrencia_experiencia == 1">
          {{diaEscrito}}, {{numeroDia}} de {{meses[numeroMes]}} del {{anio}}
        </div>
        <div class="inputEx" *ngIf="infoExperiencia.id_tipo_recurrencia_experiencia == 3">
          Todos los días {{diasExperiencias}}
        </div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 5px">
        <ion-label style="width: 40%">Tipo de evento:</ion-label>
        <div class="inputEx">{{infoExperiencia.tipo_experiencia}}</div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 5px">
        <ion-label style="width: 40%">Número telefonico:</ion-label>
        <div class="inputEx">{{infoExperiencia.telefono_experiencia}}</div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 5px">
        <ion-label style="width: 40%">Método de pago:</ion-label>
        <div class="inputEx">{{tiposPago}}</div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 10px">
        <ion-label style="width: 40%">Se repite:</ion-label>
        <div class="inputEx" *ngIf="infoExperiencia.id_tipo_recurrencia_experiencia == 1">Una vez</div>
        <div class="inputEx" *ngIf="infoExperiencia.id_tipo_recurrencia_experiencia == 3">Semanal</div>
      </div>
      <div style="display: flex; justify-content: center; flex-wrap: wrap;">
        <div class="inputDos">Complete todos los campos<span style="color: red">*</span></div>
        <ion-item style="margin-bottom: 10px;" *ngIf="infoExperiencia.id_tipo_recurrencia_experiencia == 1">
          <ion-label>{{numeroDia}}/{{meses[numeroMes]}}/{{anio}}</ion-label>
        </ion-item>
        <div class="mostrarDts" style="height: 29px" (click)="abrirCalendario()" id="open-modal"  *ngIf="infoExperiencia.id_tipo_recurrencia_experiencia == 3">
          <small>{{fechaSeleccionadaDiario}}</small>
          <ion-modal trigger="open-modal">
            <ng-template>
              <ion-content>
                <app-calendario-reservacion [isAlert]="isAlert" [diasRecibidos]="diasEnviar" (banderaCalendario)="cerrarCalendario($event)"
                                            (fechaReservacion)="recibirFecha($event)">
                </app-calendario-reservacion>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
        <div *ngIf="conceptos.length > 0 || true" style="display: flex; flex-wrap: wrap; justify-content: center; width: 100%">
          <div class="inputDos" style="margin-top: 10px; margin-bottom: 10px;">Promociones disponibles:</div>
          <ion-item *ngFor="let concepto of conceptos; let i = index">
            <div class="contenedorImg">
              <div class="contenedorP">
                <div class="imagen-redonda">
                  <img [src]="concepto.url_imagen">
                </div>
                <strong style="width: 165px; font-size: 13px;">{{concepto.concepto}}</strong>
                <div style="display: flex">
                  <ion-button class="buttonCantidad" (click)="actualizarBoleto(concepto, -1)">
                    <ion-icon name="remove-outline"></ion-icon></ion-button>
                  <div style="min-width: 20px; margin-top: 5px">
                    <span>{{ mostrarCantidad(concepto.id_det_experiencia_turistica_concepto) }}</span>
                  </div>
                  <ion-button class="buttonCantidad" (click)="actualizarBoleto(concepto, 1)">
                    <ion-icon name="add-outline"></ion-icon></ion-button>
                </div>
              </div>
              <div class="contenedorS">
                <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                  <p *ngIf="concepto.porcentaje_descuento != null" style="opacity: 0.5; font-size: 13px;">Descuento %{{concepto.porcentaje_descuento}}</p>
                  <p style="opacity: 0.5; font-size: 13px;">Precio ${{concepto.precio}}</p>
                </div>
              </div>
              <div>
                <div style="width: 100%; display: flex; justify-content: flex-end; align-items: center;">
                  <p style="font-size: 13px;">Total ${{mostrarPrecioTtotal(concepto.id_det_experiencia_turistica_concepto)}} pesos</p>
                </div>
              </div>
            </div>
          </ion-item>
        </div>

        <ion-button class="bg-naranja" *ngIf="infoExperiencia.id_tipo_recurrencia_experiencia == 1" [disabled]="!cantidd" (click)="guardar()">
          Generar pago de reservación</ion-button>
        <ion-button class="bg-naranja" *ngIf="infoExperiencia.id_tipo_recurrencia_experiencia == 3" [disabled]="!cantidd || !fechaSeleccionadaDiario" (click)="guardar()">
          Generar pago de reservación</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
