<ion-header>
  <ion-toolbar class="tol-bar">
    <ion-title>Sugerencias</ion-title>
    <ion-buttons slot="start">
      <ion-button id="btnRegresar" [routerLink]="['/tabs/inicio']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="contenedorTodo">
    <p>PROMOCIONES</p>
    <div class="promoContainer" *ngIf="datoss">
      <div class="promoCard" *ngFor="let promocion of sugerencias.promociones.slice(0, promoCantidad); let i = index">
        <div class="nombreNegocio">{{promocion.nombre_comercial}}</div>
        <img class="imgPromo" src="{{promocion.url_imagen}}" alt="UnaImagen">
        <div class="tagsPromo">{{promocion.promocion}}</div>
        <div class="tipoPromo">{{promocion.tipo_promocion}}</div>
        <div class="tituloPromo">{{this.tagsPromo[i]}}</div>
        <div style="display: flex; justify-content: flex-end; padding-top: 10px;">
          <div class="promoEstado" [style.background-color]="bgPromo[i]">{{promocion.abierto}}</div>
        </div>
      </div>
    </div>

    <p>PRODUCTOS Y SERVICIOS</p>
    <div class="productsContainer" *ngIf="datoss">
      <div class="productCard" *ngFor="let product of sugerencias.productos.slice(0, promoCantidad); let i = index">
        <div class="nombreNegocio">{{product.negocio.nombre}}</div>
        <img class="imgPromo" [src]="product.imagen[0]" alt="UnaImagen">
        <div class="tagsPromo">{{product.nombre}}</div>
        <div class="productDescription">{{product.descripcion}}</div>
        <div class="productPrecio">$ {{product.precio}}</div>
      </div>
    </div>

    <p>NEGOCIOS</p>

  </div>

</ion-content>