.contenedorTodo {
    width: 93vw;
    max-height: 84vh;
    background-color: #fff;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden scroll;
}

p {
    font-size: x-large;
    padding-top: 15px;
    margin-left: 9px;
}

.promoContainer,
.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promoCard,
.productCard {
    height: 320px;
    width: 47%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    margin: 5px;
}

.bodyPromo {
    padding: 15px;
}

.imgPromo {
    margin-bottom: 5px;
    border-radius: 15px;
    max-height: 164px;
    min-height: 164px;
}

.tagsPromo {
    display: flex;
    min-height: 17px;
    max-width: 100%;
    background-color: #d5d4d4;
    color: #000;
    justify-content: center;
    font-size: small;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 6px;
}

span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tipoPromo {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.tituloPromo,
.nombreNegocio {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
    height: 21px;
}

.tituloPromo {
    justify-content: center;
    font-size: 14px;
}

.nombreNegocio {
    // padding-bottom: 20px;
    color: #fff;
    background: linear-gradient(90deg, #F761CC 0%, #FF7859 100%);
    border-radius: 15px;
    margin-bottom: 10px;
}

.promoEstado {
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    width: 50%;
    height: 20px;
    color: #fff;
    border-radius: 15px;
    font-size: 80%;
}

.productDescription {
    padding-bottom: 5px;
    overflow: hidden;
    max-height: 100px;
    display: flex;
    justify-content: center;
}

.productPrecio {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 15px;
}

.boton-ver-mas {
    --background: #d3d3d3;
    --color: rgb(43, 43, 43);
    font-size: 11px;
}

.icono-ver-mas{
    font-size: 15px;
}
