<ion-header>
  <ion-toolbar class="tol-bar">
    <ion-title mode="ios">Sugerencias</ion-title>
    <ion-buttons slot="start">
      <ion-button class="blanco" id="btnRegresar" [routerLink]="['/tabs/inicio']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner [loader]="loader" [message]="msj" *ngIf="loader"></app-spinner>
  <div *ngIf="!loader" class="contenedorTodo">
    <div *ngIf="masPromo">
      <p *ngIf="cantidadPromo >= 1">PROMOCIONES</p>
      <div class="promoContainer" *ngIf="datoss">
        <div class="promoCard" *ngFor="let promocion of sugerencias.promociones.slice(0, promoCantidad); let i = index"
          (click)="crearModalPromocion(promocion)">
          <div class="bodyPromo">
            <div class="nombreNegocio"><span>{{promocion.nombre_comercial}}</span></div>
            <img class="imgPromo" src="{{promocion.url_imagen}}" alt="UnaImagen">
            <div class="tagsPromo"><span>{{promocion.promocion}}</span></div>
            <div class="tipoPromo">{{promocion.tipo_promocion}}</div>
            <div class="tituloPromo"><span>{{this.tagsPromo[i]}}</span></div>
            <div style="display: flex; justify-content: center;">
              <div class="promoEstado"
                [style.background-color]="promocion.abierto === 'ABIERTO' ? '#2aac09d5' : '#e11212c7'">
                {{promocion.abierto}}</div>
            </div>
          </div>
        </div>
      </div>
      <ion-button *ngIf="cantidadPromo > 4" expand="block" shape="round" color="medium" (click)="verMas(1)">
        <span *ngIf="masMenos">Ver mas promociones</span>
        <span *ngIf="!masMenos">Ver menos promociones</span>
      </ion-button>
    </div>

    <div *ngIf="masProductos">
      <p *ngIf="cantidadProduct >= 1">PRODUCTOS Y SERVICIOS</p>
      <div class="productsContainer" *ngIf="datoss">
        <div class="productCard" (click)="CrearModalProducto(product)"
          *ngFor="let product of sugerencias.productos.slice(0, productCantidad); let i = index">
          <div class="bodyPromo">
            <div class="nombreNegocio"><span>{{product.negocio.nombre}}</span></div>
            <img class="imgPromo" [src]="getFirstImage(product.imagen)" alt="UnaImagen">
            <div class="tagsPromo"><span>{{product.nombre}}</span></div>
            <div class="productDescription"><span>{{product.descripcion}}</span></div>
            <div class="productPrecio">$ {{product.precio}}</div>
          </div>
        </div>
      </div>
      <ion-button *ngIf="cantidadProduct > 4" expand="block" shape="round" color="medium" (click)="verMas(2)">
        <span *ngIf="masMenos">Ver mas productos</span>
        <span *ngIf="!masMenos">Ver menos productos</span>
      </ion-button>
    </div>

    <div *ngIf="masNegocios">
      <p *ngIf="cantidadNego >= 1">NEGOCIOS</p>
      <div class="promoContainer" *ngIf="datoss">
        <div class="promoCard" (click)="abrirNego(negocio.url_negocio)"
          *ngFor="let negocio of sugerencias.negocios.slice(0, negoCantidad); let i = index">
          <div class="bodyPromo">
            <div class="nombreNegocio"><span>{{negocio.nombre_corto}}</span></div>
            <img class="imgPromo" src="{{negocio.url_logo}}" alt="UnaImagen">
            <div class="tagsPromo"><span>{{negocio.giro}}</span></div>
            <!-- <div class="tipoPromo">{{negocio.tipo_promocion}}</div> -->
            <div class="tituloPromo"><span>{{negocio.descripcion}}</span></div>
            <div style="display: flex; justify-content: center; margin-top: 15px;">
              <div class="promoEstado"
                [style.background-color]="negocio.abierto.toLowerCase() === 'abierto' ? '#2aac09d5' : '#e11212c7'">
                {{negocio.abierto}}</div>
            </div>
          </div>
        </div>
      </div>
      <ion-button *ngIf="cantidadNego > 4" expand="block" shape="round" color="medium" (click)="verMas(3)">
        <span *ngIf="masMenos">Ver mas negocios</span>
        <span *ngIf="!masMenos">Ver menos negocios</span>
      </ion-button>
    </div>

  </div>

</ion-content>
