<ion-header >
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Avisos de Información</ion-title>
    <ion-buttons slot="end" (click)="presentActionSheet()">
      <ion-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item class="bg-gris">
    <ion-buttons slot="end">
        <ion-button (click)="notify()">
          <span *ngIf="!this.isToggled">Filtros</span>
          <ion-icon *ngIf="!this.isToggled" name="search-outline"></ion-icon>
          <span  *ngIf="this.isToggled" >Cerrar</span> 
          <ion-icon *ngIf="this.isToggled" name="close-outline"></ion-icon>       
        </ion-button>
    </ion-buttons>
</ion-item>
<ion-card *ngIf="this.isToggled === true">
  <ion-card-header>
    <form  #form="ngForm" (ngSubmit)="obtenerAvisos(form)">
    <ion-list>
      <ion-item>
        <ion-label>Nombre : </ion-label>
        <ion-input #nombre="ngModel" (keyup)="setBlnFiltro()" (change)="setBlnFiltro()" name="nombre" [(ngModel)]="filtro.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Descripción : </ion-label>
        <ion-input #descripcion="ngModel" (keyup)="setBlnFiltro()" (change)="setBlnFiltro()" name="descripcion" [(ngModel)]="filtro.descripcion"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" class="bg-rosa" expand="block" [disabled]="!blnBtnFiltro">Buscar</ion-button>
    <ion-button type="button" color="medium" expand="block" (click)="limpiarFiltro()" [disabled]="!blnBtnFiltro">Limpiar</ion-button>
  </form>
  </ion-card-header>
</ion-card>
  <ion-card>
    <ion-card-header>
  <ion-list *ngFor="let item of lstCatAvisos">
    <ion-item (click)="datosAviso(item)">
      <ion-label>{{item.nombre}}</ion-label>
      <ion-buttons slot="end">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-buttons>
    </ion-item>    
  </ion-list>
    </ion-card-header>
  </ion-card>
</ion-content>
