<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="background-blueviolet">
            <ion-grid class="ion-text-center">
              <h2 class="text-white">Visitas por QR
              </h2>
              <h1 class="text-white"><strong>{{visitsByQr}}</strong></h1>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content class="background-deeppink">
            <ion-grid class="ion-text-center">
              <h2 class="text-white">Visitas por URL</h2>
              <h1 class="text-white"><strong>{{visitsByUrl}}</strong></h1>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
