<ion-header>
  <ion-toolbar class="tolbar">
    <!--<ion-title>recuperar-contrasenia</ion-title>-->
    <ion-buttons slot="end" (click)="cerrarModal()">
      <ion-button>
          <ion-icon name="close-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <form #formContra="ngForm" (ngSubmit)="resetPass(formContra)">
      <div class="ion-text-center">
        <h4>RESTAURAR CONTRASEÑA</h4>
      </div>
    <ion-list>
      <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input id="idResetContra" name="idResetContra" #resetContra="ngModel" [(ngModel)]="correo" required placeholder="Correo o Número celular"></ion-input>
  </ion-item>
  </ion-list>
    <div *ngIf="resetContra.touched  && resetContra.invalid" class="alert">
      <div *ngIf="resetContra.errors.required">Agregue correo ó Número</div>
    </div>
    <ion-button type="submit" expand="block"class="bg-rosa" [disabled]="formContra.invalid">Enviar</ion-button>
  </form>
  </ion-card-header>
</ion-card>
</ion-content>
