.contenido {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    /*opacity: 0;*/
    position: absolute;
    top: 86%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cotenido:hover~img {
    opacity: 0.3;
}

.contenido:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.punteado {
    border-style: dashed;
    width: 200px;
    height: 200px;
    border-color: gray;
    border-width: 2px;
    text-align: center;
}

.punteado2 {
    border-style: dashed;
    width: auto;
    height:100px;
    border-color: gray;
    border-width: 2px;
    text-align: center;
}

.punteado3 {
    border-style: dashed;
    width: 200px;
    height: 425px;
    border-color: gray;
    border-width: 2px;
    text-align: center;
}

em {
    position: relative;
    top: calc(50% - 10px);
    font-size: x-large;
}

input[type="file"] {
    display: none;
}

.btnEdit {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 719px) {
    .punteado2 {
        width: 232px !important;
    }
}

@media screen and (max-width: 959px) and (min-width: 720px) {
   .punteado2 {
        width: 232px !important;
    }
}

.scroll::-webkit-scrollbar {
  width: auto;     /* Tamaño del scroll en vertical */
  height: 15px;    /* Tamaño del scroll en horizontal */
  /*display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.scroll::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.scroll::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.scroll::-webkit-scrollbar-track:hover,
.scroll::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

@media screen and (max-width: 575.98px){
  .salto_linea {
    height: 50px;
    padding: 2px;
  }
}

span{
  color: red;
}

.upload{
  padding: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadAndroid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-campo {
  padding-left: 17px;
}