<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Datos Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <div class="ion-text-end">
      <ion-badge slot="end" color="primary">{{pedido.tipo}}</ion-badge>
      <small class="d-block"><strong>{{pedido.fc_pedido}}</strong></small>

      esto parte también es duda
      <small class="d-block" *ngIf="pedido.id_estatus_pedido === 2 || pedido.id_estatus_pedido === 3">Tiempo estimado de entrega: <strong>{{negocio.tiempo}}</strong></small>
      <small class="d-block" *ngIf="pedido.id_estatus_pedido === 2 || pedido.id_estatus_pedido === 3">Costo de entrega: <strong>{{negocio.precioEntrega}}</strong></small>
    </div> -->

    <ion-grid>
      <ion-row>
        <ion-col>
          <div *ngIf="pedido.id_estatus_pedido === 4">
            <ion-badge [style]="{'background': pedido.color}">
              <ion-icon name="checkmark-circle-outline"></ion-icon>Pedido entregado
            </ion-badge>
          </div>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <ion-badge color="primary">{{pedido.tipo}}</ion-badge>
          <small class="d-block"><strong>{{pedido.fc_pedido}}</strong></small>
          <small *ngIf="pedido.id_tipo_pedido === 1" class="d-block">Numero de mesa:
            <strong>{{pedido.mesa}}</strong></small>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <h3>Artículos:</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngFor="let producto of pedido.productos">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar>
              <ion-img [src]="producto.logo_producto"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col>
            <p>{{producto.nombre_producto}}</p>
            <small class="d-block">Cantidad: {{producto.cantidad}}</small>
            <small class="d-block">Precio unitario: $ {{
              precioUnitarioParche(producto.cantidad,producto.costo)}}</small>
            <small class="d-block">Total: </small> <strong><span>$ {{producto.costo}}</span></strong>
          </ion-col>
          <ion-col>
            <div class="ion-text-center">
              <small *ngIf="pedido.detalle === null"> Sin observaciones </small>
              <small *ngIf="pedido.detalle !== null">{{pedido.detalle}}</small>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div class="ion-padding">
      <small class="d-block">Método de pago: <strong>{{pedido.tipo_pago}}</strong></small>
    </div>
    <ion-item lines="none">
      <ion-label>Total : ${{total}}  <span *ngIf="domicilioEnvio">{{domicilioEnvioMessage}}</span></ion-label>
    </ion-item>
    <div *ngIf="!blnCancelar">
      <ion-button expand="block" *ngIf="pedido.id_estatus_pedido < 4" [disabled]="pedido.id_estatus_pedido === 2" (click)="cancelar()" color="medium">Cancelar mi
        pedido</ion-button>
      <div class="ion-text-center" *ngIf="pedido.id_estatus_pedido === 5 || pedido.id_estatus_pedido === 6">
        <ion-icon name="ban-outline" style="color: darkred; font-size: 12px;"></ion-icon><span
          style=" font-size: 12px;"> {{pedido.estatus}}</span>
        <small class="d-block">{{pedido.motivo}}</small>
      </div>
    </div>
    <div *ngIf="blnCancelar">
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Motivo de la cancelación</ion-label>
        <ion-textarea type="text" [(ngModel)]="motivo"></ion-textarea>
      </ion-item>
      <ion-button expand="block" *ngIf="pedido.id_estatus_pedido < 4" (click)="btnRegresar()" color="medium">Regresar
      </ion-button>
      <ion-button expand="block" (click)="validarMotivoCancelacion(pedido);" color="danger"> Cancelar pedido
      </ion-button>
    </div>
  </ion-card>
</ion-content>
