<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title mode="ios">Reservación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-spinner [loader]="!loaderReservaciones" [message]="msj"></app-spinner>
<ion-content *ngIf="loaderReservaciones">


  <div style="display: flex; justify-content: center; align-items: center; margin-top: 5px">
    <ion-button (click)="descargar()" class="bg-naranja">
      <ion-spinner *ngIf="loaderCupon" name="bubbles"></ion-spinner>
      <span>{{loaderCupon ? 'Generando QR..' : 'Descargar reservación'}}</span>
    </ion-button>
  </div>

  <!-- <div style="display: flex; justify-content: center; margin-top: 5px">
    <div class="contendorCuponDownload">

      <p *ngIf="htmlDownload" style="color: #FFF; margin-bottom: 6vw; font-size: 40px;">{{infoEvento[0]?.evento}}</p>

      <ion-chip *ngIf="htmlDownload" style="margin-bottom: 2px;">
        <ion-label>{{usuario}}</ion-label>
      </ion-chip>

      <div #qrcode class="qrClass"></div>

      <div *ngIf="htmlDownload" style="display: flex; flex-direction: column; text-align: center; font-size: 25px;">
        <p style="color: #FFF;">No. personas: {{cadena.cantidad_persona}}</p>
        <p style="color: #FFF; margin-bottom: 1vw; margin-top: 3px;">Fecha de reservación</p>
        <p style="color: #FFF; margin-bottom: 2vw; margin-top: 2px;">{{numeroDia}}/{{meses[numeroMes]}}/{{anio}}</p>
      </div>

      <div
        style="font-size: 10px; display: flex; justify-content: center; align-items: center; margin-bottom: 1px; margin-top: 1vw;">
        <ion-label>*Aplican restricciones*</ion-label>
      </div>

    </div>
  </div> -->

  <div style="display: flex; justify-content: center; margin-top: 5px">
    <div class="contendorR">

      <h1 *ngIf="!htmlDownload" style="color: #FFF; margin-top: 8vw; margin-bottom: 1vw;">EVENTO</h1>

      <p *ngIf="!htmlDownload" style="color: #FFF; margin-bottom: 6vw">{{infoEvento[0]?.evento}}</p>

      <img *ngIf="!htmlDownload" [src]="infoEvento[0]?.fotografias[0]?.url_imagen" class="imagenEvento">


      <ion-chip *ngIf="!htmlDownload" style="margin-bottom: 2px;">
        <ion-label>{{usuario}}</ion-label>
      </ion-chip>

      <div *ngIf="!htmlDownload" style="display: flex; align-items: center">
        <p style="color: #FFF;">No. personas: {{cadena.cantidad_persona}}</p>
      </div>

      <p *ngIf="!htmlDownload" style="color: #FFF; margin-bottom: 1vw; margin-top: 3px;">Fecha de reservación</p>
      <p *ngIf="!htmlDownload" style="color: #FFF; margin-bottom: 2vw; margin-top: 2px;">
        {{numeroDia}}/{{meses[numeroMes]}}/{{anio}}</p>

      <p *ngIf="htmlDownload" style="color: #FFF; margin-bottom: 6vw; font-size: 40px;">{{infoEvento[0]?.evento}}</p>

      <ion-chip *ngIf="htmlDownload" style="margin-bottom: 2px;">
        <ion-label>{{usuario}}</ion-label>
      </ion-chip>

      <div #qrcode class="qrClass"></div>

      <div *ngIf="htmlDownload" style="display: flex; flex-direction: column; text-align: center; font-size: 25px;">
        <p style="color: #FFF;">No. personas: {{cadena.cantidad_persona}}</p>
        <p style="color: #FFF; margin-bottom: 1vw; margin-top: 3px;">Fecha de reservación</p>
        <p style="color: #FFF; margin-bottom: 2vw; margin-top: 2px;">{{numeroDia}}/{{meses[numeroMes]}}/{{anio}}</p>
      </div>

      <div
        style="font-size: 10px; display: flex; justify-content: center; align-items: center; margin-bottom: 1px; margin-top: 1vw;">
        <ion-label>*Aplican restricciones*</ion-label>
      </div>

    </div>
  </div>
</ion-content>
