.avatar-upload {
    text-align: center;
    position: relative;
    max-width: 170px;
    margin: 0px auto;
  }
  .avatar-edit {
    position: relative;
    right: auto;
    top: 3vh;
    z-index: 1;
  }
  .avatar-upload > .avatar-edit > input {
    display: none;
  }
  
  .avatar-upload > .avatar-edit > label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
  }
  
  .avatar-upload > .avatar-edit > label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  
  .avatar-upload > .avatar-edit > label:after {
    //content: "\f030";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-preview {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid #a1a1a1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-preview > div {
    width: 100% !important;
    height: 100% !important;
    border-radius: 100% !important;
    background-size: cover !important;
    background-image: url('https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  .avatar-preview-separador-movil  {
    width: 285px;
    height: 100px;
    border-radius: 0%;
    border: 3px solid #a1a1a1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
   position: relative;
   left: -55px;
  }

  .avatar-preview-separador-movil > div {
    width: 100% !important;
    height: 35% !important;
    border-radius: 0% !important;
    background-size: cover !important;
    background-image: url('https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
    top: 5vh;
  }

  .avatar-preview-separador{
    width: 340px;
    height: 100px;
    border-radius: 0%;
    border: 3px solid #a1a1a1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
   position: relative;
   left: -86px;
  }

  .avatar-preview-separador > div {
    width: 100% !important;
    height: 14% !important;
    border-radius: 0% !important;
    background-size: cover !important;
    background-image: url('https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
    top: 6vh;
  }

  #giro {
    width: 71vw;
    height: 8vh;
    border-radius: 0%;
    left: -12vw;
}

#giro>div {
    border-radius: 0% !important;
    max-height: 29px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 1.1vh;
}

#giroEdit, #giroBanner , #giroImagenEdit {
  right: auto !important;
  top: 3vh !important;
}

#giroImagen, #banner  {
  width: 71vw;
  height: 8vh;
  border-radius: 0%;
  left: -12vw;
}

#giroImagen>div, #banner>div {
    border-radius: 0% !important;
    max-height: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 3.1vh;
}
