ion-button.blanco.ios.button.button-clear.in-toolbar.ion-activatable.ion-focusable.hydrated{
    position: relative;
    top: 7px;
}

.tolbar{
    background: linear-gradient(90deg,#fa4f72,#a74eef) !important;
    color: white !important;
  }