ion-button.blanco.ios.button.button-clear.in-toolbar.ion-activatable.ion-focusable.hydrated {
  position: relative;
  top: 7px;
}

.tolbar {
  --background: linear-gradient(90deg, #ff1dbd 0%, rgb(255, 206, 0) 100%) !important;
  color: white !important;
}
