<ion-header >
  <ion-toolbar class="tolbar">
    <ion-searchbar [placeholder]="placeHolder" (keyup.enter)="buscar()" [(ngModel)]="strBuscar" (ionClear)="limpiar()"></ion-searchbar>
    <ion-buttons *ngIf="user.nombre" slot="end">
      <!-- <ion-button *ngIf="permisos.includes('ver_negocio')" class="blanco" [routerLink]="[ '/tabs/home/ventas' ]"> -->
      <ion-button *ngIf="permisos.includes('ver_negocio')" class="blanco" (click)="verVentas()">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-badge  *ngIf="totalNoVistos > 0" color="danger">{{totalNoVistos}}</ion-badge>
      </ion-button>
      <!-- <ion-button  class="blanco" [routerLink]="[ '/tabs/home/compras' ]"> -->
      <ion-button  class="blanco" (click)="verCompras()">
        <ion-icon name="bag-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
