.estrella {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }

  .estrella div {
    text-align: center;
  }

  .estrella label {
    font-size: 20px;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    color: grey;
    font-size: 28px;

  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  input[type="radio"]:checked ~ label {
    color: orange;
  }

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

.lista {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}

.list {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
}

.negritas {
    color: black;
    font-weight: bolder;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .item {
    flex: 0 0 auto;
  }
  .active{
    box-shadow: 0px 5px 0px blue;
  }
}
.fab-horizontal-end{
  right: calc(1.5px + var(--ion-safe-area-right, 0px)) !important;
}

.fab-button-small{
  margin: 6px !important;
  width: 35px !important;
  height: 35px !important;
}
ion-fab-button img {
  width: 25px !important;
}