ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

.lista {
    display: flex;
    justify-content: space-between;
}

.list {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.negritas {
    color: black;
    font-weight: bolder;
}