.avatar-preview > div {
    width: 100% !important;
    height: 100% !important;
    border-radius: 100% !important;
    background-size: cover !important ;
    background-image: url('https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg');
    background-repeat: no-repeat !important ;
    background-position: center !important ;
  }
  