<ion-header>
  <ion-toolbar>
    <ion-icon class="ion-float-left " name="chevron-back-outline"[routerLink]="['/tabs/ajustes']"></ion-icon>
    <ion-title>Datos Basicos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <form #formBasicos="ngForm" (ngSubmit)="actualizarDatos(formBasicos)">
            <ion-list>
                <ion-item>
                    <ion-label position="stacked">Nombre</ion-label>
                    <ion-input placeholder="Nombre" #nombre="ngModel" required  name="nombre" [(ngModel)]="usuarioSistema.nombre"></ion-input>
                  </ion-item>
                  <div
                  *ngIf="nombre.touched  && nombre.invalid"
                  class="alert alert-danger">
                  <div
                    *ngIf="nombre.errors.required">El nombre es requerido
                  </div>
                </div>
                  <ion-item>
                    <ion-label position="stacked">Apellido Paterno</ion-label>
                    <ion-input placeholder="Apellido Paterno"  #ap="ngModel" required  name="ap" [(ngModel)]="usuarioSistema.paterno"></ion-input>
                  </ion-item>
                  <div
                  *ngIf="ap.touched  && ap.invalid"
                  class="alert alert-danger">
                  <div
                    *ngIf="ap.errors.required">El apellido paterno es requerido
                  </div>
                </div>
                  <ion-item>
                    <ion-label position="stacked">Apellido Materno</ion-label>
                    <ion-input placeholder="Apellido Materno" #am="ngModel" required  name="am" [(ngModel)]="usuarioSistema.materno"></ion-input>
                  </ion-item>
                  <div
                  *ngIf="am.touched  && am.invalid"
                  class="alert alert-danger">
                  <div
                    *ngIf="am.errors.required">El apellido materno es requerido
                  </div>
                </div>
                  <ion-item>
                    <ion-label position="stacked">Celular</ion-label>
                    <ion-input placeholder="Celular"  type="number"  #celular="ngModel" required  name="celular" [(ngModel)]="usuarioSistema.celular"></ion-input>
                  </ion-item> 
                  <div
                  *ngIf="celular.touched  && celular.invalid"
                  class="alert alert-danger">
                  <div
                    *ngIf="celular.errors.required">El celular es requerido
                  </div>
                </div>
                  <ion-item>
                    <ion-label position="stacked">Fecha Nacimiento</ion-label>                   
                    <ion-datetime #picker  name="fecha"  #nacimiento="ngModel" [min]="minDate" [max]="maxDate"
                      [(ngModel)]="usuarioSistema.fecha_nacimiento"  required></ion-datetime>
                    <ion-icon  slot="end" name="calendar-outline"  (click)="picker.open()"></ion-icon>
                  </ion-item>  
                  <ion-item>
                    <ion-label position="stacked">Correo</ion-label>
                    <ion-input  id="correo" type="email" email name="correo" #correo="ngModel" placeholder="Correo" [(ngModel)]="usuarioSistema.correo"></ion-input>
                  </ion-item>    
            </ion-list>
            <ion-button type="submit" color="primary" expand="block">Actualizar</ion-button>
            </form>
        </ion-card-header>
    </ion-card>
</ion-content>
