.sinMargin {
    margin: 0;
    color: black;
}

.promocion {
    font-size: 16px;
    font-weight: bold;
}

.modal-overlayPromocion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: bold;
    color:  #FF1DBD;
    font-size: 18px;
}

.rosa {
    color: #FF1DBD;
}

.blanco{
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

.lista {
    display: flex;
    justify-content: space-between;
}

.list {
    //-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    //-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    //box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    border-radius: 20px;
    background: linear-gradient(90deg, #F761CC 0%, #FF7859 100%);
    color: white;
}

.negritas {
    color: black;
    font-weight: bolder;
}

/* imagen */

.contenedor {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

.middle-modal {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
}

.imagen{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 300px;
    width: 300px;
}

.contenedor:hover .imagen {
    opacity: 0.3;
}
  
.contenedor:hover .middle-modal {
    opacity: 1;
}

.boton {
    padding: 10px;
    background: #FF1DBD;
    color: white;
    border-radius: 20px
}

hr {
    height: 3px !important;
    width: 50% !important;
    background: #FF1DBD !important;
    display: block !important;
    margin-top: none;
  }

.contendorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E6E5E5;
    border-radius: 15px;
    width: 90%;
    min-height: 70px;
}

.buttonCoupon{
    --background: linear-gradient(90deg, #F761CC 0%, #FF7859 100%);
    --color: #fff;
    width: 65vw;
}

.buttonInf{
    /* background: linear-gradient(90deg, #F761CC 0%, #FF7859 100%); */
    /* color: #fff; */
    border: 2px solid #eb445a; /* Borde de 2 píxeles de ancho y color rojo */
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 40vw;
    min-height: 7vw;
    margin-top: 2px;
    justify-content: center;
    /* cursor: pointer; */
    /* text-decoration: none; */
}

.contendorSecundario{
    background-color: #E6E5E5;
    border-radius: 15px;
    width: 90%;
    min-height: 70px;
}

.contenedorTer{
    background-color: #E6E5E5;
    border-radius: 15px;
    width: 90%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.customCol{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical-line{
    background-color: white;
    width: 3px; /* Ancho de la línea */
    height: 130px;
    position: absolute;
    left: 50%;
    top: 75%;
}
