.sinMargin {
    margin: 0;
    color: black;
}

.promocion {
    font-size: 16px;
    font-weight: bold;
}

.modal-overlayPromocion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: bold;
    color:  #FF1DBD;
    font-size: 18px;
}

.rosa {
    color: #FF1DBD;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

.lista {
    display: flex;
    justify-content: space-between;
}

.list {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.negritas {
    color: black;
    font-weight: bolder;
}

/* imagen */

.contenedor {
    position: relative;
}

.middle-modal {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
}

.contenedor:hover .image {
    opacity: 0.3;
}
  
.contenedor:hover .middle-modal {
    opacity: 1;
}

.boton {
    padding: 10px;
    background: #FF1DBD;
    color: white;
    border-radius: 20px
}

hr {
    height: 3px !important;
    width: 50% !important;
    background: #FF1DBD !important;
    display: block !important;
    margin-top: none;
  }
