<!--app-header message="Detalle de producto" [backButton]="false" [closeButton]="true" (closeResponse)="closeDetail()">
</app-header>
<app-loader #loaderProduct [loader]="loader" message="Cargando detalles del producto"></app-loader>
<ion-content fullscreen *ngIf="!loader"-->
  <ion-header translucent>
    <ion-toolbar class="tolbar">
        <ion-title mode="ios">Detalles del producto</ion-title>
        <ion-buttons slot="end" (click)="cerrar()">
            <ion-button class="blanco customExit">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <app-spinner #loaderProduct [loader]="loader" message="Cargando detalles del producto"></app-spinner>
  <ion-content [fullscreen]="true" *ngIf="!loader" [scrollEvents]="true">
    <ion-card>
        <ion-grid class="ion-text-center">
            <app-slider-images #sliderImages [productImages]="product.images"></app-slider-images>
            <ion-row>
                <div class="controlesGrid">        
                  <div class="back" [class]="prodEnPos > 0 ? 'back' : 'arrowsDeactivated'">                  
                    <ion-icon (click)="back()" name="chevron-back-outline" size="large"></ion-icon>        
                  </div>
                  <div class="next" [class]="prodEnPos == this.lstProductos?.length-1 ? 'arrowsDeactivated' : 'back'">
                    <ion-icon (click)="next()" name="chevron-forward-outline" size="large"></ion-icon>           
                  </div>
                </div>      
              </ion-row>
            <ion-label class="alert-images-message">
                <span class="alert-required">*</span> Algunas imágenes sólamente son usadas con fines ilustrativos. El
                producto final puede no estár representado con exactitud por las mismas
            </ion-label>
        </ion-grid>
        <ion-card-header>
            <ion-card-subtitle class="text-initial">{{business.name}}</ion-card-subtitle>
            <ion-card-title class="text-initial text-pink"><strong>{{ product.name }}</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-initial">
            {{ product.description }}
        </ion-card-content>
        <ion-row>
            <app-like-product [productLike]="productLike"></app-like-product>
        </ion-row>
        <ion-card-content>
            <ion-label [ngClass]="{'text-pink': existPrice}" class="price">
                <h2> {{ price }}</h2>
            </ion-label>
        </ion-card-content>
        <ion-card-content>
            <ion-label class="exist"> {{ exist }} </ion-label>
        </ion-card-content>
        <ion-row *ngIf="visibility">
            <ion-col>
                <ion-chip class="border-solid customChip" *ngIf="purchase else notPurchase" (click)="addProduct()">
                    <ion-icon class="text-pink" role="img" name="bag-add-outline"></ion-icon>
                    <ion-label class="text-pink"> {{purchaseMessage}} </ion-label>
                </ion-chip>
                <ng-template #notPurchase>
                    <ion-chip  class="customChip" (click)="changePurchaseMessage()">
                        <ion-icon role="img" class="text-grey" name="bag-add-outline"></ion-icon>
                        <ion-label class="text-grey">{{purchaseMessage}}</ion-label>
                    </ion-chip>
                </ng-template>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-item lines="none">
                <ion-label>Vendido por </ion-label>
            </ion-item>
        </ion-row>
        <ion-button (click)="showMore()" class="bg-naranja" mode="ios" expand="block" fill="clear" shape="round">
            {{business.name}} <ion-icon slot="end" name="storefront-outline"></ion-icon>
        </ion-button>

        
    </ion-card>
</ion-content>
