<!--<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons (click)="regresar()" slot="start">
      <ion-button>
        <ion-icon class="ion-float-left " name="chevron-back-outline"  ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mis productos favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>

    <ion-grid style="background-color: white;" *ngIf="tamanoLista === 0">
        <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
                <ion-badge color="warning">Aún no tienes productos favoritos</ion-badge>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-list>
        <ion-item *ngFor="let producto of listaProductos" class="item  in-list ion-focusable hydrated item-label">
            <ion-avatar #datos (click)="abrirProducto(producto)" slot="start"><img
                    src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png"
                    [srcset]="producto.imagen"></ion-avatar>
            <ion-label class="hydrated" #datos (click)="abrirProducto(producto)">
                <h3>{{producto.nombre}}</h3>
                <p> {{(producto.nombre_categoria1 != null) ? producto.nombre_categoria1 : 'Sin
                    categoría'}} </p>
                <p color="success">${{(producto.precio != '') ? ((producto.precio !=
                    null) ? producto.precio : 'Sin precio') : 'Sin precio'}}</p>
                <p>{{(producto.descripcion != null) ? producto.descripcion : 'Sin descripción'}}</p>
                <ion-badge color="primary">{{producto.tipo}}</ion-badge>
                <ion-badge color="medium">{{(producto.ubicacion !=
                    null) ? producto.ubicacion.nombre_localidad : 'Sin ubicación'}}
                </ion-badge>
            </ion-label>

            <ion-chip class="ion-margin-start  ion-activatable hydrated" (click)="darDislike(producto)"
                      *ngIf="motrarContacto">
                <ion-icon class="text-rosa heartLike hydrated" role="img" name="heart" aria-label="dollar">
                </ion-icon>
                <ion-label class="hydrated">{{ producto.likes }}</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>

</ion-content>
