.eventoContenido {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 15px;
    border-radius: 15px;
    width: 93vw;
}

.eventAso {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.eventoForm {
    max-width: 100%;
}

ion-button,
button {
    border-radius: 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.avatar-upload>.avatar-edit>input {
    display: none;
}

.avatar-edit {
    position: absolute;
    right: 4px;
    top: 10px;
    z-index: 1;
}

.avatar-upload>.avatar-edit>label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatar-upload>.avatar-edit>label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload>.avatar-edit>label:after {
    //content: "\f030";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload {
    text-align: center;
    position: relative;
    max-width: 170px;
    margin: 0px auto;
}

.avatar-preview {
    width: 150px;
    height: 150px;
    // position: relative;
    border-radius: 100%;
    border: 3px solid #a1a1a1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    // right: -12vh;
    background-image: url(https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg);
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: contain;
}

.avatar-preview>div {
    width: 100% !important;
    height: 100% !important;
    border-radius: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.aso {}

ion-label {
    width: 80vw !important;
}

#eventoH1 {
    width: auto;
}


.bg {
    background-color: antiquewhite;
    max-width: 150px;
    min-width: 150px;
}