.spinner-color {
  --color: #fa4f72;
}

.fondo-buttom-border {
  border-bottom: solid gray;
}

.icon{
  filter: invert(46%) sepia(58%) saturate(2551%) hue-rotate(317deg) brightness(97%) contrast(102%);
}