.spinner-color {
  --color: #FF1DBD;
}

.fondo-buttom-border {
  border-bottom: solid gray;
}

.icon{
  filter: invert(46%) sepia(58%) saturate(2551%) hue-rotate(317deg) brightness(97%) contrast(102%);
}

.customExit{
  font-size: 22px;
}
