.arriba {
  position: relative;
  top: -7px;
  height: 20px;
  width: 20px;
}

.restriccion {
  // color: red;
  font-size: 10px;
  line-height: 10px;
  // padding: 0 18px;
  text-align: justify;
}

ion-item {
  --border-radius: 34px;
  --background: linear-gradient(90deg, rgb(255, 29, 189 ) 0%, rgb(255, 206, 0) 100%);
  color: white;
  padding-bottom: 10px;
}

.headersize {
  font-size: 2rem;
}

.numeroLike {
  font-size: 1.5rem;
  position: relative;
}

.texto-titulo{
  color: #ff1dbd ;
}