.arriba {
  position: relative;
  top: -7px;
  height: 20px;
  width: 20px;
}

.restriccion {
  // color: red;
  font-size: 10px;
  line-height: 10px;
  // padding: 0 18px;
  text-align: justify;
}

ion-item {
  --border-radius: 34px;
  --background: linear-gradient(90deg, rgb(255, 29, 189 ) 0%, rgb(255, 206, 0) 100%);
  color: white;
  padding-bottom: 10px;
}

.headersize {
  font-size: 2rem;
}

.numeroLike {
  font-size: 1.5rem;
  position: relative;
}

.texto-titulo{
  color: #ff1dbd ;
}

ion-card {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 20px;
}

.custom-card-content {
  padding: 5px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.content-description {
  margin-bottom: 10px;
  font-size: 18px;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ff9925 0%, #ffce00 100%);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.icon-wrapper ion-icon {
  font-size: 30px;
  color: white;
}

.show-full {
  overflow: visible !important; /* Forzar el despliegue completo */
  text-align: justify;
}

.btnDescripcion {
  display: inline-block;
  margin: 0;
}