<ion-header>
    <ion-toolbar class="tolbar">
        <ion-title>Información</ion-title>
        <ion-buttons slot="end" (click)="cerrarModal()">
            <ion-button>
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-text color="secondary">
                    <h1>{{datos.nombre}}</h1>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <img style="max-height: 20em" [srcset]="datos.imagen"
                     src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-badge *ngIf="datos.existencia === true" color="primary">Aun con existencia</ion-badge>
                <ion-badge *ngIf="datos.exitencia === false" color="danger">Sin existencia</ion-badge>
            </ion-col>
            <ion-col class="ion-text-right">
                <h1 style="margin: 0px">{{datos.precio | currency}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-justify">
                <p>{{datos.descripcion}}</p>
            </ion-col>
        </ion-row>
        <ion-row  *ngIf="mostrarComponente">
            <ion-col class="ion-text-center">
            <ion-label>Cantidad:</ion-label>
        </ion-col>
        </ion-row>
        <ion-row *ngIf="mostrarComponente">
            <ion-col class="ion-text-center">
                <ion-button size="small" color="light" (click)="aumentarDismuir(1)">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
                <ion-label>{{cantidadProducto}}</ion-label>
                 <ion-button size="small" color="light" (click)="aumentarDismuir(2)">
                    <ion-icon name="remove-outline"></ion-icon>
                 </ion-button>
        </ion-col>
        </ion-row>
        <ion-row *ngIf="mostrarComponente">
            <ion-col>
                <ion-button [disabled]="this.cantidadProducto === 0 " expand="block" (click)="agragarproducto()">Agregar a la Bolsa
                    <ion-icon name="bag-add-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
