/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



/*Custom css*/
.d-block{
  display: block;
}

.w-100{
  width: 100%;
}

.h-100{
  width: 100%;
}

ion-tab-button{
  //background: transparent;
  //color: #fff;
}
ion-tab-bar{
  //background: linear-gradient(90deg,#fa4f72,#a74eef);
}
ion-toolbar {
  --background: linear-gradient(90deg,#fa4f72,#a74eef);
  --color: white; 
}
ion-content{
--background: #f2f2f2;
}

.backgroundgris{
  --background: #f2f2f2;
}

ion-segment-button{
  color: white;
}
.bg-rosa{
  --background: linear-gradient(90deg,#fa4f72,#a74eef);
}
.searchbar-input-container.sc-ion-searchbar-md{
  --border-radius: 9em ;
    color: #fa4f72;
}
.searchbar-search-icon.sc-ion-searchbar-md, .searchbar-cancel-button.sc-ion-searchbar-md{
  color: #fa4f72;
}

.searchbar-clear-icon.sc-ion-searchbar-md{
  color: #a74eef;
}

.spin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

.m-0{
  margin: 0px 0px 10px 0px;
}

.fixed{
  height: 350px;
}

.img-card-w{
  width: 100%;
}


ion-fab {
  z-index: 99999;
}
