/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



/*Custom css*/
.d-block{
  display: block;
}

.w-100{
  width: 100%;
}

.h-100{
  width: 100%;
}

ion-back-button{
  --color: white;
}

.tolbar{
  --background: linear-gradient(90deg,#fa4f72,#a74eef) !important;
  --color: white !important;
}

ion-menu-button{
 color: white;
}

.tolbar ion-button{
  --color: white;
}

ion-content{
--background: #f2f2f2;
}
.bg-gris{
  --background: #f2f2f2;
}
.bgs-gris{
  background: #f2f2f2;
}
.backgroundgris{
  --background: #f2f2f2;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios{
  background: white;
}
.blanco{
  --color:white;
}
.bg-rosa{
  --background: linear-gradient(90deg,#fa4f72,#a74eef);
  color: white;
}
.searchbar-input-container.sc-ion-searchbar-md{
  --border-radius: 9em ;
    color: #fa4f72;
}
.searchbar-input-container.sc-ion-searchbar-ios{
  height: 36px;
  position: relative;
  bottom: -8px;
  --border-radius: 9em;
    color: #fa4f72;
}
.searchbar-search-icon.sc-ion-searchbar-md, .searchbar-cancel-button.sc-ion-searchbar-md{
  color: #fa4f72;
}
.searchbar-search-icon.sc-ion-searchbar-ios, .searchbar-cancel-button.sc-ion-searchbar-ios{
  color: #fa4f72;
}

.searchbar-clear-icon.sc-ion-searchbar-md{
  color: #a74eef;
}

.searchbar-clear-icon.sc-ion-searchbar-ios{
  color: #a74eef;
}

ion-avatar.md.hydrated{
  --border-radius: 50%;
  width: 52px;
  height: 52px;
  position: relative;
}


.spin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

.m-0{
  margin: 0px 0px 10px 0px;
}

.fixed{
  height: 350px;
}

.img-card-w{
  width: 100%;
}


ion-fab {
  z-index: 99999;
}
