.close {
    --color: white;
    font-size: 15px;
    margin-right: 10px;
}

.loader-pdf {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.contenedor-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.icono-pdf {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(223, 85, 85);
    border: 1px solid rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    background-color: #fa4f72;
    color: white;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}