.close {
    --color: white;
    font-size: 15px;
    margin-right: 10px;
}

.loader-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.icono-pdf {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    display: flex;
    justify-content: center;
}

.eliminarCarta {
    padding-left: 15px;
}

.boton {
    background-color: #fa4f72;
    color: white;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

ion-modal {
    --background: rgba(44, 39, 45, 0.2);

    &::part(content) {
        backdrop-filter: blur(6px);
    }

    ion-content {
        --background: transparent;
        --padding-start: 20px;
        --padding-top: 25vh;
        --padding-end: 20px;

        ion-datetime {
            border-radius: 10px;
        }
    }
}