<app-header message="Recuperar Contraseña" [backButton]="false" [closeButton]="true"
  (closeResponse)="responseCloseHeader()"></app-header>
<app-loader [loader]="loader" message="Enviando código"></app-loader>
<ion-content *ngIf="!loader">
  <ion-card>
    <ion-card-header>
      <form (ngSubmit)="recoverPassword(formRecover)" #formRecover="ngForm">
        <ion-grid class="ion-text-center">
          <h4>Restaurar contraseña</h4>
        </ion-grid>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="username" id="user" name="user" #validateUser="ngModel" [(ngModel)]="user"
              placeholder="Correo o número celular" required></ion-input>
          </ion-item>
          <app-show-alert-form [validation]="validateUser" message="Agregue un correo o número"></app-show-alert-form>
          <ion-button mode="ios" type="submit" expand="block" class="bg-naranja" [disabled]="formRecover.invalid">Enviar</ion-button>
        </ion-list>
      </form>
    </ion-card-header>
  </ion-card>
</ion-content>
