ion-menu::part(backdrop) {
    background-color: rgb(80 80 81);
}

ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    // box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

.bgToolbar {
    --background: linear-gradient(90deg, #F761CC 0%, #FF7859 100%);
    --color: #fff;
}

.menuTitle {
    display: flex;
}

.menuTitle img {
    height: 50px;
    width: 50px;
    margin: 5px 0px 5px 5px;
}

.menuTitle ion-title span {
    font-size: medium;
}

ion-content {
    --background: none;
}

// --ion-item-background: none;
//#FFBF00


.opcion {
    /* --background: linear-gradient(90deg, #FFBF00 0%, #E19925 100%); */
    --background: linear-gradient(90deg, #FFBF00 0%, #FF7859 100%);
    border-radius: 0px 15px 15px 0px;
    margin-bottom: 1px;
    color: #fff;
}

ion-icon {
    color: #fff;
    margin-right: 5px;
}