<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title> <span *ngIf="syp == 1">Nueva </span> Clasificación
      <span *ngIf="iden== 1 && syp == 2">
        productos
      </span>
      <span *ngIf="iden== 2 && syp == 2" >
        servicios
      </span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()" class="blanco">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-title class="cent"> Carta de <span *ngIf="iden== 1">productos</span> <span *ngIf="iden== 2">servicios</span>
        </ion-title>
    </ion-item>
<ion-card-header>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">Nombre de la Categoria</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button expand="block" type="submit" *ngIf="syp == 1" class="bg-rosa"> Guardar </ion-button>
  <ion-button expand="block" type="submit" *ngIf="syp == 2" class="bg-rosa" >Actualizar</ion-button>
</ion-card-header>
  </ion-card>
  

  <ion-card>
    <ion-item lines="none">
      <ion-title class="cent">
        <span *ngIf="iden== 1">Productos</span>
          <span *ngIf="iden== 2">Servicios</span>
           registrados: 
        </ion-title>
    </ion-item>
    <ion-card-header>
      <ion-button (click)="datosProductosServicios(2)" expand="block" type="submit" class="bg-rosa"> Agregar </ion-button>
    </ion-card-header>
    <ion-card-header>
      <ion-item (click)="datosProductosServicios(3)" lines="full">
        <ion-label>
          <h3></h3>
          <h2>Producto de software modalidad de servicio</h2>
          <p></p>
        </ion-label>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
  </ion-card>
  
</ion-content>
