<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title class="cent">Mi Codigo QR</ion-title>
    <ion-buttons slot="end" >
      <ion-button class="blanco" (click)="regresar()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h2>{{negocioTO.nombre_comercial}}</h2>
  </div>
  <qrcode  class="ion-text-center" #qrcode
  [elementType]="elementType"
  [level]="level"
  [colorDark]="colorDark"
  [colorlight]="colorLight"
  [qrdata]="qrdata"
  [scale]="scale"
  [width]="width"
  
></qrcode>
<div  class="ion-text-center">
  <ion-button expand="block" (click)="descargar()">Descargar</ion-button>
</div>
</ion-content>
