.cent{
    text-align: center;
}
::ng-deep app-view-qr img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

#qrcode {
    width: 100vw !important;
    height: 65% !important;
    background-size: 100% 100%;
}
svg{
    visibility: hidden;
    position: absolute;
}
app-view-qr img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
app-view-qr > img {
    width: 100% !important;
    height: 100% !important;;
    background-size: 100% 100% !important;
}
#this_one{
    margin: auto;
}
@media (max-width: 600px){
.unico{
    width: 100%;
}

}

@media (min-width: 631px) and (max-width: 767px){
    .unico{
        width: 8em;
    }   
}