.titulos{
  width: 41% !important;
}

.colorInput{
  width: 80% !important;
  --background: antiquewhite;
  border-radius: 3px;
}

.mostrarDatos{
  background-color: antiquewhite;
  padding: 8px;
  overflow: hidden;
  resize: none;
  pointer-events: none;
  width: 51vw;
  min-height: 10vw;
  border-radius: 3px;
}

.styleInput{
  padding-left: 10px;
}

.noPersonas{
  background-color: antiquewhite;
  color: #1e1c1c;
  border-radius: 3px;
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 5px;

}

.noPersonas1{
  background-color: antiquewhite;
  color: #1e1c1c;
  border-radius: 3px;
  width: 250px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;

}

.selects{
 min-width: 65%;
}


.fechas{
  background-color: antiquewhite;
  color: #1e1c1c;
  border-radius: 3px;
  width: 60vw;
  height: 30px;
  text-align: center;
  padding: 5px;
}

.centro{
  margin-left: 7px;
}
.inputP{
  text-align: center;
  width: 80px;
  margin-bottom: 10px;
  --background: #FFFAF0;
  border-radius: 3px;
}

.buttonReservacion{
  display: inline-block;
  padding: 8px 16px;
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.buttonReservacion:hover {
  background-color: #d4d4d4;
}

#miInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

