.titulos{
  width: 40% !important;
  display: inline-block;
  margin-left: -9px;
}

.colorInput{
  width: 80% !important;
  --background: antiquewhite;
  border-radius: 3px;
}

.mostrarDatos{
  background-color: #C8C8C8;
  padding: 8px;
  overflow: hidden;
  resize: none;
  pointer-events: none;
  width: 51vw;
  min-height: 10vw;
  border-radius: 20px;
}

.styleInput{
  padding-left: 10px;
}

.noPersonas{
  background-color: #C8C8C8;
  color: #1e1c1c;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin-right: 15px;
}

.noPersonas1{
  background-color: #D8D8D8;
  color: #1e1c1c;
  border-radius: 3px;
  width: 230px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}

.selects{
 min-width: 69%;
}

.centro{
  margin-left: 7px;
}
.inputP{
  text-align: center;
  width: 110px;
  height: 8vw;
  --background: #C8C8C8;
  border-radius: 20px;

}

#miInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.customExit{
  font-size: 22px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.contenedorEvento{
  background-color: #EAEAEA;
  border-radius: 15px;
  width: 95%;
  min-height: 70px;
}

.buttonEvento{
  --background: linear-gradient(90deg, #F761CC 0%, #FF7859 100%);
  --color: #fff;
  width: 65vw;
}

.buttonEv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 9px;
}

