.titulos{
  width: 41% !important;
}

.mostrarDatos{
  background-color: antiquewhite;
  padding: 8px;
  overflow: hidden;
  resize: none;
  pointer-events: none;
  width: 51vw;
  min-height: 10vw;
  border-radius: 3px;
}
