.titulos{
  width: 41% !important;
}

.mostrarDatos{
  background-color: antiquewhite;
  padding: 8px;
  overflow: hidden;
  resize: none;
  pointer-events: none;
  width: 51vw;
  min-height: 10vw;
  border-radius: 3px;
}

.mensajeReservacion{
  /*background-color: antiquewhite;*/
  padding: 8px;
  /* overflow: hidden; */
  /* resize: none; */
  /* pointer-events: none; */
  /* width: 55vw; */
  /* min-height: 10vw; */
  /*border-radius: 3px;*/
  text-align: center;
  /* margin-bottom: 1px; */
  margin-top: 1vw;
}

.labelEventos{
  display: flex;
  justify-content: center;
  text-align: center;
}

.customExit{
  font-size: 22px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
