.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .item {
    flex: 0 0 auto;
  }
  .active{
    box-shadow: 0px 5px 0px blue;
  }
}

.sizeHeartText {
  font-size: 12px;
}
.heart{
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 7px;
}
.no-results{
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  display: grid;
}

.btn-float {
  margin-bottom: 20px;
}

.customAbc{
  width: 40px;
  height: 38px;
}
