<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="cordenada = $event.detail.scrollTop">

    <app-boton-top [content]="content" [cordenada]="cordenada"></app-boton-top>
    <ion-header collapse="condense">

    </ion-header>


    <!--<ion-searchbar></ion-searchbar>-->
    <app-toolbar-busqueda placeHolder="Buscar negocios" (buscarEmit)="buscarToolbar($event)"></app-toolbar-busqueda>
    <ion-item>
        <ion-buttons *ngIf=" filtroActivo" slot="start">
            <ion-chip (click)="borrarFiltros()" color="danger">
                <ion-icon name="trash-outline" color="danger"></ion-icon>
                <ion-label>Borrar Filtros</ion-label>
            </ion-chip>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="abrirFiltros()">Filtrar
                <ion-icon name="filter-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
    <div id="abcedario" class="scrolling-wrapper-flexbox">
        <div class="item" *ngFor="let filtro of filtroABC">
            <ion-button size="small" color="danger" (click)="filtrarABC(filtro)"
                        [ngClass]="{active:filtro.id === filtroCheckend}" [disabled]="!filtro.activo">
                {{filtro.letra}}
            </ion-button>
        </div>
    </div>
    <ion-list>
        <ion-item *ngFor="let producto of lstProductos" class="item  in-list ion-focusable hydrated item-label">
            <ion-avatar #datos (click)="abrirProducto(producto)" slot="start"><img
                    src="https://ecoevents.blob.core.windows.net/comprandoando/img_default/Producto.png"
                    [srcset]="producto.imagen"></ion-avatar>
            <ion-label class="hydrated" #datos (click)="abrirProducto(producto)">
                <h3>{{producto.nombre}}</h3>
                <p> {{(producto.nombre_categoria1 != null)?producto.nombre_categoria1:'Sin
                    categoría'}} </p>
                <p color="success">${{(producto.precio != '')?((producto.precio !=
                    null)?producto.precio:'Sin precio'):'Sin precio'}}</p>
                <p>{{(producto.descripcion != null)?producto.descripcion:'Sin descripción'}}</p>
                <ion-badge color="primary">{{producto.tipo}}</ion-badge>
                <ion-badge color="medium">{{(producto.ubicacion !=
                    null)?producto.ubicacion.nombre_localidad:'Sin ubicación'}}
                </ion-badge>
            </ion-label>

            <ion-chip class="ion-margin-start  ion-activatable hydrated" (click)="darLike(producto)"  *ngIf="motrarContacto">
                <ion-icon *ngIf="producto.usuario_dio_like > 0; else like" class="text-rosa heartLike hydrated" role="img"
                          name="heart" aria-label="dollar">
                </ion-icon>
                <ng-template #like>
                    <ion-icon name="heart-outline" role="img" class="md hydrated heartNotLike"
                              aria-label="logo ionic"></ion-icon>
                </ng-template>
                <ion-label class="hydrated">{{ producto.likes }}</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="scroll">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Cargando mas productos...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
