<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-menu-button></ion-menu-button>-->
<!--    </ion-buttons>-->
<!--    <ion-title>-->
<!--      Productos-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->
<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Productos</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="cube-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <app-explore-container name="productos"></app-explore-container>
</ion-content>
