
img {
    height: 130px;
    border-radius: 50%;
    bottom: calc(-1*(14px + 4px));
    border: 3px solid #a1a1a1;
    background-color: #fff;
}

.imagen{
    width: 130px;
    background: url(https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg);
    background-size: 130px 130px;
}


ion-card-content div ion-icon{
    font-size: 21px;
}