<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title> Perfil</ion-title>
    <ion-buttons *ngIf="usuario !== null" slot="start">
      <ion-menu-button menu="menuUsuario"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" class="btns-tool-end">
      <ion-button (click)="abrirPaginaNotificaciones()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-badge class="badge"
        *ngIf="(numNotifiSinLeer != 0 && numNotifiSinLeer != undefined)">{{numNotifiSinLeer}}</ion-badge>
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="usuario !== null">
  <ion-card style="margin-bottom: 3%">
    <div class="ion-text-center ion-margin-top" [routerLink]="['/tabs/home/datos-basicos']">
      <img *ngIf="usuario.imagen !== ''" class="rounded-circle" [src]="usuario.imagen" alt="" />
      <img *ngIf="usuario.imagen === ''" class="imagen" alt="" />
    </div>
    <ion-card-header class="ion-text-center">
      <ion-card-title>
        <h4 style="margin-top: -10px">
          {{usuario.nombre}} {{usuario.paterno}} {{usuario.materno}}
        </h4>
      </ion-card-title>
      <ion-label>{{usuario.celular}}</ion-label>
      <br />
      <ion-label>{{usuario.correo}}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="misNegocios" [routerLink]="['/tabs/home/negocio']">
            <ion-card>
              <ion-card-content class="tamanioCard">
                <div class="ion-text-center">
                  <ion-icon name="briefcase-outline"></ion-icon>
                  <h2>Mis negocios</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="misAPromociones" (click)="misPromociones()">
            <ion-card>
              <ion-card-content class="tamanioCard">
                <div class="ion-text-center">
                  <ion-icon name="pricetags-outline"></ion-icon>
                  <h2>Mis anuncios y promociones</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="generarSolicitud" (click)="misSolicitudes()">
            <ion-card>
              <ion-card-content class="tamanioCard">
                <div class="ion-text-center">
                  <ion-icon name="document-text-outline"></ion-icon>
                  <h2>Mis requerimientos de compra</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="misVentas">
            <ion-card class="tamanioCard">
              <ion-badge *ngIf="siNoVistos" class="total-vistos" color="danger">{{totalNoVistos}}</ion-badge>
              <ion-card-content>
                <div class="ion-text-center" [routerLink]="['/tabs/home/ventas']">
                  <ion-icon name="receipt-outline"></ion-icon>
                  <h2>
                    Mis
                    <br />
                    ventas
                  </h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="misCompras">
            <ion-card>
              <ion-card-content class="tamanioCard">
                <div class="ion-text-center" [routerLink]="['/tabs/home/compras']">
                  <ion-icon name="bag-handle-outline"></ion-icon>
                  <h2>Mis compras</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <!-- <ion-col *ngIf="solicitudes">
            <ion-card>
              <ion-card-content>
                <div
                  class="ion-text-center"
                  [routerLink]="['/tabs/home/solicitud']"
                >
                  <ion-icon name="receipt-outline"></ion-icon> 
                   <ion-icon name="heart-outline"></ion-icon> 
                  <h2>Requerimientos de compra</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>-->

          <!-- <ion-col *ngIf="estadisticas">
            <ion-card>
              <ion-card-content>
                <div class="ion-text-center" [routerLink]="['/tabs/home/estadisticas']">
                  <ion-icon name="analytics-outline"></ion-icon>
                  <h2>Estadísticas</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col> -->

          <ion-col>
            <ion-card>
              <ion-card-content class="tamanioCard">
                <div class="ion-text-center" [routerLink]="['/tabs/home/preferencias']">
                  <ion-icon name="calendar-clear-outline"></ion-icon>
                  <h2>Mis preferencias</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col *ngIf="misNegocios">
            <ion-card>
              <ion-card-content class="tamanioCard">
                <div class="ion-text-center" [routerLink]="['/tabs/mis-eventos']">
                  <ion-icon name="document-lock-outline"></ion-icon>
                  <h2>Mis eventos</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <ion-card-content class="tamanioCard">
                <div class="ion-text-center" [routerLink]="['/tabs/home/privacidad']">
                  <ion-icon name="document-lock-outline"></ion-icon>
                  <h2>Aviso de privacidad y cuenta</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid class="c-gris">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <small>Versión {{this.versionActualSistema}}</small>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <small>Release date: {{releaseDate}}</small>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <small class="bg-gris">Copyright © Bitoo (Softura Solutions) 2020.</small>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>