.circulo-redondo {
  height: 130px;
  border-radius: 50%;
  bottom: calc(-1 * (14px + 4px));
  border: 3px solid #a1a1a1;
  background-color: #fff;
  width: 130px;
}

.btns-tool-end {
  position: relative;
}

.badge {
  position: absolute;
  top: 2px;
  left: 20px;
  font-size: 12px;
  background: red;
  color: white;
  border-radius: 50px;
}

.bolsa{
  background: red;
  margin-bottom: 13px;
  border-radius: 10px;
}

.imagen {
  width: 130px;
  background: url(https://ecoevents.blob.core.windows.net/comprandoando/avatar.jpg);
  background-size: 130px 130px;
}

ion-card-content div ion-icon {
  font-size: 21px;
}

.total-vistos {
  position: absolute;
  top: 2px;
  left: 1px;
  font-size: 12px;
  border-radius: 50px;
}

.tamanioCard {
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgs{
  width: 50px;
  height: 50px;
}
