<ion-header>
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Perfil
    </ion-title>
    <ion-buttons slot="end" (click)="presentActionSheet()">
    <ion-icon  name="ellipsis-vertical-outline"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-content fullscreen *ngIf="usuario !== null">
  <ion-card style="height: 100%;">
    <div class="ion-text-center ion-margin-top">
    <img *ngIf="usuario.imagen !== ''"  class="rounded-circle" [src]="usuario.imagen"   alt="">
    <img *ngIf="usuario.imagen === ''" class="imagen" alt="" >
  </div>
    <ion-card-header class="ion-text-center">
      <ion-card-title>
        <h4 style="margin-top: -10px;">{{usuario.nombre}}  {{usuario.paterno}}  {{usuario.materno}}</h4></ion-card-title>
      <ion-label>{{usuario.telefono}}</ion-label>
      <br>
      <ion-label>{{usuario.correo}}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <div  style="display: flex; justify-content: center; align-items: center;">
        <ion-list>
          <ion-item (click)="misPromociones()">
            <ion-card>
              <ion-card-content>
                <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                  <ion-icon name="pricetags-outline" style="font-size: 30px; margin-right: 10px;"></ion-icon>
                  <h2>Mis promociones</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-item>
          <ion-item (click)="misSolicitudes()">
            <ion-card>
              <ion-card-content>
                <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                  <ion-icon name="document-text-outline" style="font-size: 30px; margin-right: 10px;"></ion-icon>
                  <h2>Mis solicitudes</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
