#modalPromo{
    width: 30%;
    --background: #dfdfdf;
    color: #000;
    --border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
}

.seccionBotones{
    width: 100%;
    display: flex;
}

.seccionBotones ion-button{
    width: 50%;
}

ion-modal {
    --height: 59%;
    --width: 70%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal ion-toolbar {
    --background: linear-gradient(90deg, #ff1dbd 0%, rgb(255, 206, 0) 100%);
    --color: white;
}