<ion-content fullscreen class="ion-padding" scroll-y="true">
    <ion-slides>

        <ion-slide>
            <div class="slide slide-mis-favoritos">
                <!--<ion-icon class="text-rosa" name="fast-food-outline" style="zoom:12.0;"></ion-icon>-->
                <img src="https://ecoevents.blob.core.windows.net/comprandoando/logos/slide-2.png"/>
                <h2>Mis productos favoritos</h2>
                <!--<p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a
                    demonstration of proper code use.</p>-->
                <ion-button expand="block" fill="outline" type="submit" class="boton-ver" (click)="abrirProductosFavoritos()">
                    Ver
                </ion-button>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide slide-mis-favoritos" style="padding-top: 6rem;">
                <!--<ion-icon class="text-rosa" name="storefront-outline" style="zoom:12.0;"></ion-icon>-->
                <img src="https://ecoevents.blob.core.windows.net/comprandoando/logos/slide-3.png"/>
                <h2>Mis negocios favoritos</h2>
                <!--<p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile
                    apps
                    with web technologies like HTML, CSS, and JavaScript.</p>-->
                <ion-button expand="block" fill="outline" type="submit" class="boton-ver">
                    Ver
                </ion-button>
            </div>
        </ion-slide>

    </ion-slides>

</ion-content>

